<div class="custom-body">
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <form nz-form class="staff-form" [nzLayout]="systemPreferenceForm.get('formLayout')?.value"
                [formGroup]="systemPreferenceForm">
                <nz-tabset>
                    <nz-tab nzTitle="General Setting">
                        <div nz-row class="tabStyle">
                            <div nz-col [nzSpan]="24">
                                <div nz-row class="form_section">
                                    <div nz-row class="full-width-container">
                                        <div nz-col [nzSpan]="24">
                                            <h6 class="section-head">Default Setting</h6>
                                        </div>
                                    </div>
                                    <div nz-row [nzGutter]="24" class="full-width-container">
                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Fiscal Year</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Fiscal Year">
                                                    <input nz-input type="text" formControlName="fiscalYear"
                                                        placeholder="Fiscal Year"
                                                        [(ngModel)]="defaultSetting.fiscalYear" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Current Year</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Current Year">
                                                    <input nz-input type="text" formControlName="currentYear"
                                                        placeholder="Current Year"
                                                        [(ngModel)]="defaultSetting.currentYear" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Semester</nz-form-label>
                                                <nz-form-control>
                                                  <nz-select nzShowSearch nzAllowClear formControlName="semFall"
                                                             nzPlaceHolder="Semister Fall"
                                                             [(ngModel)]="defaultSetting.semester">

                                                  <nz-option *ngFor="let sl of semesterList" [nzLabel]="sl.longpullna" [nzValue]="sl.longpullna">
                                                  </nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Component</nz-form-label>
                                                <nz-form-control>

                                                  <nz-select nzShowSearch nzAllowClear formControlName="component"
                                                             nzPlaceHolder="Component"
                                                             [(ngModel)]="defaultSetting.component">

                                                    <nz-option *ngFor="let cl of componentList" [nzLabel]="cl.longpullna" [nzValue]="cl.longpullna">
                                                    </nz-option>

                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Time Out</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Time Out">
                                                    <input nz-input type="text" formControlName="timeout"
                                                        placeholder="Time Out" [(ngModel)]="defaultSetting.timeout" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                    </div>

                                    <div nz-row class="marginTop30 full-width-container">
                                        <h6 class="section-head">Report Setting</h6>
                                    </div>
                                    <div nz-row [nzGutter]="24" class="full-width-container">
                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Report Title1</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Report Title1">
                                                    <input nz-input type="text" formControlName="title1"
                                                        placeholder="Report Title1"
                                                        [(ngModel)]="reportSetting.reportTitle" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Report Title2</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Report Title2">
                                                    <input nz-input type="text" formControlName="title2"
                                                        placeholder="Report Title2"
                                                        [(ngModel)]="reportSetting.reportTitle2" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Report Footer</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Report Footer">
                                                    <input nz-input type="text" formControlName="reportFooter"
                                                        placeholder="Report Footer"
                                                        [(ngModel)]="reportSetting.report_Footer" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                    </div>

                                    <div nz-row class="marginTop30 full-width-container">
                                        <h6 class="section-head">Annual Performance Report Setting</h6>
                                    </div>
                                    <div nz-row [nzGutter]="24" class="full-width-container">
                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Project Director</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Project Director">
                                                    <input nz-input type="text" formControlName="projectDirector"
                                                        placeholder="Project Director"
                                                        [(ngModel)]="annualPerformance.projectDirector" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Institution Name</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Institution Name">
                                                    <input nz-input type="text" formControlName="institutionName"
                                                        placeholder="Institution Name"
                                                        [(ngModel)]="annualPerformance.institutionName" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Reporting Period From</nz-form-label>
                                                <nz-form-control>
                                                    <nz-date-picker class="filter_Datepicker"
                                                        [(ngModel)]="annualPerformance.reportingPeriodFrom"
                                                        nzPlaceHolder="MM/DD/YYYY" formControlName="reportingPeriodFrom">
                                                    </nz-date-picker>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Reporting Period To</nz-form-label>
                                                <nz-form-control>
                                                    <nz-date-picker class="filter_Datepicker"
                                                        [(ngModel)]="annualPerformance.reportingPeriodTo"
                                                        nzPlaceHolder="MM/DD/YYYY" formControlName="reportingPeriodTo">
                                                    </nz-date-picker>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Address</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Address">
                                                    <input nz-input type="text" formControlName="address"
                                                        placeholder="Address" [(ngModel)]="annualPerformance.address" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">City</nz-form-label>
                                                <nz-form-control>

                                                    <nz-select nzShowSearch nzAllowClear formControlName="city"
                                                        nzPlaceHolder="City" [(ngModel)]="annualPerformance.city">
                                                      <nz-option *ngFor="let cl of cityList" [nzLabel]="cl.longpullna" [nzValue]="cl.longpullna">
                                                      </nz-option>

                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">State</nz-form-label>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch nzAllowClear formControlName="state"
                                                        nzPlaceHolder="State" [(ngModel)]="annualPerformance.state">
                                                      <nz-option *ngFor="let sl of stateList" [nzLabel]="sl.longpullna" [nzValue]="sl.longpullna">
                                                      </nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Zip Code</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Zip Code">
                                                    <input nz-input type="text" formControlName="zipCode"
                                                        placeholder="Zip Code"
                                                        [(ngModel)]="annualPerformance.zipCode" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Phone 1</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Phone 1">
                                                    <input nz-input type="text" formControlName="phone1"
                                                        placeholder="Phone 1" [(ngModel)]="annualPerformance.phone1" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Ext</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Ext">
                                                    <input nz-input type="text" formControlName="ext"
                                                        placeholder="Ext" [(ngModel)]="annualPerformance.ext" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Fax</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Fax">
                                                    <input nz-input type="text" formControlName="fax"
                                                        placeholder="Fax" [(ngModel)]="annualPerformance.fax" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Pr Award Number</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Pr Award Number">
                                                    <input nz-input type="text" formControlName="prAwardNumber"
                                                        placeholder="Pr Award Number"
                                                        [(ngModel)]="annualPerformance.prAwardNumber" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">OMB Approval Number</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter OMB Approval Number">
                                                    <input nz-input type="text" formControlName="ombApprovalNumber"
                                                        placeholder="OMB Approval Number"
                                                        [(ngModel)]="annualPerformance.ombApprNumb" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Project Type</nz-form-label>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch nzAllowClear formControlName="programType"
                                                        nzPlaceHolder="Project Type"
                                                        [(ngModel)]="annualPerformance.programType" nzDisabled>
                                                      <nz-option *ngFor="let pt of programTypeList" [nzLabel]="pt.descriptions" [nzValue]="pt.orgType">
                                                      </nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Expiration Date</nz-form-label>
                                                <nz-form-control>
                                                    <nz-date-picker class="filter_Datepicker"
                                                        [(ngModel)]="annualPerformance.expDate"
                                                        nzPlaceHolder="MM/DD/YYYY" formControlName="expirationDate">
                                                    </nz-date-picker>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Funded To Serve</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Funded To Serve">
                                                    <input nz-input type="text" formControlName="fundedToServe"
                                                        placeholder="Funded To Serve"
                                                        [(ngModel)]="annualPerformance.fundedToServe" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Funded To Serve Ratio Threshold
                                                </nz-form-label>
                                                <nz-form-control
                                                    nzErrorTip="Please Enter Funded To Serve Ratio Threshold">
                                                    <input nz-input type="text" class="fundedStyle"
                                                        formControlName="serveRatioThreshold"
                                                        placeholder="Funded To Serve Ratio Threshold"
                                                        [(ngModel)]="annualPerformance.fundToServeRatioThreshould" />
                                                    <span class="funded-percentage">%</span>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">To</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter To">
                                                    <input nz-input type="text" class="fundedStyle"
                                                        formControlName="rationThreshouldTo" placeholder="To"
                                                        [(ngModel)]="annualPerformance.fundToServeRatioThreshouldTo" />
                                                    <span class="funded-percentage">%</span>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                    </div>



                                </div>


                            </div>

                        </div>
                        <!--<div nz-row class="tabStyle-btn">
                        <div nz-col nzSpan="4" nzOffset="20">
                            <a nz-button nzType="link"
                                (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()">Cancel</a>
                            <button nz-button nzType="primary" class="btn-color">SAVE</button>
                        </div>
                    </div> -->
                    </nz-tab>
                    <nz-tab nzTitle="Default Setting">
                        <div nz-row class="tabStyle">
                            <div nz-col [nzSpan]="24">
                                <div nz-row class="form_section">
                                    <div nz-row class="full-width-container">
                                        <div nz-col [nzSpan]="24">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.copyPreviousData"
                                                        formControlName="previousData">Copy The Active, Served and Reported
                                                        Status from Previous year when possible.
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                    </div>
                                    <div nz-row class="full-width-container">
                                        <h6 class="section-head">Default Rules when adding/updating Contacts:</h6>
                                    </div>
                                    <div nz-row [nzGutter]="24"  class="full-width-container">
                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.studentActive"
                                                        formControlName="studentActive">Prompt to mark a student ACTIVE for the fiscal year
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.studentServed"
                                                        formControlName="studentServed">Prompt to mark a student SERVED for the fiscal year
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.studentReported"
                                                        formControlName="studentReported"> Prompt to mark a student REPORTED for the fiscal year
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.addStudentToFiscalYear"
                                                        formControlName="addStudentToFiscalYear">Prompt to ADD a student to the fiscal year
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.updateFirstDateOfService"
                                                        formControlName="updateFirstDateOfService">Update "First Date of Service"
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-control nzErrorTip="">
                                                    <label class="lable-checkbox" nz-checkbox [(ngModel)]="defaultSettingTab.updateLastDateOfService"
                                                        formControlName="updateLastDateOfService">Update "Date of Last Project Service" for the fiscal year
                                                    </label>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                    </div>

                                    <div nz-row [nzGutter]="24"  class="full-width-container">
                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">GPA Scale:</nz-form-label>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch nzAllowClear formControlName="gpaScale"
                                                        nzPlaceHolder="GPA Scale"
                                                        [(ngModel)]="defaultSettingTab.gpaScale">
                                                      <nz-option *ngFor="let gpa of gpaScaleList" [nzLabel]="gpa.longpullna" [nzValue]="gpa.pullId">
                                                      </nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">State Test:</nz-form-label>
                                                <nz-form-control>
                                                    <nz-select nzShowSearch nzAllowClear formControlName="stateTest"
                                                        nzPlaceHolder="State Test"
                                                        [(ngModel)]="defaultSettingTab.stateTest">
                                                        <nz-option nzValue="1" nzLabel="| 1"></nz-option>
                                                        <nz-option nzValue="2" nzLabel="| 2"></nz-option>
                                                    </nz-select>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Age Calculator:</nz-form-label>
                                                <nz-form-control nzErrorTip="Please Enter Age Calculator">
                                                    <input nz-input type="text" formControlName="ageCalculator"
                                                        placeholder="Age Calculator"
                                                        [(ngModel)]="defaultSettingTab.ageCalculator" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>

                                        <div nz-col [nzSpan]="8">
                                            <nz-form-item>
                                                <nz-form-label class="lable-style">Site Location:</nz-form-label>
                                                <nz-form-control>
                                                  <nz-select nzShowSearch nzAllowClear formControlName="siteLocation"
                                                             nzPlaceHolder="Site Location"
                                                             [(ngModel)]="defaultSettingTab.siteLocation">
                                                    <nz-option *ngFor="let sll of siteLocationList" [nzLabel]="sll.longpullna" [nzValue]="sll.longpullna">
                                                    </nz-option>
                                                  </nz-select>
                                                </nz-form-control>

<!--                                                <nz-form-control nzErrorTip="Please Enter Site Location">-->
<!--                                                    <input nz-input type="text" formControlName="siteLocation"-->
<!--                                                        placeholder="Site Location"-->
<!--                                                        [(ngModel)]="defaultSettingTab.siteLocation" class="disInputStyle" readonly />-->
<!--                                                </nz-form-control>-->
                                            </nz-form-item>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--<div nz-row class="tabStyle-btn">
                        <div nz-col nzSpan="4" nzOffset="20">
                            <a nz-button nzType="link"
                                (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()">Cancel</a>
                            <button nz-button nzType="primary" class="btn-color">SAVE</button>
                        </div>
                    </div> -->
                    </nz-tab>
                </nz-tabset>
            </form>
            <!--new-->
            <div nz-row class="tabStyle-btn">
                <div nz-col nzSpan="4" nzOffset="20">
                    <a nz-button nzType="link" (click)="cancelClick()">Cancel</a>
                    <button nz-button nzType="primary" class="btn-color" (click)="addSystemPreferences()">SAVE</button>
                </div>
            </div>
            <!--end-->
        </div>
    </div>
</div>
