
<div class="main-container">
<div class="container-fluid" style="background:#EFF4F8;">
  <div class="row bg-white">
    <div class="col-md-12">
      <h3>Set System Preferences</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 mt-3 mb-3 ">
      <!-- Modal -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" id="generalTab" >
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
             aria-controls="home" aria-selected="true" (click)="activeTab('generalTab')">General Setting</a>
        </li>
        <li class="nav-item" role="presentation" id="defaultTab">
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
             aria-controls="profile" aria-selected="false" (click)="activeTab('defaultTab')">Default Setting</a>
        </li>
      </ul>
      <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <div class="card rounded-0">
                <div class="card-header p-0">
                  <div class="text-white text-center py-2" style="background: #1672b7;">
                    <h3> Default Setting</h3>
                  </div>
                  <div class="card-body p-3">
                    <div class="form-group ">
                      <label for="usr" class="text-danger">Fiscal Year</label>
                      <input [(ngModel)]="defaultSetting.fiscalYear" type="text"
                             class="form-control" id="usr">
                      <!-- <mat-form-field class="mat-control" appearance="fill">
                          <input matInput [matDatepicker]="picker1"
                              [formControl]="defaultSetting.fiscalYear">
                          <mat-datepicker-toggle matSuffix [for]="picker1">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field> -->
                    </div>

                    <div class="form-group mt-3 ">
                      <label for="usr">Current Year</label>
                      <input [(ngModel)]="defaultSetting.currentYear" type="text"
                             class="form-control" id="usr">
                      <!-- <mat-form-field class="mat-control" appearance="fill">
                          <input matInput [matDatepicker]="picker2"
                              [formControl]="defaultSetting.currentYear">
                          <mat-datepicker-toggle matSuffix [for]="picker2">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field> -->
                    </div>

                    <div class="form-group mt-3">
                      <label for="usr">Semister Fall</label>
                      <select class="form-control" id="sel1"
                              [(ngModel)]="defaultSetting.semester">
                        <option>Fall</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>

                    <div class="form-group mt-3">
                      <label for="usr" class="text-danger">Component</label>
                      <select class="form-control" id="sel1"
                              [(ngModel)]="defaultSetting.component">
                        <option>Acadamic</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>

                    <div class="form-group ">
                      <label for="usr">Time Out</label>
                      <input [(ngModel)]="defaultSetting.timeout" type="text" class="form-control"
                             id="usr">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card rounded-0">
                <div class="card-header p-0">
                  <div class="text-white text-center py-2" style="background: #1672b7;">
                    <h3>Report Setting</h3>
                  </div>
                  <div class="card-body p-3">
                    <div class="form-group ">
                      <label for="usr">Report Title1</label>
                      <input type="text" [(ngModel)]="reportSetting.reportTitle"
                             class="form-control" id="usr">
                    </div>

                    <div class="form-group mt-3 ">
                      <label for="usr">Report Title2</label>
                      <input type="text" class="form-control" id="usr"
                             [(ngModel)]="reportSetting.reportTitle2">
                    </div>

                    <div class="form-group mt-3">
                      <label for="usr">Report Footer</label>
                      <input type="text" class="form-control" id="usr"
                             [(ngModel)]="reportSetting.report_Footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <div class="card rounded-0">
                <div class="card-header p-0">
                  <div class="text-white text-center py-2" style="background: #1672b7;">
                    <h3> Annual Performance Report Setting</h3>
                  </div>
                  <div class="row">
                    <div class="col-md-6">

                      <div class="card-body p-3">
                        <div class="form-group ">
                          <label for="usr" class="text-danger">Project Director</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.projectDirector">
                        </div>

                        <div class="form-group mt-3 ">
                          <label for="usr" class="text-danger">Institution Name</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.institutionName">
                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Reporting Period From</label>
                          <input [(ngModel)]="annualPerformance.reportingPeriodFrom"
                                 type="date" class="form-control" id="usr">
                          <!-- <mat-form-field class="mat-control" appearance="fill">
                              <input matInput [matDatepicker]="picker3"
                                  [formControl]="annualPerformance.reportingPeriodFrom">
                              <mat-datepicker-toggle matSuffix [for]="picker3">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field> -->
                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Reporting Period To</label>
                          <input [(ngModel)]="annualPerformance.reportingPeriodTo" type="date"
                                 class="form-control" id="usr">
                          <!-- <mat-form-field class="mat-control" appearance="fill">
                              <input matInput [matDatepicker]="picker4"
                                  [formControl]="annualPerformance.reportingPeriodTo">
                              <mat-datepicker-toggle matSuffix [for]="picker4">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker4></mat-datepicker>
                          </mat-form-field> -->
                        </div>

                        <div class="form-group " class="text-danger">
                          <label for="usr">Address</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.address">
                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">City</label>
                          <select class="form-control" id="sel1"
                                  [(ngModel)]="annualPerformance.city">
                            <option>Pune</option>
                            <option>Mumbai</option>
                            <option>Hyederabad</option>
                            <option>Delhi</option>
                          </select>
                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">State</label>
                          <select class="form-control" id="sel1"
                                  [(ngModel)]="annualPerformance.state">
                            <option>Maharashtra</option>
                            <option>AP</option>
                            <option>MP</option>
                            <option>UP</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card-body p-3">
                        <div class="form-group ">
                          <label for="usr" class="text-danger">Zip Code</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.zipCode">
                        </div>

                        <div class="form-group mt-3 ">
                          <label for="usr" class="text-danger">Phone 1</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.phone1">

                        </div>
                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Ext</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.ext">

                        </div>
                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Fax</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.fax">

                        </div>


                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Pr Award Number</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.prAwardNumber">

                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">OMB Approval Number</label>
                          <input type="text" class="form-control" id="usr"
                                 [(ngModel)]="annualPerformance.ombApprNumb">

                        </div>

                        <div class="form-group ">
                          <label for="usr" class="text-danger">Programme Type</label>
                          <select class="form-control" id="sel1"
                                  [(ngModel)]="annualPerformance.programType" disabled>
                            <option>SSS</option>
                            <option>UB</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>

                        <div class="form-group mt-3">
                          <label for="usr" class="text-danger">Expiration Date</label>
                          <input [(ngModel)]="annualPerformance.expDate" type="date"
                                 class="form-control" id="usr">
                          <!-- <mat-form-field class="mat-control" appearance="fill">
                              <input matInput [matDatepicker]="picker5"
                                  [formControl]="annualPerformance.expDate">
                              <mat-datepicker-toggle matSuffix [for]="picker5">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker5></mat-datepicker>
                          </mat-form-field> -->
                        </div>

                        <div class="form-group mt-3">
                          <div class="row">
                            <div class="col-md-6">
                              <label for="usr" class="text-danger" >Funded To Serve</label>
                         
                            </div>
                            <div class="col-md-6"> <input type="text" style="color: #000!important;" class="form-control" id="usr"
                              [(ngModel)]="annualPerformance.fundedToServe"></div>

                            
                          </div>

                        </div>





                        <div class="form-group mt-3">
                          <div class="row"><div class="col-6"> <label for="usr" class="text-danger">Funded To Serve Ratio Threshold</label></div><div class="col-4">          
                            <input type="text" style="color: #000!important;" class="form-control" id="usr"
                                   [(ngModel)]="annualPerformance.fundToServeRatioThreshould" ></div><div class="col-2">%</div></div>
                          
               

                        </div>
                        <div class="form-group mt-3">
                          <div class="row"><div class="col-6"> <label for="usr" class="text-danger">To</label></div><div class="col-4">  <input type="text" style="color: #000!important;"  class="form-control" id="usr"
                            [(ngModel)]="annualPerformance.fundToServeRatioThreshouldTo" ></div><div class="col-2">%</div></div>
                         
                        

                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table style="width: 100%; height: 100%;" class="table-responsive form-control tabletd ">
            <tbody>

            <tr>
              <td>
                <table  class="tabletd">
                  <tbody>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td>
                                                    <span style="font-weight:bold;">
                                                        <input id="ctl00_head_chkCopy" type="checkbox"
                                                               name="ctl00$head$chkCopy"
                                                               [(ngModel)]="defaultSettingTab.copyPreviousData"
                                                               checked="checked"><label for="ctl00_head_chkCopy">
                                                        </label></span>
                    </td>
                    <td> Copy The
                      Active, Served and
                      Reported Status from Previous year when possible.</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>


            <tr>
              <td>
                <table style="width: 100%; height: 100%;">
                  <tbody>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td style="font-weight: bold;">
                      Default Rules when adding/updating Contacts:
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 285px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_chkACTIVE" type="checkbox"
                             [(ngModel)]="defaultSettingTab.studentActive"
                             name="ctl00$head$chkACTIVE" checked="checked"><label
                      for="ctl00_head_chkACTIVE"> &nbsp; Prompt to mark a student ACTIVE for
                      the fiscal year</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 285px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_chkSERVED" type="checkbox"
                             [(ngModel)]="defaultSettingTab.studentServed"
                             name="ctl00$head$chkSERVED" checked="checked"><label
                      for="ctl00_head_chkSERVED">  &nbsp;Prompt to mark a student SERVED for
                      the fiscal year</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_chkREPORTED" type="checkbox"
                             [(ngModel)]="defaultSettingTab.studentReported"
                             name="ctl00$head$chkREPORTED" checked="checked"><label
                      for="ctl00_head_chkREPORTED"> &nbsp; Prompt to mark a student REPORTED
                      for the fiscal year</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_ChkADD" type="checkbox"
                             [(ngModel)]="defaultSettingTab.addStudentToFiscalYear"
                             name="ctl00$head$ChkADD" checked="checked"><label
                      for="ctl00_head_ChkADD">  &nbsp; Prompt to ADD a student to the fiscal
                      year</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_chkFIRSTDTSERVICE" type="checkbox"
                             [(ngModel)]="defaultSettingTab.updateFirstDateOfService"
                             name="ctl00$head$chkFIRSTDTSERVICE" checked="checked"><label
                      for="ctl00_head_chkFIRSTDTSERVICE">  &nbsp; Update "First Date of
                      Service"</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 265px">
                      &nbsp;
                    </td>
                    <td>
                      <input id="ctl00_head_chkDATEOFLASRPROJECT" type="checkbox"
                             [(ngModel)]="defaultSettingTab.updateLastDateOfService"
                             name="ctl00$head$chkDATEOFLASRPROJECT" checked="checked"><label
                      for="ctl00_head_chkDATEOFLASRPROJECT">  &nbsp; Update "Date of Last
                      Project Service" for the fiscal year</label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
          <div style="width: 858px;   margin-left: 300px;"> 
            <table   class="tabletd" >
              <tbody>
              <tr>
                <td style="width: 150px">
                  GPA Scale:
                </td>
                <td>
                  <div >
                    <table summary="combobox"
                           style="width:40%">
                      <tbody>
                      <tr>
                        <td 
                            >
                          <select class="form-control"
                                  [(ngModel)]="defaultSettingTab.gpaScale"
                                  id="gpaScale" style="margin-left: -2px;">
                            <option value= "1" selected>Select</option>
                            <option value= "1" selected>4 Point Scale | 1</option>
                            <option value= "2" selected>5 Point Scale | 2</option>
                            <option value= "3" selected>No Response/Unknown | 0</option>
                            <option value= "4" selected>Other | 3</option>
                          </select>
                        </td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 150px">
                  State Test:
                </td>
                <td>
                  <div>
                    <table summary="combobox"
                           style="width:40%; margin-left: -2px;">
                      <tbody>
                      <tr>
                        <td>

                          <select class="form-control"
                                  [(ngModel)]="defaultSettingTab.stateTest"
                                  id="gpaScale">
                            <option selected>   | 1</option>
                            <option selected> | 2</option>
                          </select>
                        </td>

                      </tr>
                      </tbody>
                    </table><input
                    id="ctl00_head_cmbStateTest_cbPulldown_ClientState"
                    name="ctl00_head_cmbStateTest_cbPulldown_ClientState"
                    type="hidden" autocomplete="off">
                  </div>




                </td>
              </tr>
              <tr>
                <td style="width: 94px">
                  Age Calculator:
                </td>
                <td>
                                                <span ><input
                                                        id="ctl00_head_rtbAgeCal" name="ctl00$head$rtbAgeCal" style=" margin-left: 3px;
                                                        width: 268px;
                                                        border-radius: 3px;
                                                        border: 1px solid #ced4da;
                                                        height: 34px;"
                                                        size="34" [(ngModel)]="defaultSettingTab.ageCalculator"
                                                        class="riTextBox riEnabled" value="09/01" type="text"><input
                                                 
                                                  name="ctl00_head_rtbAgeCal_ClientState" type="hidden"
                                                  autocomplete="off"
                                                  value="{&quot;enabled&quot;:true,&quot;emptyMessage&quot;:&quot;&quot;,&quot;validationText&quot;:&quot;09/01&quot;,&quot;valueAsString&quot;:&quot;09/01&quot;,&quot;lastSetTextBoxValue&quot;:&quot;09/01&quot;}"></span>
                </td>
              </tr>
              <tr>
                <td style="width: 94px">
                  Site Location:
                </td>
                <td>
                                                <span id="ctl00_head_rdtxtSiteLocation_wrapper"
                                                    class="riSingle RadInput RadInput_Default"><input style=" margin-left: 3px;
                                                        width: 268px;
                                                        border-radius: 3px;
                                                        border: 1px solid #ced4da;
                                                        height: 34px;"
                                                        id="ctl00_head_rdtxtSiteLocation"
                                                        name="ctl00$head$rdtxtSiteLocation" size="34"
                                                        [(ngModel)]="defaultSettingTab.siteLocation"
                                                        class="riTextBox riDisabled" disabled="disabled" value="Off"
                                                        type="text"><input
                                                  id="ctl00_head_rdtxtSiteLocation_ClientState"
                                                  name="ctl00_head_rdtxtSiteLocation_ClientState"
                                                  type="hidden"
                                                  value="{&quot;enabled&quot;:false,&quot;emptyMessage&quot;:&quot;&quot;,&quot;validationText&quot;:&quot;Off&quot;,&quot;valueAsString&quot;:&quot;Off&quot;,&quot;lastSetTextBoxValue&quot;:&quot;Off&quot;}"
                                                  autocomplete="off"></span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancelClick()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addSystemPreferences()">Save & Close</button>
    </div>
  </div>
</div>
</div>