<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Graduated Data Filter</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input class="search-input" type="text" placeholder="Search.."
                    (keyup)="applyFilter($event, dataSource)">
                <i class="fa fa-search search"></i>
            </form>
        </div>
    </div>
    <div class="mat-elevation-z8 data-table-height mb-4" style="border:1px solid #1366A0;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
            [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.firstName | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.lastName | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="track">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Track </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.track == "true" ? 'Yes' : 'No' }} </td>
            </ng-container>
            <ng-container matColumnDef="graduated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Graduated </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.graduatedYear}} </td>
            </ng-container>
            <ng-container matColumnDef="counselor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Counselor </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.counselor | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="phone1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone1 </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.addressNotes?.phone1}} </td>
            </ng-container>
            <ng-container matColumnDef="major">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Major </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.major | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="employer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employer </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.employer | titlecase}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;let i = index;" (click)="getSelectedRow(row, i)"
                [ngClass]="{'selected-row' : (studentsList.length > 0) && (selectedRow == i)}"></tr>
        </table>
        <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
            <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!spinner && studentsList?.length == 0" class="bg-colr-wht py-4">
            <div class="center">
                <h3>No Data Found</h3>
            </div>
        </div>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    <div class="row" [ngStyle]="{'display': 'none'}">
        <div class="col-md-12 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row"
    style="display: none !important; margin-left: 0px!important; margin-right: 0px!important; margin-bottom: 50px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Normal Filter</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#advanceFilter" role="tab"
                    aria-controls="profile" aria-selected="false">Advance Filder</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="graduated-tab" data-bs-toggle="tab" href="#graduated" role="tab"
                    aria-controls="graduated" aria-selected="false">More Filter</a>
            </li>
        </ul>
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex">
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="usr">Fiscal year</label>
                            <input type="number" [value]="'2017'" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Counselor:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Active:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Status:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">School:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Served:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Ethnicity:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Eligibility:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Reported:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Standing:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Gender:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="advanceFilter" role="tabpanel" aria-labelledby="advanceFilter-tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Ready:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Advisors:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry School:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Codes:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Types:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Tutor:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Names:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry Date From:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry Date To:</label>
                            <select class="form-control" id="sel1">
                                <option selected value="">Please select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5; position:relative;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Reset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('New')">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Edit')">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Rename</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="deleteStudentGraduated()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Submit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<ng-template #graduatedStudentPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Select Students</span>
        <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
    </div>
    <form [formGroup]="studentGraduatedModalForm" class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row ">
                    <div class="col-md-6 mt-3 mb-3 ">
                        <form class="example">
                            <input class="search-input" type="text" placeholder="Search.."
                                (keyup)="applyFilter($event, modalDataSource)">
                            <i class="fa fa-search search"></i>
                        </form>
                    </div>
                </div>
                <div class="mat-elevation-z8 data-table-height mb-4"
                    style="border:1px solid #1366A0;overflow-y: auto; overflow-x: auto">
                    <table mat-table #editPopup="matSort" [dataSource]="modalDataSource" class="mat-elevation-z8"
                        [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
                        <ng-container matColumnDef="ssno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.S. No </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.ssno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.firstName | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.lastName | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.phoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fiscalYear">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fiscal Year </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.fiscalYear}} </td>
                        </ng-container>
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.active | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="served">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Served </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.served | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reported">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reported </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.reported | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="counselor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Counselor </th>
                            <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.counselor | titlecase}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.school | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="standing">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Standing </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.standing | titlecase}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="modalColumnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: modalColumnsToDisplay;let i = index;"
                            (click)="getSelectedModalRow(row, i)"
                            [ngClass]="{'selected-row' : (studentsList.length > 0) && (selectedModalRow == i)}"></tr>
                    </table>
                    <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
                        <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <div *ngIf="!spinner && studentsList?.length == 0" class="bg-colr-wht py-4">
                        <div class="center">
                            <h3>No Data Found</h3>
                        </div>
                    </div>
                    <mat-paginator #editPopupPage="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
                    </mat-paginator>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 flex">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="usr">Fiscal year</label>
                                <input formControlName="fiscalYear" type="number" [value]="'2017'" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> Served: </label>
                            <div class="form-group mt-2">
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="Yes" selected> Yes
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="No"> No
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="All"> All
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label> Site Location: </label>
                            <div class="form-group mt-2">
                                <label class="radio-inline">
                                    <input formControlName="siteLocation" class="ml-2" type="radio" value="Undefined"
                                        selected> Undefined
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="siteLocation" class="ml-2" type="radio" value="Not Entered">
                                    Not Entered
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="siteLocation" class="ml-2" type="radio" value="All"> All
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex">
                        <div class="col-md-4">
                            <label class="radio-inline"> Active:
                                <input formControlName="active" class="ml-2" type="radio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input formControlName="active" class="ml-2" type="radio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input formControlName="active" class="ml-2" type="radio" value="All"> All
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline"> Reported:
                                <input formControlName="reported" class="ml-2" type="radio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input formControlName="reported" class="ml-2" type="radio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input formControlName="reported" class="ml-2" type="radio" value="All"> All
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5; position:relative;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">Reset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openEditModal();modalRef.hide()">Select</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="modalRef.hide()">Cancel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </form>
</ng-template>




<ng-template #graduatedStudentEditPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Graduated Data Entry</span>
        <button type="button" class="btn-close" (click)="editModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <form [formGroup]="studentGraduatedEditModalForm" class="tab-pane fade show active" id="home"
                role="tabpanel" aria-labelledby="home-tab">
                <div class="col-md-4">
                    <h4>Student's Name : <span>{{studentData?.firstName}} {{studentData?.lastName}}</span></h4>
                    <h4>Student's SSNO : <span>{{studentData?.ssno}}</span></h4>
                </div>
                <div class="mb-3">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Graduated Information">
                            <form [formGroup]="studentGraduatedEditModalForm" class="mt-2 demo-tab-content">
                                <div class="row row-vertical">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="usr">Tracking Counselor</label>
                                            <select formControlName="counselor" class="form-control" id="sel1">
                                                <option selected value="">Please select</option>
                                                <option *ngFor="let counselor of counselorsList" [value]="counselor">
                                                    {{counselor}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="sel1">Graduated Year</label>
                                            <input formControlName="graduatedYear" type="number" class="form-control"
                                                id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="radio-inline"> Track
                                            <input formControlName="track" class="ml-3 mr-1" type="checkbox"
                                                value="true"> Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="row row-vertical">
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="usr">Degree In</label>
                                            <select formControlName="degreeIn" class="form-control" id="sel1">
                                                <option selected value="">Please select</option>
                                                <option value="Arts">Arts</option>
                                                <option value="Business">Business</option>
                                                <option value="English">English</option>
                                                <option value="Science">Science</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Major</label>
                                            <select formControlName="major" class="form-control" id="sel1">
                                                <option selected value="">Please select</option>
                                                <option value="Comp Sci">Comp Sci.</option>
                                                <option value="MBA">MBA</option>
                                                <option value="AAS/EARLY CHILDHOOD">AAS/EARLY CHILDHOOD</option>
                                                <option value="AAS/BUS-OFFICE TECH-EXEC">AAS/BUS-OFFICE TECH-EXEC
                                                </option>
                                                <option value="AS/LIB ARTS & SCI">AS/LIB ARTS & SCI</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-vertical">
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="usr">Employer</label>
                                            <input formControlName="employer" type="text" class="form-control" id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Graduated Educational Status</label>
                                            <select formControlName="graduatedEducationStatus" class="form-control"
                                                id="sel1">
                                                <option selected value="">Please select</option>
                                                <option value="Completed Freshman year of College">Completed Freshman
                                                    year of College</option>
                                                <option value="Completed Junior year of College">Completed Junior year
                                                    of College</option>
                                                <option value="Completed Senior year of College">Completed Senior year
                                                    of College</option>
                                                <option value="Dropped Out of College, Freshman year">Dropped Out of
                                                    College, Freshman year
                                                </option>
                                                <option value="Dropped Out of College, Junior year">Dropped Out of
                                                    College, Junior year</option>
                                                <option value="Dropped Out of College, Senior year">Dropped Out of
                                                    College, Senior year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-vertical">

                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="usr">Title/Position</label>
                                            <input formControlName="titleOrPosition" type="text" class="form-control"
                                                id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Employment Type</label>
                                            <select formControlName="employmentType" class="form-control" id="sel1">
                                                <option selected value="">Please select</option>
                                                <option value="Full Time">Full Time</option>
                                                <option value="Part Time">Part Time</option>
                                                <option value="Unemployed">Unemployed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-vertical">

                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="usr">Military Type</label>
                                            <select formControlName="militaryType" class="form-control" id="sel1">
                                                <option selected value="">Please select</option>
                                                <option value="Air Force">Air Force</option>
                                                <option value="Army">Army</option>
                                                <option value="Navy">Navy</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Military Rank</label>
                                            <input formControlName="militaryRank" type="text" class="form-control"
                                                id="usr">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>

                        <mat-tab label="Address/Notes">
                            <form [formGroup]="studentAddressNotesForm" class="mt-2 demo-tab-content">
                                <div class="row row-vertical">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="usr">Address</label><br>
                                            <textarea formControlName="address" id="w3review" name="w3review" rows="8"
                                                cols="70">
                                            </textarea>
                                        </div>

                                    </div>
                                    <div class="col-4">&nbsp;</div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="sel1">City</label>
                                            <select formControlName="city" class="form-control" id="sel1">
                                              <option selected value="">Please select</option>
                                              <option *ngFor="let city of cityList" [value]="city?.name">
                                                  {{city?.name | titlecase}}</option>
                                            </select>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="sel1">State</label>
                                            <select formControlName="state" class="form-control" id="sel1">
                                              <option selected value="">Please select</option>
                                              <option *ngFor="let state of stateList" [value]="state?.name">
                                                  {{state?.name | titlecase}}</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="sel1">Zip code</label>
                                            <input formControlName="zipcode" type="text" class="form-control" id="usr">
                                        </div>

                                    </div>

                                </div>
                                <div class="row row-vertical">

                                    <div class="col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="usr">Phone1</label>
                                            <input formControlName="phone1" type="number" class="form-control" id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Phone2</label>
                                            <input formControlName="phone2" type="text" class="form-control" id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Website</label>
                                            <input formControlName="website" type="url" class="form-control" id="usr">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="sel1">Email</label>
                                            <input formControlName="email" type="email" class="form-control" id="usr">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-vertical">
                                    <div class="col-12">

                                        <div class="form-group mt-3">
                                            <label for="usr">Notes</label><br>
                                            <textarea formControlName="notes" id="w3review" name="w3review" rows="2" cols="45">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light "
                    style="background-color: #d7e8f5; position:relative;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" (click)="deleteStudentGraduated()">Delete</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ">Print</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="handleMethodToCall()">Save</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="handleMethodToCall();editModalRef.hide()">Save &
                                        Close</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="editModalRef.hide()">Cancel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</ng-template>
