
   
    <div class="col-md-12 mb-2 mt-3">
       <h3>Dashboard</h3>
    </div>



<div class="container-fluid text-center " style="background:#EFF4F8;padding: 25px;padding-left: 3%;">
 
    
    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/password.png" alt="icon"> Change My Password</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/password.png" alt="icon"> To change your existing password</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/callendar.png"> My Calendar</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/callendar.png"> To view and modify tasks, reminders, appointments in a calendar format</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/send-message.png"> Send Message</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/send-message.png"> To send message to selected users</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/set-my-preference.png"> Set My Preferences</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/set-my-preference.png"> To customize your preferences like reminders, display last name first etc.</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/show-logged.png"> Show Logged Users</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/show-logged.png"> To view a list of the currently logged-in users</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/time-clock.png"> Time Clock</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/time-clock.png"> Clock-In/Clock-Out option for staff members</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label><img src="../../../assets/img/view.png"> View Messages</label>
        </div>
        <div class="col-sm-8 form-group">
            <label><img src="../../../assets/img/view.png"> To view, reply to, delete or print messages from other users</label>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
</nav>

<!-- <div class="container-fluid mt-3" style="background:#EFF4F8;">

    <div class="row">
        <div class="col-12">

            <table class="table-responsive" style="width: 100%">

                <thead>
                    <tr style="display:none;">
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rgRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__0">
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/password.jpg"> Change My Password</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"> <img src="../../../../assets/img/password.jpg"> To change your existing password</a>
                        </td>
                    </tr>
                    <tr class="rgAltRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__1">
                        <td>

                            <a href="javascript:void(0)"> <img src="../../../../assets/img/callendar.jpg"> My Calendar</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/callendar.jpg"> To view and modify tasks, reminders,
                                appointments in a calendar format</a>
                        </td>
                    </tr>
                    <tr class="rgRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__2">
                        <td>

                            <a href="javascript:void(0)"> <img src="../../../../assets/img/send-message.png"> Send Message</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/send-message.png"> To send message to selected users</a>
                        </td>
                    </tr>
                    <tr class="rgAltRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__3">
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/set-my-preference.png"> Set My Preferences</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/set-my-preference.png"> To customize your preferences like
                                reminders, display last name first etc.</a>
                        </td>
                    </tr>
                    <tr class="rgRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__4">
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/show-logged.png"> Show Logged Users</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/show-logged.png"> To view a list of the currently logged-in
                                users</a>
                        </td>
                    </tr>
                    <tr class="rgAltRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__5">
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/time-clock.png"> Time Clock</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/time-clock.png"> Clock-In / Clock-Out option for staff
                                members</a>
                        </td>
                    </tr>
                    <tr class="rgRow" id="ctl00_head_ctrlMyHomeHome_rgMenus_ctl00__6">
                        <td>

                            <a href="javascript:void(0)"><img src="../../../../assets/img/view.png"> View Messages</a>
                        </td>
                        <td>

                            <a href="javascript:void(0)"> <img src="../../../../assets/img/view.png"> To view, reply to, delete or print messages from
                                other users</a>
                        </td>

                    </tr>
                    <tr>
                        <td height="70px"> &nbsp;</td>
                    </tr>
                </tbody>

            </table>


        </div>




    </div>
</div> -->