<div class="main-container">
    <div class="container-fluid">
        <!-- <div class="row bg-white">
            <div class="col-md-12 mb-2">
                <h3>Dashboard</h3>
            </div>
        </div> -->


        <div class="container-fluid text-center " style="background:#EFF4F8;padding: 25px;padding-left: 3%;">


            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/password.png" alt="icon"> Change My Password</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/password.png" alt="icon"> To change your existing
                        password</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/callendar.png"> My Calendar</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/callendar.png"> To view and modify tasks, reminders,
                        appointments in a calendar format</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/send-message.png"> Send Message</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/send-message.png"> To send message to selected users</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/set-my-preference.png"> Set My Preferences</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/set-my-preference.png"> To customize your preferences like
                        reminders, display last name first etc.</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/show-logged.png"> Show Logged Users</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/show-logged.png"> To view a list of the currently logged-in
                        users</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/time-clock.png"> Time Clock</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/time-clock.png"> Clock-In/Clock-Out option for staff
                        members</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label><img src="../../../assets/img/view.png"> View Messages</label>
                </div>
                <div class="col-sm-8 form-group">
                    <label><img src="../../../assets/img/view.png"> To view, reply to, delete or print messages from
                        other users</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Security Questions Modal -->
<nz-modal [(nzVisible)]="secQuestionModalVisible" nzTitle={{secQuestionModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="secQuestionModalFooter" nzWidth="75%">
    <ng-template #secQuestionModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" (click)="validateAnswer()"
                [nzLoading]="isSubmitSecQuestions">Submit</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="user-form" [nzLayout]="formGroup.get('formLayout')?.value" [formGroup]="formGroup">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row [nzGutter]="24" class="form-width-container">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="lable-style" nzRequired>Security Question 1
                                        </nz-form-label>
                                        <nz-form-control nzErrorTip="Please Select Security Question 1">
                                            <nz-select nzShowSearch nzAllowClear formControlName="securityQuestion1"
                                                nzPlaceHolder="Security Question 1">
                                                <nz-option *ngFor="let obj of question1List" [nzLabel]="obj.name"
                                                    [nzValue]="obj.id">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="lable-style" nzRequired>Answer</nz-form-label>
                                        <nz-form-control nzErrorTip="Please Enter Answer">
                                            <input nz-input type="text" formControlName="securityAnswer1"
                                                placeholder="Enter Answer" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="lable-style" nzRequired>Security Question 2
                                        </nz-form-label>
                                        <nz-form-control nzErrorTip="Please Select Security Question 2">
                                            <nz-select nzShowSearch nzAllowClear formControlName="securityQuestion2"
                                                nzPlaceHolder="Security Question 2">
                                                <nz-option *ngFor="let obj of question2List" [nzLabel]="obj.name"
                                                    [nzValue]="obj.id">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="lable-style" nzRequired>Answer</nz-form-label>
                                        <nz-form-control nzErrorTip="Please Enter Answer">
                                            <input nz-input type="text" formControlName="securityAnswer2"
                                                placeholder="Enter Answer" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!-- Security Questions Modal-End -->