<nav class="navbar-expand-sm bg-dark navbar-dark " style="background: #F3F3F3!important;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #000!important; border-left: 1px solid #BCBCBC;">HOME</a>
                </li>
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> STUDENT </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Home &raquo;</a>

                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('fiscal-year-financial-aid')">Asset/Inventory
                                        Management</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('graduated')">Demographic Information</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-courses')">Personalized Letters</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-courses')">Send Bulk E-mails</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-courses')">Send Bulk Text Messages</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-courses')">Student Data</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="#"> Data Entry &raquo; </a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('fiscal-year-financial-aid')">Fiscal Year And
                                        Financial Aid</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('graduated')">Graduated</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-courses')">Semester And Courses</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="javascript:void(0)"> Contacts &raquo;</a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('lab-contacts')">Lab Contact</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('counselor-contacts')">Counselor Contacts</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" teachers-contacts
                                        (click)="navigateToComponent('staff-contacts')">Staff Contacts</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('teacher-contacts')">Teacher Contacts</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('tutor-contacts')">Tutor Contacts</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('display-counselor-contacts')">Display Counselor
                                        Contacts Reminder</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('display-tutor-contacts')">Display Tutor Contacts
                                        Reminder </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('display-teacher-contacts')">Display Teacher
                                        Contacts Reminder </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('display-staff-contacts')">Display Staff Contacts
                                        Reminder </a>
                                </li>

                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="javascript:void(0)"> Logs &raquo; </a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('attendance-log')">Attendance Log</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('college-list')">BOT Form Submission Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('exams-logs')">Exams Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('notes-logs')">Notes Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('stipend-logs')">Stipend Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('text-message-logs')">Text Message Log </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('text-message-replies')">Text Message Replies </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('wallet-logs')">Wallet </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">UTILITIES</a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Home &raquo;</a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('change-ssno')">change ssno</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('nsch')">National student clearinghouse data
                                        interface</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('quick-change-wizard')">Quick change wizard</a>
                                </li>
                            </ul>

                        </li>
                        <li> <a class="dropdown-item" href="#"> Quick Edit &raquo; </a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)">Courses
                                        information</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester-gpa-info')">Semester and GPA
                                        information</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('student-demographic-info')">Student demographic
                                        information</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('yearly-financial-aid-info')">Yearly and financial
                                        aid
                                        information</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="#"> ADD TO &raquo;</a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('fiscal-year')">Fiscal Year</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('graduated-list')">Graduated List</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('semester')">Semester</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="javascript:void(0)"> Generate Simillar &raquo; </a>
                            <ul class="submenu dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('gs-attendance-logs')">Attendance Log</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('custom-field-value')">Custom Field Value</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Exams Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Notes Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Stipend Log</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Wallet </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Yearly Information (Activities)
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Yearly Information (End Status)
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Yearly Information (Wallet) </a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="#"> Generate Schedule &raquo;</a></li>
                        <li> <a class="dropdown-item" href="#"> Generate Contats &raquo;</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REPORTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">APR</a>
                </li>




                <li class="nav-item dropdown" id="adminDDL">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">ADMIN</a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="javascript:void(0)"> Home &raquo; </a>
                            <ul class="submenu-left dropdown-menu" style="z-index: 10001;">
                                <li><a class="dropdown-item" href="javascript:void(0)">BOT Form Management</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('config-settings')">Config Settings</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">E-Mail Setup</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Roles</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('system-preferences')">System Preferences</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('user-names-pwd')">User Names And Passwords</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="javascript:void(0)"> Customize &raquo; </a>
                            <ul class="submenu-left dropdown-menu" style="z-index: 10001;">


                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('staff-members')">Staff Members</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('lab-contacts')">Contacts &raquo;</a>

                                    <ul class="submenu-left dropdown-menu" style="z-index: 10001;">
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('Contacts')">Bolt Contacts</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('lab-contacts')">Lab Contacts</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('counselor-contacts')">Counselor
                                                Contacts</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('staff-contacts')">Staff Contacts</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('teacher-contacts')">Teacher Contacts</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('tutor-contacts')">Tutor Contacts</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('service-group-list')">Classes &raquo;</a>
                                    <ul class="submenu-left dropdown-menu" style="z-index: 10001;">

                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('assign-student-teacher-class')">Manage
                                                Classes &raquo;</a>

                                            <ul class="submenu-left dropdown-menu" style="z-index: 10001;">


                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('counselors-classes')">Counselor
                                                        Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('Staff')">Staff Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                       (click)="navigateToComponent('tutor-classes')">Tutor
                                                        Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('teacher-classes')">Teacher
                                                        Classes</a>
                                                </li>
                                            </ul>

                                        </li>

                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                (click)="navigateToComponent('assign-tutor-student-class')">Assign
                                                Students &raquo;</a>
                                            <ul class="submenu-left dropdown-menu" style="z-index: 10001;">
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('counselor-contacts')">Counselor
                                                        Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('staff-contacts')">Staff
                                                        Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('assign-tutor-student-class')">Tutor
                                                        Classes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)"
                                                        (click)="navigateToComponent('assign-tutor-student-class')">Teacher
                                                        Classes</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>


                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('service-group-list')">Activity/Service List</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('college-list')">College/School List</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('custom-fields')">Custom Fields Values</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('grade-group-list')">Grade/Standing List</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('lab-settings')">Lab Setting Preferences</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('pulldown-list')">Pulldown List </a>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="javascript:void(0)"> System Tools &raquo; </a>
                            <ul class="submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0)">Delete Students</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('recall-students')">Recall Students</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="navigateToComponent('time-clock-manager')">Time Clock Manager </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Update Age</a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Update GPA'S </a>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Upgrade Fiscal Year </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PE POINTS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
