<nav class="navbar-expand-sm bg-dark navbar-dark "
        style="background: #F3F3F3!important;  border-bottom: 1px solid #bcbcbc;">
        <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                                <li class="nav-item dropdown" id="myHomeDDL">
                                        <button class="nav-link dropdown-toggle" mat-button
                                                [matMenuTriggerFor]="homeModule">My Home</button>
                                        <mat-menu #homeModule="matMenu">
                                                <button mat-menu-item [matMenuTriggerFor]="myHomeList">Home</button>
                                        </mat-menu>
                                        <mat-menu #myHomeList="matMenu">
                                                <button mat-menu-item (click)="navigateToComponent('change-password')">
                                                        Change My Password</button>
                                                <button mat-menu-item (click)="navigateToComponent('logged-user')">
                                                        Show Logged Users</button>
                                                <button mat-menu-item (click)="navigateToComponent('time-clock')"> Time Clock </button>
                                        </mat-menu>
                                </li>

                                <li class="nav-item dropdown" id="studentDDL">
                                        <button class="nav-link dropdown-toggle" mat-button
                                                [matMenuTriggerFor]="studentModule">Student</button>
                                        <mat-menu #studentModule="matMenu">
                                                <button mat-menu-item
                                                        [matMenuTriggerFor]="contactsList">Contacts</button>
                                                <button mat-menu-item [matMenuTriggerFor]="dataEntryList">Data Entry</button>
                                                <button mat-menu-item
                                                        [matMenuTriggerFor]="studentHomeList">Home</button>
                                                <button mat-menu-item [matMenuTriggerFor]="logsList">Logs</button>
                                        </mat-menu>
                                        <mat-menu #studentHomeList="matMenu">
                                                <button mat-menu-item>Asset/Inventory Management</button>
                                                <button mat-menu-item>Demographic Information</button>
                                                <button mat-menu-item>Personalized Letters</button>
                                                <button mat-menu-item>Send Bulk E-mails</button>
                                                <button mat-menu-item>Send Bulk Text Messages</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-eocdemo']">Student Data EOC Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-tsdemo']">Student Data TS Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-mcnDemo']">Student Data MCN Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-sssDemo']">Student Data SSS Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-vubDemo']">Student Data VUB Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-ubDemo']">Student Data UB Demo</button>
                                                <button mat-menu-item
                                                        [routerLink]="['student/home/student-data-ubmsDemo']">Student Data UBMS Demo</button>
                                        </mat-menu>
                                        <mat-menu #dataEntryList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('graduated')">Graduated</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('semester-courses')">Semester And Coursed</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('fiscal-year-financial-aid')">Fiscal Year And Financial AID</button>
                                        </mat-menu>
                                        <mat-menu #contactsList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('counselor-contacts')">Counselor Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('display-counselor-contacts')">Display Counselor Contacts Reminder</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('display-staff-contacts')">Display Staff Contacts Reminder</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('display-teacher-contacts')">Display Teacher Contacts Reminder</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('display-tutor-contacts')">Display Tutor Contacts Reminder</button>
                                                <button mat-menu-item (click)="navigateToComponent('lab-contacts')">Lab Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('staff-contacts')">Staff Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('teacher-contacts')">Teacher Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('tutor-contacts')">Tutor Contacts</button>
                                        </mat-menu>
                                        <mat-menu #logsList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('attendance-log')">Attendance Log</button>
                                                <button mat-menu-item>BOT Form Submission Log</button>
                                                <button mat-menu-item (click)="navigateToComponent('exams-logs')">Exams Log</button>
                                                <button mat-menu-item (click)="navigateToComponent('notes-logs')">Notes Log</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('stipend-logs')">Stipend Log</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('text-message-logs')">Text Message Log</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('text-message-replies')">Test Message Replies</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('wallet-logs')">Wallet</button>
                                        </mat-menu>
                                </li>

                                <li class="nav-item dropdown" id="studentDDL">
                                        <button class="nav-link dropdown-toggle" mat-button
                                                [matMenuTriggerFor]="utilityModule">Utilities</button>
                                        <mat-menu #utilityModule="matMenu">
                                                <button mat-menu-item [matMenuTriggerFor]="addToList">Add To</button>
                                                <button mat-menu-item>Generate Contacts</button>
                                                <button mat-menu-item>Generate Schdule</button>
                                                <button mat-menu-item [matMenuTriggerFor]="genSimillarList">Generate Similar</button>
                                                <button mat-menu-item
                                                        [matMenuTriggerFor]="utilityHomeList">Home</button>
                                                <button mat-menu-item [matMenuTriggerFor]="quickEditList">Quick Edit</button>
                                        </mat-menu>
                                        <mat-menu #utilityHomeList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('change-ssno')">Change SSNO</button>
                                                <button mat-menu-item (click)="navigateToComponent('nsch')">National
                                                        Student Clearing House Data Interface</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('quick-change-wizard')">Quick Change Wizard</button>
                                        </mat-menu>
                                        <mat-menu #addToList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('global-filter', 'graduated-year')">Graduated List</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('semester')">Semester</button>

                                                <button mat-menu-item
                                                        (click)="navigateToComponent('global-filter', 'fiscal-year')">Fiscal Year</button>
                                        </mat-menu>
                                        <mat-menu #quickEditList="matMenu">
                                                <button mat-menu-item>Courses Information</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('semester-gpa-info')">Semester And GPA Information</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('student-demographic-info')">Student Demographic Information</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('yearly-financial-aid-info')">Yearly And Financial AID Information</button>
                                        </mat-menu>

                                        <mat-menu #genSimillarList="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('gs-attendance-logs')">Attendance Log</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('custom-field-value')">Custom Field Value</button>
                                                <button mat-menu-item>Exams Log</button>
                                                <button mat-menu-item>Notes Log</button>
                                                <button mat-menu-item>Stipend Log</button>
                                                <button mat-menu-item>Wallet</button>
                                                <button mat-menu-item>Yearly Information(Activities)</button>
                                                <button mat-menu-item>Yearly Information(End Status)</button>
                                                <button mat-menu-item>Yearly Information(Wallet)</button>
                                        </mat-menu>
                                </li>

                                <li class="nav-item">
                                        <a class="nav-link" href="#">Reports</a>
                                </li>

                                <li class="nav-item dropdown" id="adminDDL">
                                        <button class="nav-link dropdown-toggle" mat-button
                                                [matMenuTriggerFor]="adminModule">Admin</button>
                                        <mat-menu #adminModule="matMenu">
                                                <button mat-menu-item [matMenuTriggerFor]="homeMenuList"
                                                        [routerLink]="['admin/home']">Home</button>
                                                <button mat-menu-item [matMenuTriggerFor]="customizeMenuList"
                                                        [routerLink]="['admin/customize']">Customize</button>
                                                <button mat-menu-item [matMenuTriggerFor]="systemToolList">System Tool</button>
                                        </mat-menu>
                                        <mat-menu #homeMenuList="matMenu">
                                                <button mat-menu-item>Bot Form Management</button>
                                                <button mat-menu-item>E-MAIL SETUP</button>
                                                <button mat-menu-item [routerLink]="['admin/home/original-pulldown-lists']">ORIGINRIGINAL PULLDOWN LISTS</button>
                                                <button mat-menu-item [routerLink]="['admin/home/pull-type']">PULL TYPE</button>
                                                <button mat-menu-item [routerLink]="['admin/home/roles']">ROLES</button>
                                                <button mat-menu-item *ngIf="showMenu('System Preferences')"
                                                        [routerLink]="['admin/home/system-preferences']">System Preferences</button>
                                                <button mat-menu-item [routerLink]="['admin/home/user-names-pwd']">User Names And Password</button>
                                                <button *ngIf="user.roleName === 'Super Admin'" mat-menu-item [routerLink]="['admin/home/organization']">
                                                        Organizations</button>
                                                <button *ngIf="user.roleName === 'Super Admin'" mat-menu-item [routerLink]="['admin/home/securityQuestions']">
                                                        Security Questions</button>
                                        </mat-menu>
                                        <mat-menu #customizeMenuList="matMenu">
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/service-group-list']">Activity/Service List</button>
                                                <button mat-menu-item [matMenuTriggerFor]="classes">Classes</button>
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/college-list']">College/School List</button>
                                                <button mat-menu-item [matMenuTriggerFor]="contacts">Contacts</button>
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/custom-fields']">Custome Field Values</button>
                                                <!-- <button mat-menu-item
                                                        [routerLink]="['admin/customize/grade-group-list']">Grade/Standing List</button> -->
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/grade-standing']">Grade/Standing List</button>
                                                <!-- <button mat-menu-item
                                                        [routerLink]="['admin/customize/lab-settings']">Lab Setting Preferences</button> -->
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/lab-settings-preferences']">Lab Setting Preferences</button>
                                                <!-- <button mat-menu-item
                                                        [routerLink]="['admin/customize/pulldown-list']">Pulldown List</button> -->
                                                <button mat-menu-item [routerLink]="['admin/customize/pulldown-lists']">Pulldown Lists</button>
                                                <button mat-menu-item
                                                        [routerLink]="['admin/customize/staff-members']">Staff Members</button>
                                        </mat-menu>
                                        <mat-menu #classes="matMenu">
                                                <button mat-menu-item [matMenuTriggerFor]="manageClasses">Manage Classes
                                                </button>
                                                <button mat-menu-item [matMenuTriggerFor]="assignStudents">Assign Student(s)</button>
                                        </mat-menu>
                                        <mat-menu #manageClasses="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('counselors-classes')">Counselor Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('staff-classes')">Staff
                                                        Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('teacher-classes')">Teacher
                                                        Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('tutor-classes')">Tutor
                                                        Classes</button>
                                        </mat-menu>

                                        <mat-menu #contacts="matMenu">
                                                <button mat-menu-item (click)="navigateToComponent('Contacts')">BOT Contacts</button>
                                                <button mat-menu-item (click)="navigateToComponent('lab-contacts')">Lab Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('counselor-contacts')">Counselor Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('staff-contacts')">Staff Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('teacher-contacts')">Teacher Contacts</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('tutor-contacts')">Tutor Contacts</button>
                                        </mat-menu>
                                        <mat-menu #assignStudents="matMenu">
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('assign-student-counselor-classes')">Assign Student(s) To Counselor Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('assign-student-staff-classes')">Assign Student(s) To Staff Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('assign-student-teacher-classes')">Assign Student(s) To Teacher Classes</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('assign-student-tutor-classes')">Assign Student(s) To Tutor Classes</button>
                                        </mat-menu>
                                        <mat-menu #systemToolList="matMenu">
                                                <button mat-menu-item>Delete Student(s)</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('recall-students')">Recall Student(s)</button>
                                                <button mat-menu-item
                                                        (click)="navigateToComponent('time-clock-manager')">Time Clock Manager</button>
                                                <button mat-menu-item>Update Age</button>
                                                <button mat-menu-item>Update GPA's</button>
                                                <button mat-menu-item>Upgrade Fiscal Year</button>
                                        </mat-menu>
                                </li>

                                <li class="nav-item">
                                        <a class="nav-link" href="#">APR</a>
                                </li>

                                <li class="nav-item">
                                        <a class="nav-link" href="#">PE Points</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
