<div class="container-fluid">
    <!-- Full Screen Loader Start -->
    <div id="loading" *ngIf="isLoading"></div>
    <!-- Full Screen Loader End -->

    <!-- Spinner Start-->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>
    <!-- Spinner End-->

    <div class="row">
        <div class="col-md-6 text-center  ">
            <img src="../../../assets/img/left-img.png" class="mt-5 ml-5" alt="Blumen Online for TRIO" title="">
        </div>

        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <img src="../../../assets/img/bot_logo.png" alt="Blumen Online for TRIO"
                        title="Blumen Online for TRIO" class="loginlogo">
                    <div>
                        <h4 class="welcome">
                            Welcome! </h4>
                        <p>Please login with your credentials…</p>
                    </div>
                    <div nz-col [nzSpan]="24" nz-row class="login-box">
                        <form nz-form [formGroup]="formGroup" [nzLayout]="formGroup.get('formLayout')?.value">
                            <div nz-col [nzSpan]="24">
                                <div nz-row [nzGutter]="24" class="full-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item class="space-between">
                                            <nz-form-label class="lable-style">Organization Code</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter Organization Code">
                                                <input nz-input type="text" formControlName="organization"
                                                    [(ngModel)]="loginModel.organization"
                                                    placeholder="Organization Code" [disabled]="isValidUser" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <!-- <div class="form-group first txtAlign">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Organization  Code</mat-label>
                                            <input matInput value="" formControlName="organization" [readOnly]="isValidUser" minlength="3" required>
                                        </mat-form-field>
                                    </div> -->
                                </div>
                                <div nz-row [nzGutter]="24" class="full-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item class="space-between">
                                            <nz-form-label class="lable-style">Email Id</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter Email Id">
                                                <input nz-input type="text" formControlName="email"
                                                    [(ngModel)]="loginModel.email" placeholder="Email Id"
                                                    [disabled]="isValidUser" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <!-- <div class="form-group first txtAlign">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>EmailId</mat-label>
                                            <input matInput value="" required formControlName="email" [readOnly]="isValidUser">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                                <div nz-row [nzGutter]="24" class="full-width-container">
                                    <div nz-col [nzSpan]="24" *ngIf="isValidUser">
                                        <nz-form-item class="space-between">
                                            <nz-form-label class="lable-style">Password</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter Password">
                                                <input nz-input [type]="hide ? 'password' : 'text'"
                                                    formControlName="password" [(ngModel)]="loginModel.password"
                                                    placeholder="Password" />
                                            </nz-form-control>
                                            <!-- <ng-template #suffixIconShowHidePwd>
                                                <i *ngIf="!hide" class="fa fa-eye" (window:mouseup)="hide = true;"
                                                id="eye-icon"></i>
                                                <i *ngIf="hide" class="fa fa-eye-slash" id="eye-icon"
                                                (window:mousedown)="hide = false;"></i>
                                              </ng-template> -->
                                        </nz-form-item>
                                    </div>
                                </div>

                                <div class="modal-footer-btn">
                                    <button nz-button nzType="primary" type="submit" *ngIf="!isValidUser"
                                        style="width:40%" class="submit btn text-white btn-block btn-primary button"
                                        (click)="checkUserExist()">Proceed to Login</button>
                                    <button nz-button nzType="primary" type="submit" *ngIf="isValidUser"
                                        class="submit btn text-white btn-block btn-primary button" (click)="validate(formGroup)">LOGIN</button>&nbsp;&nbsp;
                                    <div class="mts-5" *ngIf="isInvalidCredentials">
                                        {{errorMessage}}
                                    </div>

                                    <div class="d-flex align-items-center mts-5" *ngIf="isValidUser && !isFirstTime">
                                        <span class="mr-auto"><a href="javascript:void(0)" (click)="forgotPwd()"
                                                class="forgot-pass forgot">Forgot
                                                Password ?</a></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid login-footer" *ngIf="isValidUser">
    <div class="row">
        <div class="col-1 reserved text-center"></div>
        <div class="col-5 reserved ">©All
            rights reserved 2022</div>
        <div class="col-6"><a href="https://www.websecurity.symantec.com/ssl-certificate" class="ssl">SSL Certificate
            </a></div>
    </div>
</div>

<!-- Forgot Password Modal Start-->
<nz-modal [(nzVisible)]="isFPModalVisible" nzTitle={{fpModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="activityModalFooter" nzWidth="60%" [nzOkLoading]="isConfirmFPLoading">
    <ng-template #activityModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" [nzLoading]="isConfirmFPLoading" (click)="validateAnswer();"
                [disabled]="!isVisible">Submit</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="tab-content paddingModal" nz-row>
            <div nz-col [nzSpan]="24" nz-row>
                <form nz-form [formGroup]="formGroup1" [nzLayout]="formGroup1.get('formLayout')?.value">
                    <div nz-col [nzSpan]="24">
                        <div nz-row [nzGutter]="24" class="full-width-container">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Organization Code</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Organization Code">
                                        <input nz-input type="text" formControlName="fpOrgCode"
                                            placeholder="Organization Code" class="fpOrgCode-txt" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24" class="full-width-container">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Email</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Email Id">
                                        <input nz-input type="text" formControlName="fpEmail" placeholder="Email Id"
                                            (blur)="getSecQuestions()" class="fpEmail-txt" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24" class="full-width-container" *ngIf="isVisible">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Security Question 1</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Security Question 1">
                                        <input nz-input type="text" formControlName="securityQuestion1"
                                            placeholder="Email Security Question 1" class="fpSec1" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24" class="full-width-container" *ngIf="isVisible">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Answer</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Security Question 1 Answer">
                                        <input nz-input type="text" formControlName="securityAnswer1"
                                            placeholder="Email Security Answer 1" class="fpAnswer" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24" class="full-width-container" *ngIf="isVisible">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Security Question 2</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Security Question 2">
                                        <input nz-input type="text" formControlName="securityQuestion2"
                                            placeholder="Email Security Question 2" class="fpSec1" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24" class="full-width-container" *ngIf="isVisible">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item class="space-between">
                                    <nz-form-label class="lable-style">Answer</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Security Question 2 Answer">
                                        <input nz-input type="text" formControlName="securityAnswer2"
                                            placeholder="Email Security Answer 2" class="fpAnswer" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="mts-5" *ngIf="fpError">
                            {{errorFPMessage}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!-- Forgot Password Modal End-->
 
<!-- TFA Modal Start-->
<nz-modal [(nzVisible)]="isTFAModalVisible" nzTitle={{tfaModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="activityModalFooter1" nzWidth="40%" [nzOkLoading]="isConfirmTFALoading">
    <ng-template #activityModalFooter1>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" [disabled]="isRunning" [nzLoading]="isConfirmTFALoading" (click)="getSecurityCode();">Submit</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="tab-content paddingModal" nz-row>
            <div nz-col [nzSpan]="24" nz-row>
                <form nz-form [formGroup]="formGroup2" [nzLayout]="formGroup2.get('formLayout')?.value">
                    <div nz-col [nzSpan]="24">
                        <div nz-row [nzGutter]="24" class="full-width-container">
                            <div nz-col [nzSpan]="24">
                                <nz-radio-group [(ngModel)]="tfaValue" formControlName="twoFactor">
                                    <label nz-radio [nzValue]="1" selected>{{authenticateResponse.maskedEmail}}</label>
                                    <label nz-radio [nzValue]="2">Phone</label>
                                </nz-radio-group>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!-- TFA Modal Start-->

<!-- Validate Code Modal Start-->
<nz-modal [(nzVisible)]="isVCModalVisible" nzTitle={{vcModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="activityModalFooter2" nzWidth="40%" [nzOkLoading]="isConfirmVCLoading">
    <ng-template #activityModalFooter2>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" [nzLoading]="isConfirmVCLoading" (click)="validateCode();"
            [disabled]="isRunning">Validate</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="tab-content paddingModal" nz-row>
            <div nz-col [nzSpan]="24" nz-row>
                <form nz-form [formGroup]="formGroup3" [nzLayout]="formGroup3.get('formLayout')?.value">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="space-between">
                            <nz-form-label class="lable-style">Validate Code</nz-form-label>
                            <nz-form-control nzErrorTip="Please Enter OTP">
                                <input nz-input type="text" formControlName="otpCode"
                                    placeholder="Enter OTP" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!-- Validate Code Modal End -->