<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Staff Contact Data Filter</h3>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event, dataSource)">
                <i class="fa fa-search search"></i>
            </form>
        </div>
    </div>
    <div class="mat-elevation-z8 data-table-height mb-4" style="border:1px solid #1366A0;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
            [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.student?.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.student?.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let entry"> {{entry?.student?.phoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="staffContactDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Date </th>
                <td mat-cell *matCellDef="let entry"> {{entry.staffContactDate}} </td>
            </ng-container>
            <ng-container matColumnDef="staffContactStaff">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff </th>
                <td mat-cell *matCellDef="let entry"> {{entry.staffContactStaff}} </td>
            </ng-container>
            <ng-container matColumnDef="staffTotalTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Time </th>
                <td mat-cell *matCellDef="let entry"> {{entry.staffTotalTime}} </td>
            </ng-container>
            <ng-container matColumnDef="staffRecontactDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Re-Contact Date </th>
                <td mat-cell *matCellDef="let entry"> {{entry.staffRecontactDate}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;let i = index;" (click)="getSelectedRow(row, i)"
                [ngClass]="{'selected-row' : (staffContactsList.length > 0) && (selectedRow == i)}"></tr>
        </table>
        <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
            <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!spinner && staffContactsList?.length == 0" class="bg-colr-wht py-4">
            <div class="center">
                <h3>No Data Found</h3>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
    <div class="row" [ngStyle]="{'display': 'none'}">
        <div class="col-md-12 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row" style="display: none !important; margin-left: 0px!important; margin-right: 0px!important; margin-bottom: 50px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Normal Filter</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#advanceFilter" role="tab"
                    aria-controls="profile" aria-selected="false">Advance Filder</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">More Filter</a>
            </li>
        </ul>
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex">
                    <div class="col-md-12 ">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="usr">Fiscal year</label>
                            <input type="number" [value]="'2017'" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Counselor:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Active:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Status:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">School:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Served:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Ethnicity:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Eligibility:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Reported:
                            <input class="ml-2" type="radio" value="Yes"> Yes </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="No"> No
                        </label>
                        <label class="radio-inline">
                            <input class="ml-2" type="radio" value="All"> All
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Standing:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Gender:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="advanceFilter" role="tabpanel" aria-labelledby="advanceFilter-tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Ready:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Advisors:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry School:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Codes:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Types:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Staff:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">College Names:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry Date From:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Entry Date To:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5; position:relative;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Reset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('New')">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Edit')">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Rename</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="deleteStaffContacts()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Submit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<ng-template #staffStudentPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Select Students</span>
        <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
    </div>
    <form [formGroup]="staffContactsModalForm" class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row ">
                    <div class="col-md-6 mt-3 mb-3 ">
                        <form class="example">
                            <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event, modalDataSource)">
                            <i class="fa fa-search search"></i>
                        </form>
                    </div>
                </div>
                <div class="mat-elevation-z8 data-table-height mb-4" style="border:1px solid #1366A0;overflow-y: auto; overflow-x: auto">
                    <table mat-table [dataSource]="modalDataSource" class="mat-elevation-z8"
                        [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
                        <ng-container matColumnDef="ssno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.S. No </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.ssno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.firstName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.lastName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.phoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fiscalYear">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fiscal Year </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.fiscalYear}} </td>
                        </ng-container>
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.active}} </td>
                        </ng-container>
                        <ng-container matColumnDef="served">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Served </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.served}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reported">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reported </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.reported}} </td>
                        </ng-container>
                        <ng-container matColumnDef="counselor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Counselor </th>
                            <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.counselor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="standing">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Standing </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.standing}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="modalColumnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: modalColumnsToDisplay;let i = index;"
                            (click)="getSelectedModalRow(row, i)"
                            [ngClass]="{'selected-row' : (studentsList.length > 0) && (selectedModalRow == i)}"></tr>
                    </table>
                    <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
                        <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <div *ngIf="!spinner && studentsList?.length == 0" class="bg-colr-wht py-4">
                        <div class="center">
                            <h3>No Data Found</h3>
                        </div>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="usr">Fiscal year</label>
                                <input formControlName="fiscalYear" type="number" [value]="'2017'" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> Served </label>
                            <div class="form-group mt-2">
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="Yes" selected> Yes
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="No"> No
                                </label>
                                <label class="radio-inline">
                                    <input formControlName="served" class="ml-2" type="radio" value="All"> All
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="sel1">Site Location:</label>
                                <select formControlName="siteLocation" class="form-control" id="sel1">
                                    <option value="All">All</option>
                                    <option value="Not Entered">Not Entered</option>
                                    <option value="Undefined">Undefined</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex">
                        <div class="col-md-4">
                            <label class="radio-inline"> Active:
                                <input formControlName="active" class="ml-2" type="radio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input formControlName="active" class="ml-2" type="radio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input formControlName="active" class="ml-2" type="radio" value="All"> All
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline"> Reported:
                                <input formControlName="reported" class="ml-2" type="radio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input formControlName="reported" class="ml-2" type="radio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input formControlName="reported" class="ml-2" type="radio" value="All"> All
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5; position:relative;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">Reset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="openEditModal();modalRef.hide()">Select</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="modalRef.hide()">Cancel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </form>
</ng-template>




<ng-template #staffStudentEditPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Staff Contact</span>
        <button type="button" class="btn-close" (click)="editModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 5px;">
            <form [formGroup]="staffContactsEditModalForm" class="tab-pane fade show active" id="home" role="tabpanel"
                aria-labelledby="home-tab">
                <div class="col-md-4">
                        <h4>Student's Name : <span>{{studentData?.firstName}} {{studentData?.lastName}}</span></h4>
                        <h4>Student's SSNO : <span>{{studentData?.ssno}}</span></h4>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Contact Date</label>
                                <input formControlName="contactDate" type="date" id=start class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mt-4">
                                <label for="usr">Fiscal year</label>
                                <input formControlName="fiscalYear" type="number" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label for="usr">Re-Contact Date:</label>
                                <input formControlName="recontactDate" type="date" id=start class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pt-3 mt-5">
                                <input formControlName="isReContacted" type="checkbox" style="float: left" required>
                                &nbsp; Re-Contacted
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Contact Staff:</label>
                                <span class="form-group">
                                    <select formControlName="tutor" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option *ngFor="let staff of staffsList" [value]="staff">{{staff}}</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Component</label>
                                <span class="form-group">
                                    <select formControlName="component" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="Academic">Academic</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Both">Both</option>
                                        <option value="Unknown">Unknown</option>
                                        <option value="Not applicable">Not applicable</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">APR Subject:</label>
                                <span class="form-group">
                                    <select formControlName="aprSubject" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="English Instruction">English Instruction</option>
                                        <option value="Foreign Language">Foreign Language</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Science">Science</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Contact Type:</label>
                                <span class="form-group">
                                    <select formControlName="contactType" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="E-mail">E-mail</option>
                                        <option value="Group">Group</option>
                                        <option value="Mail">Mail</option>
                                        <option value="Phone">Phone</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Subject:
                                </label>
                                <span class="form-group">
                                    <select formControlName="subject" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="Algebra">Algebra</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="English">English</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Instructions:
                                </label>
                                <span class="form-group">
                                    <select formControlName="instructions" name="sel3" class="form-control" id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="Not enrolled">Not enrolled</option>
                                        <option value="Composition">Composition</option>
                                        <option value="Literature">Literature</option>
                                        <option value="Composition and Literature">Composition and Literature</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mt-4">
                                <label for="usr">Activity/Service:</label>
                                <span class="form-group">
                                    <select formControlName="activityService" name="sel3" class="form-control"
                                        id="sel4">
                                        <option selected value="">Please select</option>
                                        <option *ngFor="let item of activityServiceList" [value]="item?.activityName">
                                            {{item?.activityName}}
                                        </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-4">
                                <label for="usr">Total Time:
                                </label>
                                <div [ngStyle]="{'display': 'flex'}">
                                    <input [ngStyle]="{'width': '65%'}" formControlName="totalTime" type="number"
                                         class="form-control" required>
                                    <label [ngStyle]="{'margin-left': '1rem', 'margin-top': '0.5rem'}"> (in
                                        minutes)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2 ">
                            <button type="button" class="btn btn-secondary"
                                (click)="openActivityServiceModal('Add')">Add </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-secondary" (click)="openActivityServiceModal('Edit')">Edit</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-secondary" (click)="removeServiceActivity()">Remove</button>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>
                    <div class="md-form form-group pink-textarea active-pink-textarea-2">
                        <div class="mat-elevation-z8 data-table-height mt-4 mb-4"
                            style="border:1px solid #1366A0;overflow-y: auto">
                            <table mat-table [dataSource]="serviceDataSource" class="mat-elevation-z8"
                                [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
                                <ng-container matColumnDef="activity">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity / Service Rendered
                                    </th>
                                    <td mat-cell *matCellDef="let entry"> {{entry.activity}} </td>
                                </ng-container>
                                <ng-container matColumnDef="totalTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity Time </th>
                                    <td mat-cell *matCellDef="let entry"> {{entry.totalTime}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="serviceColumnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let row; columns: serviceColumnsToDisplay; let i = index;"
                                    (click)="getSelectedEditModalRow(row, i)" [ngClass]="{'selected-row':
                                    (activityServiceData?.length > 0) && (selectedEditModalRow == i)}"></tr>
                            </table>
                            <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
                                <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <div *ngIf="!spinner && activityServiceData?.length == 0" class="bg-colr-wht py-4">
                                <div class="center">
                                    <h3>No record to display</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-form col-md-12 mb-4 mt-4 form-group pink-textarea active-pink-textarea-2" style="border: 1px solid #1366A0;">
                        <label for="form23"> Notes:
                        </label>
                        <i class="fa fa-edit"></i>
                        <textarea formControlName="notes" placeholder="Enter notes" class="md-textarea form-control" rows="3"></textarea>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light "
                    style="background-color: #d7e8f5; position:relative;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" (click)="deleteStaffContacts()">Delete</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ">Print</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="handleMethodToCall()">Save</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="handleMethodToCall();editModalRef.hide()">Save &
                                        Close</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " (click)="editModalRef.hide()">Cancel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #activityServicePopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Enter the Time in Minutes for this Activity/Service</span>
        <button type="button" class="btn-close" (click)="activityServiceModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent">
            <form [formGroup]="activityServiceForm" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Activity</label>
                                <span class="form-group">
                                    <select formControlName="activity" name="sel3" class="form-control"
                                        id="sel4">
                                        <option selected value="">Please select</option>
                                        <option value="Academic Tutoring">Academic Tutoring</option>
                                        <option value="ACT Registration">ACT Registration</option>
                                        <option value="ACT Preparation">ACT Preparation</option>
                                        <option value="Career Planning">Career Planning</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Time in Minutes</label>
                                <input formControlName="time" type="number" value="2" id="start" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 mt-3 mb-3">
                            <button type="button" (click)="addServiceActivity();activityServiceModalRef.hide()" class="btn btn-primary active float-left">Save</button>
                        </div>
                        <div class="col-md-3 mt-3 mb-3">
                            <button type="button" (click)="activityServiceForm.reset();activityServiceModalRef.hide()" class="btn btn-primary active float-left">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>