<div class="container-fluid">
    <div id="loading" *ngIf="isLoading"></div>

    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>

    <div class="row">
        <div class="col-md-6 text-center  ">
            <img src="../../../assets/img/left-img.png" class="mt-5 ml-5" alt="Blumen Online for TRIO"
                title="Blumen Online for TRIO">
        </div>

        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <img src="../../../assets/img/bot_logo.png" alt="Blumen Online for TRIO"
                        title="Blumen Online for TRIO" class="loginlogo">
                    <div>
                        <h4 class="welcome">
                            Welcome! </h4>
                        <p class="crediential">
                            Reset Your Password !</p>
                    </div>
                    <form [formGroup]="formGroup" class="form">
                        <div class="form-group last mb-login txtAlign">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>New Password</mat-label>
                                <input [type]="hide ? 'password' : 'text'" (input)="validatePassword()" matInput value="" formControlName="newPassword"
                                    required>
                                <mat-icon matSuffix (click)="hide = !hide">
                                    <i *ngIf="!hide" class="fa fa-eye" id="eye-icon"></i>
                                    <i *ngIf="hide" class="fa fa-eye-slash" id="eye-icon"></i>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-group last mb-login txtAlign">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Re-Type Password</mat-label>
                                <input type="password" matInput value="" formControlName="reTypePassword"
                                (input)="passwordMatchCompare()" required>
                            </mat-form-field>
                        </div>

                        <button mat-raised-button color="primary" type="button" (click)="resetPassword()"
                            class="submit btn text-white btn-block btn-primary button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid login-footer">
    <div class="row">
        <div class="col-1 reserved text-center"></div>
        <div class="col-5 reserved ">©All
            rights reserved 2022</div>
        <div class="col-6"><a href="https://www.websecurity.symantec.com/ssl-certificate" class="ssl">SSL Certificate
            </a></div>
    </div>
</div>