<div class="container-fluid">
    <div id="loading" *ngIf="isLoading"></div>

    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>

    <div class="row">
        <div class="col-md-6 text-center  ">
            <img src="../../../assets/img/left-img.png" class="mt-5 ml-5" alt="Blumen Online for TRIO"
                title="Blumen Online for TRIO">
        </div>

        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <img src="../../../assets/img/bot_logo.png" alt="Blumen Online for TRIO"
                        title="Blumen Online for TRIO" class="loginlogo">
                    <div>
                        <h4 class="welcome">
                            Welcome! </h4>
                        <p>{{label}} Your Password !</p>
                    </div>
                    <div nz-col [nzSpan]="24" nz-row class="login-box">
                        <form nz-form [formGroup]="formGroup" [nzLayout]="formGroup.get('formLayout')?.value">
                            <div nz-col [nzSpan]="24">
                                <div nz-row [nzGutter]="24">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item class="space-between">
                                            <nz-form-label class="lable-style">New Password</nz-form-label>
                                            <nz-form-control nzErrorTip="Please enter new password">
                                                <input nz-input [type]="hide ? 'password' : 'text'"
                                                    formControlName="newPassword" (blur)="validatePassword()"
                                                    placeholder="New Password" required />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <div class="error-style" *ngIf="newPasswordError">
                                            {{newPasswordErrorMsg}}
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item class="space-between">
                                            <nz-form-label class="lable-style">Re-Type Password</nz-form-label>
                                            <nz-form-control nzErrorTip="Please enter re-type password">
                                                <input nz-input [type]="hide ? 'password' : 'text'"
                                                    formControlName="reTypePassword" (blur)="passwordMatchCompare()"
                                                    placeholder="Re-Type Password" required />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <div class="error-style" *ngIf="conrirmPasswordMatch">
                                            {{conrirmPasswordMatchMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer-btn">
                                <button nz-button nzType="primary" type="submit" (click)="resetPassword()"
                                    class="submit btn text-white btn-block btn-primary button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid login-footer">
    <div class="row">
        <div class="col-1 reserved text-center"></div>
        <div class="col-5 reserved ">©All
            rights reserved 2022</div>
        <div class="col-6"><a href="https://www.websecurity.symantec.com/ssl-certificate" class="ssl">SSL Certificate
            </a></div>
    </div>
</div>