<nav class="navbar navbar-expand-sm navbar-dark bgtop " >
    <div class="container-fluid">
       <div>
<div class="logo"> <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt="Blumen Online for TRIO"
    title="Blumen Online for TRIO"></a></div>
   <!--<div class="huston-logo">
        <a href="#"><img src="../../../assets/img/HoustonLgo.png" alt="University of Houston"
            title="University of Houston"></a>
    </div>--> 
    <div class="university"> 
        University Name: <strong>University of hoston</strong><br>
        Program name:
             <strong>Student Support Services</strong>
         </div>>
        <div class="fiscal"> 
           Fiscal Year: <strong>2021 - 2022</strong><br>Semester:
                <strong>Spring of 2022</strong><br>
                Organization ID : <strong>ABC123 </strong>
            </div>
       </div>
        <div class="navbar">

            <a href="https://www.trioblumenlab.com/" target="_blank" class="bolt">BOLT 2.0 </a>
           
            
            <div class="dropdown">
                <button class="dropbtn" style="margin: 0 15px 0px 10px;">
                    <img src="../../../assets/img/help.png" alt="Help"
            title="Help">
                    </button>
                <div class="dropdown-content">                    
                    <a href="javascript:void(0)">Help</a>
                    <a href="javascript:void(0)">Contact Us</a>
                  
                </div>
              
            </div>       
            
            
            <div class="dropdown">
                        <button class="dropbtn" style="margin: 0 15px 0px 10px;">
                            <img src="../../../assets/img/accessibility.png" alt="web accessiblity "
                    title="web accessiblity">
                            </button>
                        <div class="dropdown-content" style="width:190px!important;">
                           
                            <a href="javascript:void(0)" style="font-size: 12px!important;"><i
                                class="fa fa-volume-up" alt="Volume" title="Web accessiblity"></i> Sound On/Off </a>
                            <a href="javascript:void(0)" style="font-size: 12px!important;">A <i class="fas fa-plus"></i> Make Text Larger</a>
                            <a href="javascript:void(0)" style="font-size: 12px!important;">A <i class="fas fa-minus"></i>  Make Text Smaller</a>
                          
                            <a href="javascript:void(0)" style="font-size: 12px!important;"><img src="../../../assets/img/Asquare.png" alt="A" title="Zoom In/Out"> Reset To Default</a>
                            <a href="javascript:void(0)" style="font-size: 12px!important;">  <img src="../../../assets/img/drop.png" alt="web accessiblity "
                    title="Monochrome/Color"> Monochrome Mode</a>
                        </div>
                      
                    </div>
            
                    <div class="dropdown">
                <button class="dropbtn" style="margin: 0 0px 0px 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" class="svg"><path d="M12 12c2.486 0 4.5-2.014 4.5-4.5S14.486 3 12 3a4.499 4.499 0 00-4.5 4.5C7.5 9.986 9.514 12 12 12zm0 2.25c-3.004 0-9 1.508-9 4.5v1.75a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1.75c0-2.992-5.996-4.5-9-4.5z"></path></svg>
                    </button>
                <div class="dropdown-content">
                    <div style="color: #000!important; width: 150px; padding: 10px;">{{userName}}</div>
                                          <a href="javascript:void(0)">User Guide</a>
                        <a href="javascript:void(0)" (click)="logout()">Logout</a>
                </div>
                <!--<div>{{userName}}</div>-->
            </div>


        </div>
    </div>
</nav>
<!--
<nav class="navbar navbar-expand-sm navbar-dark bgtop bordertop">
    <div class="container-fluid">

        <div class="col-6">
            <a class="navbar-brand" href="#"><img src="../../../assets/img/HoustonLogo.png" class="logoleft"
                    alt="university of houston student support services"
                    title="university of houston student support services"></a>
        </div>
        <div class="col-3"> </div>
        <div class="col-3">
            <div class="row">
                <div class="col-8 text-right textwhite nopadding">Fiscal Year: <strong>2021-2022</strong><br>Semester:
                    <strong>Spring of 2022</strong></div>
                <div class="col-4 text-right textwhite nopadding boderleft "><a href="#">Contact Us</a> <br> <a
                        href="#">help</a></div>
            </div>
        </div>

    </div>
</nav>-->