<nav class="navbar navbar-expand-sm navbar-dark bgtop ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt="Blumen Online for TRIO"
                title="Blumen Online for TRIO"></a>
        <div class="navbar" style="color: #fff;">
            <a class="active" href="#"
                style="color: #fff!important; padding: 0 10px 0 10px; border-right: .5px solid #fff;"><i
                    class="fa fa-volume-up" alt="Volume" title="Volume"></i> </a>
            <a href="#" style="margin: 0 10px 0px 10px;"><img src="../../../assets/img/A+.png" alt="A+" title="A+"> </a>
            <a href="#" style="margin: 0 10px 0px 10px;"><img src="../../../assets/img/Asquare.png" alt="A" title="A">
            </a>
            <a href="#"
                style="padding: 0 10px 0 10px; border-right: .5px solid #fff; border-right: .5px solid #fff;"><img
                    src="../../../assets/img/A-.png" alt="A-" title="A-"> </a>
            <a href="#" style="margin: 0 30px 0px 10px;"><img src="../../../assets/img/drop.png" alt="web accessiblity "
                    title="A+"> </a>
            <div class="dropdown">
                <button class="dropbtn ml-md-3">
                    <img src="../../../assets/img/Ellipse5.png" class="w3-circle" alt="User Profile"
                        title="User Profile">
                    <i class="arrow down"></i></button>
                <div class="dropdown-content">
                    <a href="javascript:void(0)" (click)="logout()">Logout</a>
                    <a href="javascript:void(0)">Contact Us</a>
                    <a href="javascript:void(0)">User Guide</a>
                </div>
                <div>{{userName}}</div>
            </div>


        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bgtop bordertop">
    <div class="container-fluid">

        <div class="col-6">
            <a class="navbar-brand" href="#"><img src="../../../assets/img/HoustonLogo.png" class="logoleft"
                    alt="university of houston student support services"
                    title="university of houston student support services"></a>
        </div>
        <div class="col-3"> </div>
        <div class="col-3">
            <div class="row">
                <div class="col-8 text-right textwhite nopadding">Fiscal Year: <strong>2021-2022</strong><br>Semester:
                    <strong>Spring of 2022</strong></div>
                <div class="col-4 text-right textwhite nopadding boderleft "><a href="#">Contact Us</a> <br> <a
                        href="#">help</a></div>
            </div>
        </div>

    </div>
</nav>