<nav class="navbar navbar-expand-sm navbar-dark bgtop">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png"></a>
        <div class="navbar" style="color: #fff;">
            <a class="active" href="#"
                style="color: #fff!important; padding: 0 10px 0 10px; border-right: .5px solid #fff;"><i
                    class="fa fa-volume-up"></i> </a>
            <a href="#" style="margin: 0 10px 0px 10px;"><img src="../../../assets/img/A+.png"> </a>
            <a href="#" style="margin: 0 10px 0px 10px;"><img src="../../../assets/img/Asquare.png"> </a>
            <a href="#"
                style="padding: 0 10px 0 10px; border-right: .5px solid #fff; border-right: .5px solid #fff;"><img
                    src="../../../assets/img/A-.png"> </a>
                    <a href="#" style="margin: 0 10px 0px 10px;"><img src="../../../assets/img/drop.png"> </a>
                    <div class="dropdown">
                        <button class="dropbtn"> Nettie Aderson <img
                            src="../../../assets/img/Ellipse5.png" class="w3-circle" alt="Avatar"></button>
                        <div class="dropdown-content">
                          <a href="javascript:void(0)" (click)="logout()">Logout</a>
                          <a href="javascript:void(0)">Contact Us</a>
                          <a href="javascript:void(0)">User Guide</a>
                        </div>
                      </div>


        </div>
    </div>
</nav>
