<div class="main-container">
<div class="container-fluid">
<!-- 
  <div class="row bg-white">
    <div class="col-md-12">
      <h3>Pulldown List</h3>
    </div>
  </div> -->

  <br/>
  <form [formGroup]="myForm" autocomplete="off">
    <div>

      <mat-form-field style="background-color: white;width: 40%;height: 48px;padding: 0px;border: 1px solid #ced4da;">
        <mat-select placeholder="'Filter'" [disableOptionCentering]="true"
                    (selectionChange)="getPullItems($event.value)" formControlName="formType"
                    placeholder="Pulldown Type">
          <mat-select-filter  placeholder="Filter" [displayMember]="'name'" [array]="pulldownType"
                             (keyup)="search($event)"></mat-select-filter>
          <mat-option *ngFor="let pulldown of pulldownTypeList" [value]="pulldown.id">
            {{pulldown.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <!--  <div class="spinner-container" *ngIf="showLoader">-->
  <!--    <mat-spinner id="spinner"></mat-spinner>-->
  <!--  </div>-->

  <div class="border-bot" style="margin-top: 2%;"></div>

  <div class="mat-elevation-z8 data-table-height">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

      <ng-container matColumnDef="pullId">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> id</th>
        <td *matCellDef="let classObj; let row = dataIndex;" mat-cell> {{(classObj.pullId==0 ||
          classObj.pullId)?classObj.pullId:"N/A"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Pulldown Name</th>
        <td *matCellDef="let classObj; let row = dataIndex;" mat-cell> {{classObj.name}}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Active</th>
        <td *matCellDef="let classObj; let row = dataIndex;" mat-cell> {{classObj.active}}</td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr (click)="setSelectedRow(row, idx)" *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
          [ngClass]="{'selected-row' : selectedRowIndex == idx}" mat-row>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10"></mat-paginator>
  <!-- Data Table End-->

  <nav class="navbar navbar-expand-lg navbar-light bg-bottom">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Reset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openModal()" data-bs-toggle="modal" data-bs-target="#exampleModal">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="editPullDownList()" data-bs-toggle="modal"
               data-bs-target="#exampleModal">Edit</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="deletePullDownList()">Delete</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>

  <!--Modal for pulldown -->

  <ng-template #pullDownPopup>
    <div class="modal-header popHeaderBG">
      <span class="modal-title popHeader" id="exampleModalLabel">Add Pulldown Item</span>
      <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
        <form [formGroup]="pulldownItem" class="tab-pane fade show active" id="home" role="tabpanel"
              aria-labelledby="home-tab">
          <div class="col-md-8">
            <h4>Pulldown Type : {{pulldownType}}</h4>
          </div>
          <div class="col-md-8">
            <h4>Enter the Pulldown Number: <input type="number" formControlName="pullId"/></h4>
            <h4 *ngIf="pulldownNumValidateMsg" class="alert alert-danger">{{pulldownNumValidateMsg}}</h4>
            <h4 *ngIf="addPullDownItem">Enter the Pulldown Name: <input class="pullDownName" type="text"
                                                                        formControlName="pulldownName"/></h4>
            <input class="btn btn-primary" *ngIf="!addPullDownItem" (click)="getPullIdValidated()" type="button"
                   value="Next"/>
            <input class="btn btn-primary" *ngIf="addPullDownItem && !isEditable" (click)="savePulldownItem()"
                   type="button" value="Save"/>
            <input class="btn btn-primary" *ngIf="isEditable" (click)="updatePulldownItem()" type="button"
                   value="Update"/>
            &nbsp;<input class="btn btn-secondary" type="button" (click)="closeModal()" value="Cancel"/>
          </div>


        </form>
      </div>
    </div>
  </ng-template>

  <!--End of Modal -->


  <!--Modal for NON-Numeric pulldown -->

  <ng-template #nonNumericPullDownPopup>
    <div class="modal-header popHeaderBG">
      <span class="modal-title popHeader" id="exampleModalLabel">Add Pulldown Item</span>
      <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
        <form [formGroup]="nonNumericPulldownItem" class="tab-pane fade show active" id="home" role="tabpanel"
              aria-labelledby="home-tab">
          <div class="col-md-8">
            <h4>Pulldown Type : {{pulldownType}}</h4>
          </div>
          <div class="col-md-8">

            <h4>Enter the Pulldown Name: <input class="pullDownName" type="text"
                                                formControlName="pulldownName"/></h4>

            <input class="btn btn-primary" *ngIf="!isNonNumericEditable" (click)="saveNonNumericPulldownItem()"
                   type="button" value="Save"/>
            <input class="btn btn-primary" *ngIf="isNonNumericEditable" (click)="updatePulldownItemForNonNumericField()"
                   type="button"
                   value="Update"/>
            &nbsp;<input class="btn btn-secondary" type="button" (click)="closeModal()" value="Cancel"/>
          </div>


        </form>
      </div>
    </div>
  </ng-template>

  <!--End of Modal -->


</div>
