<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Semester and GPA information</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>


    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <th scope="col">S.S.NO Main</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Middle Initial</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Phone 1</th>
                    <th scope="col">Phone 1 Type</th>
                    <th scope="col">Send Text Msg</th>
                    <th scope="col">Phone 2</th>
                    <th scope="col">Phone 2 Type</th>
                    <th scope="col">Send Text Msg</th>
                    <th scope="col">Site Location</th>
                    <th scope="col">Act Composite</th>
                    <th scope="col">Academic Need</th>
                    <th scope="col">Alien Number</th>
                    <th scope="col">Auto Calculate GPA</th>
                    <th scope="col">Birth Place</th>
                    <th scope="col">Citizen</th>
                    <th scope="col">Codes</th>
                    <th scope="col">Cohort Year</th>
                    <th scope="col">College Entrance</th>
                    <th scope="col">Compietion Date</th>
                    <th scope="col">Custom 1</th>
                    <th scope="col">Custom 2</th>
                    <th scope="col">Date Completed College</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Doctor Phone</th>
                    <th scope="col">Driver License Number</th>
                    <th scope="col">Driver License State</th>
                    <th scope="col">Email</th>
                    <th scope="col">Eligibility</th>
                    <th scope="col">Eligibility Type</th>
                    <th scope="col">End School</th>
                    <th scope="col">Enter Grade Level</th>
                    <th scope="col">Entry College</th>
                    <th scope="col">Entry College Date</th>
                    <th scope="col">Entry Date</th>
                    <th scope="col">Entry HS Cum GPA</th>
                    <th scope="col">Entry HS Cum GPA Scale</th>
                    <th scope="col">Ethinic</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="javascript:void(0);" data-bs-toggle="modal"
                    >Save&Close</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
