    <!-- Modal -->
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <h4 mat-dialog-title><b>{{title}}</b></h4>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="formGroup" class="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Service Grading ID*</mat-label>
                                            <input  matInput list="gradings" type="text" placeholder="" value="" formControlName="id">
                                        </mat-form-field>
                                        <datalist id="gradings">
                                            <option value="">Select</option>
                                            <option *ngFor="let act of gradeStandingList" [ngValue]="act.id">
                                                <span *ngIf="act.id != selectedId">{{act.gradingName }} | {{act.id}}</span></option>
                                        </datalist>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-v .primary"(click)="onConfirm();">Merge</button>
                    <button type="button" class="btn btn-primary" (click)="onDismiss();">Cancel</button>
            </div>
        </div>
    </div>
<!-- Modal End-->
