<div class="main-container">
    <div id="main-section" class="container-fluid ">
        <!-- Header Start-->
        <div class="row bg-white">
            <div class="col-md-12">
                <h3>Admin -> Home</h3>
            </div>
        </div>
        <!-- Header End-->
        <div class="row">
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> BOT FORM MANAGEMENT </a>
                </div>
                <div class="col-md-6">
                    BOT Form Management description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['config-settings']"> CONFIG SETTINGS </a>
                </div>
                <div class="col-md-6">
                    Config Settings description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> E-MAIL SETUP </a>
                </div>
                <div class="col-md-6">
                    Config Settings description
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['roles']"> ROLES </a>
                </div>
                <div class="col-md-6">
                    ROLES description
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['system-preferences']"> SYSTEM PREFERENCES </a>
                </div>
                <div class="col-md-6">
                    SYSTEM PREFERENCES description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['user-names-pwd']"> USER NAMES AND PASSWORDS </a>
                </div>
                <div class="col-md-6">
                    USER NAMES AND PASSWORDS description
                </div>
            </div>
        </div>
    </div>
</div>