<div class="main-container">
    <div id="main-section" class="container-fluid ">
        <!-- Header Start-->
        <!-- <div class="row bg-white">
            <div class="col-md-12">
                <h3>Admin -> Home</h3>
            </div>
        </div> -->
        <!-- Header End-->
        <div class="row">
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> BOT Form Management </a>
                </div>
                <div class="col-md-6">
                    BOT Form Management Information
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> E-Mail Setup </a>
                </div>
                <div class="col-md-6">
                    E-Mail Setup Information
                </div>
            </div>


            <div class="marg-top2 display-flex col-md-12" *ngIf="user.roleName === 'Super Admin'">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['organization']"> Organizations </a>
                </div>
                <div class="col-md-6">
                    Organizations Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12" *ngIf="user.roleName === 'Super Admin'">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['original-pulldown-lists']"> Original Pulldown Lists
                    </a>
                </div>
                <div class="col-md-6">
                    Original Pulldown Lists Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12" *ngIf="user.roleName === 'Super Admin'">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['pull-type']"> Pull Type
                    </a>
                </div>
                <div class="col-md-6">
                    Pull Type Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['roles']"> Roles </a>
                </div>
                <div class="col-md-6">
                    Roles Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['securityQuestions']"> Security Questions </a>
                </div>
                <div class="col-md-6">
                    Security Questions Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['system-preferences']"> System Preferences </a>
                </div>
                <div class="col-md-6">
                    System Preferences Information
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['user-names-pwd']"> User Names And Passwords </a>
                </div>
                <div class="col-md-6">
                    User Names And Passwords Information
                </div>
            </div>
        </div>
    </div>
</div>