<div nz-row>
    <div nz-col [nzSpan]="11">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" #searchText nz-input placeholder="Search.." class="search-input"
                (keyup)="applyFilter(searchText.value)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>
    <div nz-col [nzSpan]="4" nzOffset="9">
        <nz-form-item class="search-filter-item">
            <nz-form-control>
                <button nz-button nzType="primary" class="search-filter-btn" (click)="resetFields()">
                    <i nz-icon nzType="file-add" nzTheme="outline" class="search-filter-icon"></i>
                    New
                </button>
                <button nz-button nzType="primary" class="search-filter-btn" (click)="print()">
                    <i nz-icon nzType="printer" nzTheme="outline" class="search-filter-icon"></i>
                    Print
                </button>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>

<div nz-row>
    <div nz-col [nzSpan]="24">
        <nz-table #activityGroupDataTable [nzNoResult]="noResultTemplate" [nzData]="activityGroupData" [nzPageSize]="8"
            [nzLoading]="isLoading " style="margin-top: 15px;">
            <ng-template #noResultTemplate>
                <nz-empty [nzNotFoundContent]="'No Data Found'">
                </nz-empty>
            </ng-template>
            <thead>
                <tr>
                    <th>Group Id <i class="sort" (click)="sorting('id')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('id')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Group Name <i class="sort" (click)="sorting('activityGroupName')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('activityGroupName')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>Report Activity <i class="sort" (click)="sorting('activityReportActivityGroup')" nz-icon
                            nzType="caret-up" nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('activityReportActivityGroup')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>Calculate Hours <i class="sort" (click)="sorting('activityCalculateHoursforActivityGroup')"
                            nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('activityCalculateHoursforActivityGroup')" nz-icon
                            nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of activityGroupDataTable.data;let idx = index;">
                    <td>{{ data.id }}</td>
                    <td>{{ data.activityGroupName }}</td>
                    <td>{{ data.activityReportActivityGroup ? 'YES' : 'NO'}}</td>
                    <td> {{data.activityCalculateHoursforActivityGroup ? 'YES' : 'NO'}} </td>
                    <td class="edit-icon-div">
                        <i class="action-icon" nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTooltipTitle="Edit"
                            nzTooltipPlacement="bottom" nz-button (click)="setValuesToUpdate(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="export" nzTheme="outline" nz-tooltip
                            nzTooltipTitle="Move" nzTooltipPlacement="bottom" nz-button
                            (click)="showMoveItemPopup(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="merge-cells" nzTheme="outline" nz-tooltip
                            nzTooltipTitle="Merge" nzTooltipPlacement="bottom" nz-button
                            (click)="showMergeItemPopup(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="delete" nzTheme="outline" nz-tooltip nz-popconfirm
                            nzPopconfirmTitle="Confirm Remove Record. Are you sure, you want to remove this record."
                            (nzOnConfirm)="deleteSelectedRow(data, idx)" (nzOnCancel)="cancelDelete()"
                            nzPopconfirmPlacement="bottom" nzOkText="Yes" nzCancelText="No" nzTooltipTitle="Delete"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!--Modal-->
<nz-modal [(nzVisible)]="activityGroupListPopupVisiblity" nzTitle="Customize Activity/Service"
    (nzOnCancel)="handleCancel()" [nzFooter]="activityModalFooter" nzWidth="75%"
    [nzOkLoading]="isConfirmActivityGroupLoading">
    <ng-template #activityModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" *ngIf="!isEdit" (click)="addNewGroupName()"
                [nzLoading]="isConfirmActivityGroupLoading">SAVE</button>
            <button nz-button nzType="primary" *ngIf="isEdit" (click)="updateSelectedRow()"
                [nzLoading]="isConfirmActivityGroupLoading">UPDATE</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="formGroup.get('formLayout')?.value"
                    [formGroup]="formGroup">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Service Activity Group ID
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter Service or Activity ID">
                                                <input nz-input type="text" formControlName="id"
                                                    placeholder="Service Activity Group ID" readonly
                                                    class="disInputStyle" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style" nzRequired>Service or
                                                Activity Group Name
                                            </nz-form-label>
                                            <nz-form-control
                                                nzErrorTip="Please Enter Service or Activity Group Name (size must be minimum 3 character )">
                                                <input nz-input type="text" formControlName="activityGroupName"
                                                    placeholder="Service or Activity Group Name" minlength="3" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style" nzRequired>Activity Group
                                                Type
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please Select Activity Group Type">
                                                <nz-select nzPlaceHolder="Activity Group Type"
                                                    formControlName="activityGroupType">
                                                    <nz-option *ngFor="let actGroup of activityGroupTypes"
                                                        [nzLabel]="actGroup.longpullna" [nzValue]="actGroup.longpullna">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Activity Group Type Name
                                            </nz-form-label>
                                            <nz-form-control>
                                                <input nz-input type="text" formControlName="activityGroupTypeName"
                                                    placeholder="Activity Group Type Name"/>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="full-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="">
                                                <label class="lable-checkbox" nz-checkbox
                                                    formControlName="activityCalculateHoursforActivityGroup">Calculate
                                                    Hours for Active Group</label>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="">
                                                <label class="lable-checkbox" nz-checkbox
                                                    formControlName="activityReportActivityGroup">Report Activity
                                                    Group</label>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!--Edit Modal End-->

<!--MoveItem Modal Start-->
<nz-modal [(nzVisible)]="moveModalVisible" nzTitle="Customize Service and Activity Name"
    (nzOnCancel)="moveHandleCancel()" [nzFooter]="moveItemModalFooter" nzWidth="30%" [nzOkLoading]="ismoveItemLoading">
    <ng-template #moveItemModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="moveHandleCancel()">Cancel</a>
            <button nz-button nzType="primary" (click)="onMoveConfirm()" [nzLoading]="ismoveItemLoading">Move</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="moveItemForm.get('formLayout')?.value"
                    [formGroup]="moveItemForm">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label class="lable-style" nzRequired>New Service or Activity ID
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter New Service or Activity Id">
                                                <input nz-input type="number" formControlName="id"
                                                    placeholder="New Service or Activity Id" required />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!--MoveItem MOdal End-->


<!--MergeItem Modal Start-->
<nz-modal [(nzVisible)]="mergeModalVisible" nzTitle="Customize Service and Activity Name"
    (nzOnCancel)="mergeHandleCancel()" [nzFooter]="mergeItemModalFooter" nzWidth="30%"
    [nzOkLoading]="ismergeItemLoading">
    <ng-template #mergeItemModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="mergeHandleCancel()">Cancel</a>
            <button nz-button nzType="primary" (click)="onMergeConfirm()"
                [nzLoading]="ismergeItemLoading">Merge</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="mergeFormGroup.get('formLayout')?.value"
                    [formGroup]="mergeFormGroup">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label class="lable-style" nzRequired>Service Activity Group ID
                                            </nz-form-label>
                                            <nz-form-control nzErrorTip="Please Select Service Activity Group ID">
                                                <nz-select nzShowSearch formControlName="id" nzAllowClear
                                                    nzPlaceHolder="Service Activity Group ID">
                                                    <nz-option *ngFor="let act of activityGroupDataMergeDropDownList"
                                                        [nzLabel]="act?.activityGroupName+' | '+act?.id"
                                                        [nzValue]="act?.activityGroupName+' | '+act?.id">
                                                    </nz-option>

                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!--MoveItem MOdal End-->