<div class="custom-body">
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <div nz-row class="tabStyle">
                <div nz-col [nzSpan]="24">
                    <div nz-row class="form_section">
                        <div nz-row class="full-width-container">
                            <div nz-row>
                                <div nz-col [nzSpan]="11">
                                    <nz-input-group [nzSuffix]="suffixIconSearch">
                                        <input type="text" #searchText nz-input placeholder="Search"
                                            (keyup)="applyFilter(searchText.value)" />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                                <div nz-col [nzSpan]="4" nzOffset="9">
                                    <nz-form-item class="search-filter-item">
                                        <nz-form-control>
                                            <button nz-button nzType="primary" class="search-filter-btn"
                                                (click)="resetFields()">
                                                <i nz-icon nzType="file-add" nzTheme="outline"
                                                    class="search-filter-icon"></i>
                                                New
                                            </button>
                                            <button nz-button nzType="primary" class="search-filter-btn"
                                                (click)="print()">
                                                <i nz-icon nzType="printer" nzTheme="outline"
                                                    class="search-filter-icon"></i>
                                                Print
                                            </button>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row>
                                <div nz-col [nzSpan]="24">
                                    <nz-table #organizationDetails [nzNoResult]="noResultTemplate"
                                        [nzData]="organizationList" [nzPageSize]="8" [nzLoading]="dataLoading"
                                        style="margin-top: 15px;">
                                        <ng-template #noResultTemplate>
                                            <nz-empty [nzNotFoundContent]="'No Data Found'">
                                            </nz-empty>
                                        </ng-template>
                                        <thead>
                                            <tr>
                                                <th>OrgId<i class="sort" (click)="sorting('orgId')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgId')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Organization Name<i class="sort" (click)="sorting('orgName')"
                                                        nz-icon nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgName')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Code<i class="sort" (click)="sorting('orgCode')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgCode')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Two Factor<i class="sort" (click)="sorting('orgTwoFactor')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgTwoFactor')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Device Auth<i class="sort" (click)="sorting('orgDeviceAuth')"
                                                        nz-icon nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgDeviceAuth')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Expiry Time<i class="sort" (click)="sorting('orgExpiryTime')"
                                                        nz-icon nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgExpiryTime')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Active<i class="sort" (click)="sorting('orgActive')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgActive')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Days To Expire<i class="sort" (click)="sorting('orgDaysToExpire')"
                                                        nz-icon nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgDaysToExpire')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Remind One<i class="sort" (click)="sorting('orgRemindOne')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgRemindOne')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Remind Two<i class="sort" (click)="sorting('orgRemindTwo')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgRemindTwo')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Purge<i class="sort" (click)="sorting('orgPurge')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('orgPurge')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Deleted<i class="sort" (click)="sorting('deleted')" nz-icon
                                                        nzType="caret-up" nzTheme="outline"></i>
                                                    <i class="sort" (click)="sorting2('deleted')" nz-icon
                                                        nzType="caret-down" nzTheme="outline"></i>
                                                </th>
                                                <th>Navigate to Users</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of organizationDetails.data;let idx = index;">
                                                <td>{{ data.orgId }}</td>
                                                <td>{{ data.orgName }}</td>
                                                <td>{{ data.orgCode }}</td>
                                                <td>{{ data.orgTwoFactor?'Yes':'No' }}</td>
                                                <td>{{ data.orgDeviceAuth?'Yes':'No' }}</td>
                                                <td>{{ data.orgExpiryTime }}</td>
                                                <td>{{ data.orgActive?'Yes':'No' }}</td>
                                                <td>{{ data.orgDaysToExpire }}</td>
                                                <td>{{ data.orgRemindOne }}</td>
                                                <td>{{ data.orgRemindTwo }}</td>
                                                <td>{{ data.orgPurge?'Yes':'No' }}</td>
                                                <td>{{ data.deleted?'Yes': 'No' }}</td>
                                                <td> <a href="javascript:void(0)"
                                                        [routerLink]="['user-names-pwd',data.orgId]">Users</a></td>
                                                <td class="edit-icon-div">
                                                    <i class="action-icon" nz-icon nzType="edit" nzTheme="outline"
                                                        nz-tooltip nzTooltipTitle="Edit" nzTooltipPlacement="bottom"
                                                        nz-button (click)="editSelectedOrg(data, idx)">
                                                    </i>
                                                    <i class="action-icon" nz-icon nzType="delete" nzTheme="outline"
                                                        nz-tooltip nz-popconfirm
                                                        nzPopconfirmTitle="Confirm Remove Record. Are you sure, you want to remove this record."
                                                        (nzOnConfirm)="deleteSelectedOrg(data)"
                                                        nzPopconfirmPlacement="bottom" nzOkText="Confirm"
                                                        nzCancelText="Cancel" nzTooltipTitle="Delete"
                                                        nzTooltipPlacement="bottom" nz-button>
                                                    </i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div nz-row class="tabStyle">
                <div nz-col [nzSpan]="24">
                    <div nz-row class="form_section">
                        <div nz-row class="full-width-container">
                            <div nz-row>
                                <div class="custom-modal-header">
                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            Select a value for the fields to set the filters
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="24">
                                    <!--Form Section Start-->
                                    <div nz-row class="form_section">
                                        <form nz-form class="staff-form"
                                            [nzLayout]="searchFormGroup.get('formLayout')?.value"
                                            [formGroup]="searchFormGroup">
                                            <div nz-row [nzGutter]="24">
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Subscription Type:
                                                        </nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select Subscription Type">
                                                            <nz-select nzShowSearch nzAllowClear
                                                                formControlName="organizationType"
                                                                nzPlaceHolder="Subscription Type">
                                                                <nz-option
                                                                    *ngFor="let subscriptionType of subscriptionTypeFilterList"
                                                                    [nzLabel]="subscriptionType.description"
                                                                    [nzValue]="subscriptionType.subscriptionType">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>

                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Name:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Enter Name">
                                                            <input nz-input type="text" formControlName="name"
                                                                placeholder="Name" />
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>

                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Code:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Enter Code">
                                                            <input nz-input type="text" formControlName="code"
                                                                placeholder="Code" />
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Active:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select Active">
                                                            <nz-select nzShowSearch nzAllowClear
                                                                formControlName="active" nzPlaceHolder="active">
                                                                <nz-option *ngFor="let active of activeList"
                                                                    [nzLabel]="active.longpullna"
                                                                    [nzValue]="active.longpullna">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Purge:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select Purge">
                                                            <nz-select nzShowSearch nzAllowClear formControlName="purge"
                                                                nzPlaceHolder="purge">
                                                                <nz-option *ngFor="let purge of purgeList"
                                                                    [nzLabel]="purge.longpullna"
                                                                    [nzValue]="purge.longpullna">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">City:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select City">
                                                            <nz-select nzShowSearch nzAllowClear formControlName="city"
                                                                nzPlaceHolder="City">
                                                                <nz-option *ngFor="let city of cityFilterList"
                                                                    [nzLabel]="city.longpullna"
                                                                    [nzValue]="city.longpullna">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">State:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select State">
                                                            <nz-select nzShowSearch nzAllowClear formControlName="state"
                                                                nzPlaceHolder="State">
                                                                <nz-option *ngFor="let state of stateFilterList"
                                                                    [nzLabel]="state.longpullna"
                                                                    [nzValue]="state.longpullna">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Project Type:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select Project Type">
                                                            <nz-select nzShowSearch nzAllowClear
                                                                formControlName="programType"
                                                                nzPlaceHolder="Project Type">
                                                                <nz-option *ngFor="let programType of programTypeFilterList"
                                                                    [nzLabel]="programType.descriptions"
                                                                    [nzValue]="programType.orgType">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                                <div nz-col [nzSpan]="8">
                                                    <nz-form-item>
                                                        <nz-form-label class="lable-style">Deleted:</nz-form-label>
                                                        <nz-form-control nzErrorTip="Please Select State">
                                                            <nz-select nzShowSearch nzAllowClear
                                                                formControlName="deleted" nzPlaceHolder="deleted">
                                                                <nz-option *ngFor="let deleted of deletedList"
                                                                    [nzLabel]="deleted.longpullna"
                                                                    [nzValue]="deleted.longpullna">
                                                                </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--Form Section End-->
                                </div>
                            </div>
                            <div nz-row nzJustify="center">
                                <div nz-col nzSpan="4">
                                    <button nz-button nzType="primary" class="btn-color"
                                        (click)="searchOragization()">SEARCH</button>
                                </div>
                                <div nz-col nzSpan="4">
                                    <button nz-button nzType="primary" class="btn-color"
                                    (click)="resetAllFilter()">RESET</button>
                                </div>
                                <div nz-col nzSpan="4">
                                    <button nz-button nzType="primary" class="btn-color"
                                    [routerLink]="['/admin/home']">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<nz-modal [(nzVisible)]="organizationModalVisible" nzTitle={{organizationModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="organizationModalFooter" nzWidth="75%" [nzOkLoading]="isConfirmOrgnizationLoading">
    <ng-template #organizationModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" *ngIf="orgId && isEdit" [nzDisabled]="isDisabledBtn"
                (click)="updateOrganization()" [nzLoading]="isConfirmOrgnizationLoading">Update</button>
            <button nz-button nzType="primary" *ngIf="orgId && !isEdit" [nzDisabled]="isDisabledBtn"
                (click)="updateOrganizationAfterSave()" [nzLoading]="isConfirmOrgnizationLoading">Update</button>
            <button nz-button nzType="primary" *ngIf="!orgId" [nzDisabled]="isDisabledBtn" (click)="addOrganization();"
                [nzLoading]="isConfirmOrgnizationLoading">Save & Next</button>
            <button nz-button nzType="primary" *ngIf="orgId != null && orgId != undefined" (click)="openUserPopup()">User</button>
            <!-- <button nz-button nzType="primary">Purge Report</button> -->
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form nz-form class="staff-form" [formGroup]="formGroup"
                    [nzLayout]="formGroup.get('formLayout')?.value">
                    <div nz-row [nzGutter]="24" [nzSpan]="24" class="row box">
                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style" nzRequired>Organization Name
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Organization Name">
                                        <input nz-input type="text" *ngIf="orgId" formControlName="orgName"
                                            placeholder="Organization Name" readonly />
                                        <input nz-input type="text" *ngIf="!orgId" formControlName="orgName"
                                            placeholder="Organization Name" (blur)="checkOrgName($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style" nzRequired>Organization Code
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Organization Code">
                                        <input nz-input type="text" *ngIf="orgId" formControlName="orgCode"
                                            placeholder="Organization Code" readonly />
                                        <input nz-input type="text" *ngIf="!orgId" formControlName="orgCode"
                                            placeholder="Organization Code" (blur)="checkOrgCode($event)" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style" nzRequired>Project Type
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="Please Select Project Type">
                                        <nz-select nzShowSearch nzAllowClear formControlName="orgProgramType"
                                            nzPlaceHolder="Project Type">
                                            <nz-option *ngFor="let programType of programTypeList"
                                                [nzLabel]="programType.descriptions" [nzValue]="programType.orgType">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style">Subscription Type</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzAllowClear formControlName="orgOrganizationType"
                                            nzPlaceHolder="organizationType">
                                            <nz-option *ngFor="let subscriptionType of subscriptionTypeList"
                                                [nzLabel]="subscriptionType.description"
                                                [nzValue]="subscriptionType.subscriptionType">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="28" [nzSpan]="14" *ngIf="orgId">
                            <div class="form-group" nz-col [nzSpan]="24">
                                <nz-collapse class="collapse-header-style">
                                    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                        [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="24">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Description
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <textarea nz-input placeholder="Enter Organization Description"
                                                            formControlName="orgDescription"
                                                            maxlength="2000"></textarea>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="12">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Organization
                                                        Address1</nz-form-label>
                                                    <nz-form-control>
                                                        <textarea nz-input placeholder="Enter Organization Address1"
                                                            formControlName="orgAddress1" maxlength="2000"></textarea>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="12">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Organization
                                                        Address2</nz-form-label>
                                                    <nz-form-control>
                                                        <textarea nz-input placeholder="Enter Organization Address2"
                                                            formControlName="orgAddress2" maxlength="2000"></textarea>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">City
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <nz-select nzPlaceHolder="City" formControlName="orgCity"
                                                            [nzMaxMultipleCount]="1">
                                                            <nz-option *ngFor="let city of cityList"
                                                                [nzLabel]="city?.longpullna"
                                                                [nzValue]="city?.longpullna"></nz-option>
                                                        </nz-select>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">State
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <nz-select nzPlaceHolder="State" formControlName="orgState"
                                                            [nzMaxMultipleCount]="1">
                                                            <nz-option *ngFor="let state of stateList"
                                                                [nzLabel]="state?.longpullna"
                                                                [nzValue]="state?.longpullna"></nz-option>
                                                        </nz-select>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Zip Code
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Zip Code" mask="00000-0000"
                                                            value="" formControlName="orgZipCode" maxlength="20" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">phone1
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Phone1" mask="(000)000-0000"
                                                            value="" formControlName="orgPhoneOne" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">phone2
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Phone2" mask="(000)000-0000"
                                                            value="" formControlName="orgPhoneTwo" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">phone3
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Phone3" mask="(000)000-0000"
                                                            value="" formControlName="orgPhoneThree" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Fax</nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Fax" mask="(000)000-0000"
                                                            value="" formControlName="orgFax" maxlength="30" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Email
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Email" value=""
                                                            formControlName="orgEmail" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Web Site
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Web Site" value=""
                                                            formControlName="orgWebSite" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Director
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input placeholder="Enter Director" value=""
                                                            formControlName="orgDirector" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">OTP Expiry Time
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input type="number" placeholder="Enter OTP Expiry Time"
                                                            value="" formControlName="orgExpiryTime" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Days To Expire
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input type="number" placeholder="Enter Days To Expire"
                                                            value="" formControlName="orgDaysToExpire" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>

                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="24">
                                                <nz-form-item>
                                                    <nz-form-control>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgTwoFactor">Two Factor</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgDeviceAuth">Device
                                                            Authentication</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgSendMail">Send Mail</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgActive">Active</label>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="24">
                                                <nz-form-item>
                                                    <nz-form-control>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgSiteLocation">Site Location</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgScript">Script</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgTrioBlumenLab">Trio Blumen Lab</label>
                                                        <label class="lable-checkbox1" nz-checkbox
                                                            formControlName="orgPurge">Purge</label>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Remind One
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input type="number" placeholder="Enter Remind One"
                                                            value="" formControlName="orgRemindOne" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Remind Two
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <input nz-input type="number" placeholder="Enter Remind Two"
                                                            value="" formControlName="orgRemindTwo" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                            <div class="form-group" nz-col [nzSpan]="8">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Good Till
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <nz-date-picker class="filter_Datepicker"
                                                            nzPlaceHolder="MM/DD/YYYY" formControlName="orgGoodTill">
                                                        </nz-date-picker>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                        <div nz-row [nzGutter]="28" [nzSpan]="14">
                                            <div class="form-group" nz-col [nzSpan]="24">
                                                <nz-form-item>
                                                    <nz-form-label [nzSpan]="24" class="lable-style">Notes
                                                    </nz-form-label>
                                                    <nz-form-control>
                                                        <textarea nz-input placeholder="Enter Notes"
                                                            formControlName="orgNotes" maxlength="2000"></textarea>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>
                                    </nz-collapse-panel>
                                </nz-collapse>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!-- Modal End-->

<!-- User management popup -->
<nz-modal [(nzVisible)]="userModalVisible" nzTitle={{userModalHeader}} (nzOnCancel)="handleUserCancel()"
    [nzFooter]="userModalFooter" nzWidth="75%">
    <ng-template #userModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleUserCancel()">Cancel</a>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <app-user-names-password [organizationId]="orgId" [organizationCode]="organizationCode"></app-user-names-password>
    </ng-container>
</nz-modal>
<!-- User management popup-End -->