<div class="container-fluid " style="background:#EFF4F8;">
    <!-- Full Screen Loader Start -->
    <div id="loading"></div>
    <!-- Full Screen Loader End -->

    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                <i class="fa fa-search search"></i>
            </form>
        </div>
        <div class="col-md-6 mt-3 mb-3 ">
            <a href="javascript:void(0)" class="newBtn" (click)="resetFields();">New</a>
            &nbsp;&nbsp;
            <a href="javascript:void(0)" class="newBtn" (click)="editSelectedOrg();">Edit</a>
            &nbsp;&nbsp;
            <a href="javascript:void(0)" class="newBtn" (click)="deleteSelectedOrg();">Remove</a>
        </div>
    </div>

    <!-- Spinner Start-->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>
    <!-- Spinner End-->

    <!-- Data Table Start-->
    <div class="mat-elevation-z8 data-table-height" *ngIf="!isLoading" style="margin-right: 6px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="orgId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Org Id </th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgId}} </td>
            </ng-container>

            <ng-container matColumnDef="orgName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgName}} </td>
            </ng-container>

            <ng-container matColumnDef="orgCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgCode}} </td>
            </ng-container>

            <ng-container matColumnDef="orgTwoFactor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Two Factor</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgTwoFactor?'Yes':'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="orgDeviceAuth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Auth</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgDeviceAuth?'Yes':'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="orgExpiryTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Time</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgExpiryTime}} </td>
            </ng-container>

            <ng-container matColumnDef="orgActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgActive?'Yes':'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="orgDaysToExpire">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Days To Expire</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgDaysToExpire}} </td>
            </ng-container>

            <ng-container matColumnDef="orgRemindOne">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remind 1</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgRemindOne}} </td>
            </ng-container>

            <ng-container matColumnDef="orgRemindTwo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remind Two</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgRemindTwo}} </td>
            </ng-container>

            <ng-container matColumnDef="orgPurge">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Purge</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.orgPurge?'Yes':'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="deleted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Deleted</th>
                <td mat-cell *matCellDef="let orgObj; let row = dataIndex;"> {{orgObj.deleted? 'Yes': 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Navigate to Users </th>
                <td mat-cell *matCellDef="let userObj; let i = index">
                    <a href="javascript:void(0)">Users</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
                [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)">
            </tr>
        </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" style="margin-right: 6px;"></mat-paginator>

    <div class="filter row">
        <div class="col-md-12 display-flex">
            <div class="col-md-6">
                <label>Filters:</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>Organization Type</mat-label>
                        <select matNativeControl>
                            <option value="" selected></option>
                            <option value="volvo">SSS</option>
                            <option value="saab">UB</option>
                            <option value="mercedes">UBMS</option>
                            <option value="audi">TS</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-12 display-flex">
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field class="mat-select-width" appearance="fill">
                        <mat-label>Name </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field class="mat-select-width" appearance="fill">
                        <mat-label>Code </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>Active</mat-label>
                        <select matNativeControl>
                            <option value="" selected></option>
                            <option value="volvo">Yes</option>
                            <option value="saab">No</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>Purge</mat-label>
                        <select matNativeControl>
                            <option value="" selected></option>
                            <option value="volvo">Yes</option>
                            <option value="saab">No</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-12 display-flex">
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>City</mat-label>
                        <select matNativeControl>
                            <option value="" selected>--Select--</option>
                            <option value="austin">Austin</option>
                            <option value="dallas">Dallas</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>State</mat-label>
                        <select matNativeControl>
                            <option value="" selected>--Select--</option>
                            <option value="al">AL</option>
                            <option value="ca">CA</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>Program Type</mat-label>
                        <select matNativeControl>
                            <option value="" selected>--Select--</option>
                            <option value="ts">TS</option>
                            <option value="eoc">EOC</option>
                            <option value="ub">UB</option>
                            <option value="vub">VUB</option>
                            <option value="ubms">UBMS</option>
                            <option value="sss">SSS</option>
                            <option value="mcn">MCN</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="mat-select-width">
                        <mat-label>Deleted</mat-label>
                        <select matNativeControl>
                            <option value="" selected></option>
                            <option value="volvo">Yes</option>
                            <option value="saab">No</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Reset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Submit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Print</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Close</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Modal Start-->
<ng-template #organizationPopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Organization Information</span>
        <button type="button" class="btn-close" (click)="selectedRowIndex = null; formGroup?.markAsUntouched(); 
            selectedRow = null; modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="formGroup" class="form">
                    <div class="row">
                        <div class="col-md-12 display-flex">
                            <div class="form-group col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Organization Name</mat-label>
                                    <input matInput placeholder="" value="" formControlName="orgName" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Organization Code</mat-label>
                                    <input matInput placeholder="" value="" formControlName="orgCode" required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-12 display-content">
                            <div class="form-group col-md-6">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Program Type</mat-label>
                                    <select matNativeControl formControlName="orgProgramType" required>
                                        <option value="" selected>--Select--</option>
                                        <option value="ts">TS</option>
                                        <option value="eoc">EOC</option>
                                        <option value="ub">UB</option>
                                        <option value="vub">VUB</option>
                                        <option value="ubms">UBMS</option>
                                        <option value="sss">SSS</option>
                                        <option value="mcn">MCN</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Organization Type</mat-label>
                                    <select matNativeControl formControlName="orgOrganizationType">
                                        <option value="" selected>--Select--</option>
                                        <option value="lcd">Live Customer Data</option>
                                        <option value="cd">Customer Demo</option>
                                        <option value="tsd">Tech Support Demo</option>
                                        <option value="saab">Dev Team Demo</option>
                                        <option value="saab">Testing Scenario Demo</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <mat-accordion *ngIf="orgId">
                        <mat-expansion-panel (opened)="otherInfo = true" (closed)="otherInfo = false">
                            <mat-expansion-panel-header class="accordion-bg">
                                <mat-panel-title>
                                    Other Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row marg-t2">
                                <div class="col-md-12 display-flex">
                                    <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput value="" formControlName="orgDescription"
                                            rows="1"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                                        <mat-label>Bulk Text Template</mat-label>
                                        <textarea matInput value="" formControlName="orgBulkTemplate"
                                            rows="1"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 display-content">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                                                <mat-label>Address 1</mat-label>
                                                <textarea matInput value="" formControlName="orgAddress1"
                                                    rows="1"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                                                <mat-label>Address 2</mat-label>
                                                <textarea matInput value="" formControlName="orgAddress2"
                                                    rows="1"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-4">
                                        <mat-form-field appearance="fill" class="example-full-width">
                                            <mat-label>City</mat-label>
                                            <select matNativeControl formControlName="orgCity">
                                                <option value="" selected>--Select--</option>
                                                <option value="austin">Austin</option>
                                                <option value="dallas">Dallas</option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field appearance="fill" class="example-full-width">
                                            <mat-label>State</mat-label>
                                            <select matNativeControl formControlName="orgState">
                                                <option value="" selected>--Select--</option>
                                                <option value="al">AL</option>
                                                <option value="ca">CA</option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Zip Code</mat-label>
                                            <input matInput placeholder="" type="number" value=""
                                                formControlName="orgZipCode">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Phone 1</mat-label>
                                            <input matInput placeholder="" minlength="10" maxlength="12" value=""
                                                #orgPhoneOne (keyup)="imposeMinMax(orgPhoneOne)"
                                                (keypress)="numericOnly($event)" formControlName="orgPhoneOne">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Phone 2</mat-label>
                                            <input matInput placeholder="" minlength="10" maxlength="12" value=""
                                                #orgPhoneTwo (keyup)="imposeMinMax(orgPhoneTwo)"
                                                (keypress)="numericOnly($event)" formControlName="orgPhoneTwo">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Phone 3</mat-label>
                                            <input matInput placeholder="" minlength="10" maxlength="12" value=""
                                                #orgPhoneThree (keyup)="imposeMinMax(orgPhoneThree)"
                                                (keypress)="numericOnly($event)" formControlName="orgPhoneThree">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Fax</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgFax">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Mail Server</mat-label>
                                            <input matInput placeholder="" value="" formControlName="mailServer">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Website</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgWebSite">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>E-Mail</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgEmail">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>User Name</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgUserName">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Director</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgDirector">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgTwoFactor" class="example-margin">
                                                Two Factor</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgDeviceAuth" class="example-margin">
                                                Device Authentication</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgSendMail" class="example-margin">
                                                Send Mail</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgActive" class="example-margin">
                                                Active</mat-checkbox>
                                        </section>
                                    </div>
                                </div>

                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgSiteLocation" class="example-margin">
                                                Site Location</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgScript" class="example-margin">
                                                Script</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgTrioBlumenLab" class="example-margin">
                                                Trio Blumen Lab</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <section class="example-section">
                                            <mat-checkbox formControlName="orgPurge" class="example-margin">
                                                Purge</mat-checkbox>
                                        </section>
                                    </div>
                                </div>

                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-3">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Expirty Time</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgExpiryTime">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Days to Expire</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgDaysToExpire">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Reminder 1</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgRemindOne">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Reminder 2</mat-label>
                                            <input matInput placeholder="" value="" formControlName="orgRemindTwo">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 display-flex">
                                    <div class="form-group col-md-4">
                                        <mat-form-field appearance="fill" class="mb-m-6 example-full-width">
                                            <mat-label>Good Till</mat-label>
                                            <input matInput [matDatepicker]="picker1" formControlName="orgGoodTill">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput value="" formControlName="orgNotes" rows="1"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="row marg-t1 marg-b1"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-v .primary" *ngIf="orgId" (click)="openUserPopup()">Users</button>
        <button type="button" class="btn btn-primary" *ngIf="orgId" (click)="addOrganization()">Save</button>
        <button type="button" class="btn btn-primary" *ngIf="!orgId" (click)="addOrganization();">Save & Next</button>
        <button type="button" class="btn btn-secondary" id="closePopup"
            (click)="isEdit = false; selectedRowIndex = null; selectedRow=null; modalRef.hide(); formGroup?.markAsUntouched()">Cancel</button>
        <button type="button" class="btn btn-primary">Purge Report</button>
    </div>
</ng-template>
<!-- Modal End-->

<ng-template #userComponentPopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Users Information</span>
        <button type="button" class="btn-close" (click)="userModalRef.hide();"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <app-user-names-password  [organizationId]="orgId" [organizationType]="orgType"></app-user-names-password>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" id="closePopup" (click)="userModalRef.hide();">Cancel</button>
    </div>
</ng-template>