<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <!-- Full Screen Loader Start -->
    <div id="loading"></div>
    <!-- Full Screen Loader End-->

    <!-- Header Start-->
    <!-- <div class="row bg-white">
        <div class="col-md-12">
            <h3>Activity/Service List</h3>
        </div>
    </div> -->
    <!-- Header End-->

    <!-- Two Tabs Start-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('service-group-list')" role="tab" aria-controls="home"
                aria-selected="true">Activity/Service Group List</a>
        </li>
        <li class="nav-item" role="presentation" id="Service_Name">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('services-list')" role="tab" aria-controls="profile"
                aria-selected="false">Activity/Service List</a>
        </li>
    </ul>
    <!-- Two Tabs Start-->

    <!-- Search Box Start-->
    <div class="row">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                <i class="fa fa-search search"></i>
            </form>
        </div>
        <div nz-row nzJustify="end" class="col-md-6 mt-3 mb-3 ">
            <nz-form-item class="search-filter-item">
                <nz-form-control>
                    <button (click)="resetFields()" nz-button nzType="primary" class="search-filter-btn">
                        <span> New</span>
                    </button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="search-filter-item print">
                <nz-form-control>
                    <button (click)="print()" nz-button nzType="primary" class="search-filter-btn">
                        <i nz-icon nzType="printer" nzTheme="fill"></i>
                        <span> Print </span>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- Search Box End-->

    <!-- Spinner Start-->
    <!-- <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div> -->
    <!-- Spinner End-->
    <!-- Data Table Start-->
    <div class="mat-elevation-z8 data-table-height dt-max-height">
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let serviceObj; let row = dataIndex;"> {{serviceObj.id}} </td>
            </ng-container>

            <ng-container matColumnDef="activityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity/Service Name</th>
                <td mat-cell *matCellDef="let serviceObj; let row = dataIndex;"> {{serviceObj.activityName}} </td>
            </ng-container>
            <ng-container matColumnDef="activityGroupName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                <td mat-cell *matCellDef="let serviceObj; let row = dataIndex;"> {{serviceObj.activityGroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="lapService">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lab Service </th>
                <td mat-cell *matCellDef="let serviceObj; let row = dataIndex;">
                    {{serviceObj.lapService ? 'YES' : 'NO'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
                [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)"></tr>

        </table> -->
        <nz-table #activityServiceDataTable [nzNoResult]="noResultTemplate" [nzLoading]="isLoading"
            [nzData]="activityServiceData">
            <ng-template #noResultTemplate>
                <nz-empty [nzNotFoundContent]="'No Data Found'">
                </nz-empty>
            </ng-template>
            <thead>
                <tr>
                    <th> ID <i class="sort" (click)="sorting('id')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('id')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Activity/Service Name <i class="sort" (click)="sorting('activityName')" nz-icon
                            nzType="caret-up" nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('activityName')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>Group <i class="sort" (click)="sorting('activityGroupName')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('activityGroupName')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>Lab Service <i class="sort" (click)="sorting('lapService')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('lapService')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of activityServiceDataTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.activityName }}</td>
                    <td>{{ data.activityGroupName}}</td>
                    <td> {{data.lapService}} </td>
                    <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus(data)"></td> -->
                    <td class="edit-icon-div">
                        <i class="icon-pt" nz-icon nzType="edit" (click)="setValuesToUpdate(data)" nzTheme="outline"
                            nz-tooltip nzTooltipTitle="Edit" nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="export" nzTheme="outline" (click)="showMoveItemPopup(data)"
                            nz-tooltip nzTooltipTitle="Move" nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="merge-cells" nzTheme="outline"
                            (click)="showMergeItemPopup(data)" nz-tooltip nzTooltipTitle="Merge"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="delete" nzTheme="outline" (click)="deleteSelectedRow(data)"
                            nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="bottom" nz-button>
                        </i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <!-- <div *ngIf="!isLoading && activityServiceData?.length == 0" class="bg-colr-wht py-4">
            <div class="center">
                <h3>No Data Found</h3>
            </div>
        </div> -->
    </div>
    <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator> -->
    <!-- Data Table End-->
</div>

<!-- Modal Start-->
<!-- <ng-template #activityServiceListPopup> -->
<nz-modal [(nzVisible)]="activityServiceListPopupVisiblity" nzTitle={{activityServiceModalHeader}}
    (nzOnCancel)="handleCancel()" [nzFooter]="activityModalFooter" nzWidth="75%"
    [nzOkLoading]="isConfirmActivityLoading">
    <ng-template #activityModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" *ngIf="!isEdit" (click)="addNewServiceName();" [nzLoading]="isConfirmActivityLoading">Save &
                Close</button>
            <button nz-button nzType="primary" *ngIf="isEdit" (click)="addNewServiceName();" [nzLoading]="isConfirmActivityLoading">Update &
                Close</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent> 
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="formGroup" class="form">
                    <div nz-row class="row">
                        <div nz-row [nzGutter]="16" [nzSpan]="14">
                            <div nz-col [nzSpan]="8">
                                <!-- <div nz-col [nzSpan]="24"> -->
                                    <nz-form-item>
                                        <nz-form-label class="lable-style">Service or Activity ID</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input placeholder="" value="" formControlName="id" readonly />
                                        </nz-form-control>
                                    </nz-form-item>
                                <!-- </div> -->
                            </div>
                            <div nz-col [nzSpan]="8">
                               <div nz-col [nzSpan]="24"> 
                                    <nz-form-item>
                                        <nz-form-label class="lable-style">Service or Activity Name</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input value="" formControlName="activityName" minlength="3"
                                                required />
                                        </nz-form-control>
                                    </nz-form-item>
                               </div>
                            </div>

                            <div class="form-group" nz-col [nzSpan]="8">
                                <div nz-col [nzSpan]="24">
                                    <nz-form-item>
                                        <nz-form-label class="lable-style">Service or Activity Group Name:
                                        </nz-form-label>
                                        <nz-form-control>
                                            <input nz-input list="groups" value="" formControlName="activityGroupName"
                                                minlength="3" required />
                                        </nz-form-control>
                                    </nz-form-item>

                                    <datalist id="groups">
                                        <option *ngFor="let actGroup of activityGroup"
                                            [ngValue]="actGroup.activityGroupName">
                                            {{actGroup.activityGroupName}}</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <section class="example-section">
                                    <label nz-checkbox formControlName="lapService"> Report Activity Group</label>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
<!-- Modal -->
