<div id="Yearly" class="tabcontent">
    <div class="row">
        <div class="col-md-12 ">
            <label for="usr"><input type="checkbox"> Use filters from this page</label>

            <div class="row mt-4">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="usr">Activity/Service</label>
                        <span class="form-group">
                            <select name="sel4" class="form-control" id="sel5">
                                <option>Academic Advising</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 mt-4 "><button class="btn btn-primary float-right" style="float: right"><i
                            class="fa fa-adn"></i> Add </button> </div>
                <div class="col-md-2 pull-left mt-4"><button class="btn btn-primary active float-left"><i
                            class="fa fa-remove"></i> Remove </button> </div>

                <div class="col-md-4 mt-4 "> <label for="usr"><input type="checkbox"> Use filters from this page to
                        select records</label>
                </div>
                <div class="table-responsive mt-5" style="border:1px solid #1366A0;">

                    <table class="table table-hover " style="background:#fff; color: #8f8a8a;">
                        <thead>
                            <tr style="background: #F5F6FA;">
                                <th scope="col">Staff Id</th>
                                <th scope="col">Namet</th>
                                <th scope="col">Title</th>
                                <th scope="col">Active</th>
                                <th scope="col">Councelor</th>
                                <th scope="col">Tutor</th>
                                <th scope="col">Teacher</th>
                                <th scope="col">Lab</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry </td>
                                <td>@twitter</td>
                                <td>@twitter</td>

                                <td>@twitter</td>
                                <td>@twitter</td>

                                <td>@twitter</td>
                          </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td colspan="2">Larry </td>
                                <td>@twitter</td>
                                <td>@twitter</td>

                                <td>@twitter</td>
                                <td>@twitter</td>

                                <td>@twitter</td>
                            </tr>

                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label for="sel1"> Activity/Service Count:</label>
                        </div>
                        <div class="form-group">
                            <select name="sel3" class="form-control" id="sel4">
                                <option>All</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <label for="sel1"> </label>
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="0" id="usr">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>