
<!-- Footer -->
<div class="container-fluid">
    <footer class="page-footer font-small footer">
        <!-- Copyright -->
        <div class="footer-copyright py-3 ">
            <div class="row">
                <div class="col-6">
                    © All rights reserved 2021
                </div>
                <div class="col-6 text-left"><a href="#" style="color:#000; text-decoration: none;"> Keyboard Shortcuts
                     | Help | Contact Us</a></div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- Footer -->