<app-header *ngIf="isLoggedIn && !isResetPassword"></app-header>
<app-navigation *ngIf="isLoggedIn && !isResetPassword"></app-navigation>
<router-outlet *ngIf="isLoggedIn && !isResetPassword"></router-outlet>
<app-footer *ngIf="isLoggedIn && !isResetPassword"></app-footer>
<app-login *ngIf="!isLoggedIn && !isResetPassword" (validateLogin)="validate($event)"></app-login>
<app-reset-password *ngIf="isResetPassword" [hashcode]="resetHashCode"></app-reset-password>
<!-- <app-header></app-header>
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-login (validateLogin)="validate($event)"></app-login> -->