<div class="custom-body">
  <div nz-row class="page-alignment">
    <div nz-col [nzSpan]="24">
      <div nz-row [nzGutter]="24" class="outer-div">
        <div nz-col [nzSpan]="6">
          <div nz-row [nzGutter]="24" class="inner-div">
            <div nz-col [nzSpan]="24">
              <nz-list nzBordered>
                <nz-list-item *ngFor="let role of roleNameList" (click)="setBgColorForSelectedRole(role.id, role.name)"
                  id="{{role.id}}">
                  {{ role.name }} {{role.default ? '(Default)': ''}}
                </nz-list-item>
              </nz-list>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="18">
          <div nz-row [nzGutter]="24" class="inner-div">
            <div nz-col [nzSpan]="24">
              <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
                <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
                  <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
                  <nz-tree-node-option [nzDisabled]="node.disabled" (nzClick)="leafItemSelectionToggle(node)">
                    <nz-radio-group [(ngModel)]="node.accessType" (ngModelChange)="leafItemSelectionToggle(node)">
                      <label nz-radio nzValue="Y">Y</label>
                      <label nz-radio nzValue="R">R</label>
                      <label nz-radio nzValue="N">N</label>
                    </nz-radio-group>
                  </nz-tree-node-option>
                  {{ node.name }}
                </nz-tree-node>

                <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
                  <nz-tree-node-toggle>
                    <i nz-icon [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"></i>
                  </nz-tree-node-toggle>
                  <nz-tree-node-option [nzDisabled]="node.disabled" (nzClick)="itemSelectionToggle(node)">
                    <nz-radio-group [(ngModel)]="node.accessType" (ngModelChange)="itemSelectionToggle(node)">
                      <label nz-radio nzValue="Y">Y</label>
                      <label nz-radio nzValue="R">R</label>
                      <label nz-radio nzValue="N">N</label>
                    </nz-radio-group>
                    {{ node.name }}
                  </nz-tree-node-option>
                </nz-tree-node>
              </nz-tree-view>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <button nz-button nzType="primary" (click)="showAddForm()">New</button>
        <button nz-button nzType="primary" (click)="showRenameForm()">Rename</button>
        <button nz-button nzType="primary" (click)="updateRole()">Save</button>
        <button nz-button nzType="primary" (click)="deleteRole()">Delete</button>
        <button nz-button nzType="primary" (click)="saveAndClose()">Save & Close</button>
        <button nz-button nzType="primary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="isAddRoleModalVisible" nzTitle="Copy Role" (nzOnCancel)="handleCancel()"
  [nzFooter]="addRoleModalFooter" nzWidth="50%" [nzOkLoading]="isConfirmRolesLoading">
  <ng-template #addRoleModalFooter>
    <div class="modal-footer-btn">
      <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
      <button nz-button nzType="primary" (click)="addNewRole()" [nzLoading]="isConfirmRolesLoading">Copy</button>
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <div class="tab-content" nz-row>
      <div nz-col [nzSpan]="24">
        <form nz-form class="staff-form" nzLayout="horizontal" [formGroup]="roleFormGroup">
          <div nz-row class="tabStyle">
            <div nz-col [nzSpan]="24">
              <div nz-row [nzGutter]="24" class="full-width-container">
                <div nz-col [nzSpan]="16">
                  <nz-form-item>
                    <nz-form-label class="lable-style">Role Name</nz-form-label>
                    <nz-form-control nzErrorTip="Please Enter Role Name">
                      <input nz-input type="text" formControlName="newRoleName" placeholder="New Role Name"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
                <div nz-row [nzGutter]="24" class="full-width-container">
                  <div nz-col [nzSpan]="16">
                    <nz-form-item>
                      <nz-form-label class="lable-style">Role</nz-form-label>
                      <nz-form-control nzErrorTip="Please Select Role">
                        <nz-select nzShowSearch nzAllowClear formControlName="copyRoleName" nzPlaceHolder="Role">
                          <nz-option *ngFor="let roleName of roleNameList" [nzLabel]="roleName.name"
                            [nzValue]="roleName.name">
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row [nzGutter]="24" class="full-width-container">
                  <div nz-col [nzSpan]="16">
                    <nz-form-item>
                      <nz-form-label class="lable-style">Default</nz-form-label>
                      <nz-form-control nzErrorTip="">
                        <label class="lable-checkbox1" nz-checkbox formControlName="isDefault"></label>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isRenameRoleModalVisible" nzTitle="Rename Role" (nzOnCancel)="handleCancel()"
  [nzFooter]="renameRoleModalFooter" nzWidth="50%" [nzOkLoading]="isConfirmRolesLoading">
  <ng-template #renameRoleModalFooter>
    <div class="modal-footer-btn">
      <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
      <button nz-button nzType="primary" (click)="renameRole()" [nzLoading]="isConfirmRolesLoading">Save</button>
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <div class="tab-content" nz-row>
      <div nz-col [nzSpan]="24">
        <form nz-form class="staff-form" nzLayout="horizontal" [formGroup]="renameRoleFormGroup">
          <div nz-row class="tabStyle">
            <div nz-col [nzSpan]="24">
              <div nz-row [nzGutter]="24" class="full-width-container">
                <div nz-col [nzSpan]="16">
                  <nz-form-item>
                    <nz-form-label class="lable-style">Role Name</nz-form-label>
                    <nz-form-control nzErrorTip="Please Enter Role Name">
                      <input nz-input type="text" formControlName="newRoleName" placeholder="New Role Name"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </ng-container>
</nz-modal>
