<div id="Semester" class="tabcontent">
    <div class="row">
        <div class="col-md-12 ">
            <label for="usr"><input type="checkbox"> Use filters from this page</label>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="usr">Semester Current year</label>
                <input type="text" class="form-control" placeholder="2017" id="usr">
            </div>
            <div class="form-group">
                <label for="usr">Semester Fiscal year</label>
                <input type="text" class="form-control" placeholder="0" id="usr">
            </div>

            <div class="row mt-3">
                <div class="col-md-3">
                    Active:
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-3">
                    Served:</div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-3">
                    Resorted:
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Semester</label>
            </div>
            <span class="form-group mt-3">
                <span class="form-group">
                    <select name="sel4" class="form-control" id="sel5">
                        <option>All</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </span>
            </span>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">SemesterStanding</label>
                <select class="form-control" id="sel1">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 border border-1 ">
                    <h6>Semester GPA Filter Information</h6>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1"> Semester GPA</label>
                            </div>
                            <div class="form-group">
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="sel1">Semester Cummulative GPA</label>
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1">GPA (end)</label>
                            </div>
                            <div class="form-group">
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1"></label>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>