<div class="main-container">
    <div id="main-section" class="container-fluid ">
        <div class="row">
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['service-group-list']"> ACTIVITY/SERVICE LIST </a>
                </div>
                <div class="col-md-6">
                    ACTIVITY/SERVICE LIST description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> CLASSES </a>
                </div>
                <div class="col-md-6">
                    CLASSES description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)" [routerLink]="['college-list']"> COLLEGE/SCHOOL LIST </a>
                </div>
                <div class="col-md-6">
                    COLEGE SCHOOL description
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"> CONTACTS </a>
                </div>
                <div class="col-md-6">
                    CONTACTS description
                </div>
            </div>

            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['custom-fields']"> CUSTOM FIELD VALUES </a>
                </div>
                <div class="col-md-6">
                    CUSTOM FIELD VALUES description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['grade-group-list']"> GRADE/STANDING LIST </a>
                </div>
                <div class="col-md-6">
                    GRADE STANDING LIST description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['lab-settings']"> LAB SETTING PREFERENCES </a>
                </div>
                <div class="col-md-6">
                    LAB SETTING PREFERENCES description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['pulldown-list']"> PULLDOWN LIST </a>
                </div>
                <div class="col-md-6">
                    PULLDOWN LIST description
                </div>
            </div>
            <div class="marg-top2 display-flex col-md-12">
                <div class="col-md-6">
                    <a href="javascript:void(0)"  [routerLink]="['staff-members']"> STAFF MEMBERS </a>
                </div>
                <div class="col-md-6">
                    STAFF MEMBERS description
                </div>
            </div>
        </div>
    </div>
</div>