<div id="Student" class="tabcontent">
    <div class="row">
        <div class="col-md-12 ">
            <label for="usr">Report Header</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
    <form [formGroup]="studentForm" class="row mt-4">

        <div class="col-md-4">
            <div>
                <label for="usr">Fiscal Year</label>
                <input formControlName="fiscalYear" type="number" class="form-control" placeholder="2017" id="usr">
            </div>

            <div class="row mt-3">
                <div class="col-md-3">
                    Active:
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-3">
                    Served:</div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-3">
                    Resorted:
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> yes
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> NO
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> All
                    </label>
                </div>
            </div>
            <div class="mt-2">
                <label for="sel1">Ethinicity</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Ethinicity</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Gender</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2 ">
                <label for="sel1">Zip Code&nbsp;</label>
            </div>
            <span>
                <input id="zip" name="zip" class="form-control" type="number" inputmode="numeric" pattern="[0-9]*">
            </span>
            <div class="mt-2">
                <label for="sel1">Income Source</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div>

                        <label for="sel1">Entry Date From</label>
                    </div>
                    <div>
                        <input type=date id=start class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="sel1">From Date</label>
                    </div>
                    <div>
                        <input type=date id=start class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <label for="birthday">Month (Dob)</label>
            </div>
            <span>
                <input type="date" id="birthday" class="form-control" required name="birthday">
            </span>

            <div class="mt-2">
                <label for="birthday">Referred By</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
        </div>

        <div class="col-md-4">
            <div>
                <label for="sel1">Cohort year</label>
            </div>
            <span class="mt-2">
                <input type="text" class="form-control" placeholder="0" id="usr2">
            </span>
            <div class="mt-2">
                <label for="sel1">School</label>
            </div>
            <span>
                <select name="sel4" class="form-control" id="sel5">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Counselor</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>

            <div class="mt-2">
                <label for="sel1">Standing</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Entry School</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Entry College</label>
            </div>
            <span class="mt-2">
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">College Type</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">College Name</label>
            </div>
            <span class="mt-2">
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Major</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>

            <div class="mt-2">
                <label for="sel1">Site Location</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
        </div>
        <div class="col-md-4">
            <div>
                <label for="sel1">College Ready</label>
                <select class="form-control" id="sel1">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="mt-2">
                <label for="sel1">Participant Status</label>
            </div>
            <span>
                <select name="sel" class="form-control" id="sel2">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Codes </label>
            </div>
            <span>
                <select name="sel2" class="form-control" id="sel3">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>

            <div class="mt-2">
                <label for="sel1">Advisor</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Tutor</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Custom 1</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Custom 2</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Custom 3</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Custom 4</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="mt-2">
                <label for="sel1">Graduation Cohort Year</label>
            </div>
            <span>
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
            <div class="row mt-3">
                <div class="col-md-12 border border-1 ">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div>

                                <label for="sel1">GPA Entry</label>
                            </div>
                            <div>
                                <span>
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="sel1"></label>
                            </div>
                            <div>
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div>

                                <label for="sel1">GPA (start)</label>
                            </div>
                            <div>
                                <span>
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="sel1"></label>
                            </div>
                            <div>
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div>

                                <label for="sel1">GPA (end)</label>
                            </div>
                            <div>
                                <span>
                                    <select name="sel3" class="form-control" id="sel4">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="sel1"></label>
                            </div>
                            <div class=" mb-3">
                                <input type="text" id=start placeholder="0" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
</div>
