<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Staff Time Clock Manager</h3>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col">Staff Name</th>
                    <th scope="col">Clock In Time</th>
                    <th scope="col">Clock Out Time</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="#">Close</a>
                </li>
            </ul>

        </div>
    </div>
</nav>