<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <!-- Full Screen Loader Start -->
    <div id="loading"></div>
    <!-- Full Screen Loader End -->

    <!-- Header Start-->
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Counselor Classes Data Entry</h3>
        </div>
    </div>
    <!-- Header End-->

    <!-- Search Box Start-->
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                <i class="fa fa-search search"></i>
            </form>
        </div>
    </div>
    <!-- Search Box End-->

    <!-- Spinner Start-->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>
    <!-- Spinner End-->

    <!-- Data Table Start-->
    <div class="mat-elevation-z8 data-table-height bgColorDT dt-max-height" *ngIf="!isLoading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="currentYear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Year </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;"> {{classObj.currentYear}} </td>
            </ng-container>

            <ng-container matColumnDef="semester">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester</th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;"> {{classObj.semester}} </td>
            </ng-container>
            <ng-container matColumnDef="counselorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Counselor </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;"> {{classObj.counselorName }} </td>
            </ng-container>
            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.subject}} </td>
            </ng-container>

            <ng-container matColumnDef="classPeriod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Period </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.classPeriod}} </td>
            </ng-container>
            <ng-container matColumnDef="meetingTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Meet Time </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.meetingTime}} </td>
            </ng-container>
            <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.days}} </td>
            </ng-container>
            <ng-container matColumnDef="room">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.room}} </td>
            </ng-container>
            <ng-container matColumnDef="maxLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Limit </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.maxLimit}} </td>
            </ng-container>
            <ng-container matColumnDef="studentAssigned">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned </th>
                <td mat-cell *matCellDef="let classObj; let row = dataIndex;">
                    {{classObj.studentAssigned}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
                [ngClass]="{'selected-row' : selectedClassesRowIndex == idx}"
                (click)="setSelectedClassesGridRow(row, idx)">
            </tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </div>
    <!-- Data Table End-->

    <!-- Search Filter Start-->
    <div class="row filterCss bgColorDT">
        <div class="col-md-12">
            <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex">
                        <div class="col-md-12 ">
                            <span class="mt-3 mb-3 filterTitle">Select a value for the fields to set the filters</span>
                        </div>
                    </div>

                    <div class="row " style="margin-left: 0px!important; margin-right: 0px!important;">
                        <div class="col-md-4 flex">
                            <div class="form-group">
                                <label for="sel1">Semester Current Year
                                </label>
                                <input type="number" class="form-control" id="usr">
                            </div>
                        </div>
                        <div class="col-md-4 flex">
                            <div class="form-group">
                                <label for="sel1">Class Period
                                </label>
                                <input type="number" class="form-control" id="usr">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sel1">Semester </label>
                                <select class="form-control" id="sel1">
                                    <option value="null">Select</option>
                                    <option value="Fall">Fall</option>
                                    <option value="Spring">Spring</option>
                                    <option value="Summer">Summer</option>
                                    <option value="Winter">Winter</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sel1">Subject</label>
                                <select class="form-control" id="sel1">
                                    <option value="null">Select</option>
                                    <option>Economics</option>
                                    <option>English</option>
                                    <option>Geography</option>
                                    <option>History</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sel1">Counselor</label>
                                <select class="form-control" id="sel1">
                                    <option>Rock</option>
                                    <option>GoldBerg</option>
                                    <option>Brock</option>
                                    <option>Undertaker</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Filter End-->

</div>

<!-- Buttons Start-->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" (click)="resetFields()">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0);" (click)="setValuesToUpdate()">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0)" (click)="deleteSelectedRow()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Print</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Buttons End-->


<!-- Counselor Classes Modal Start-->
<ng-template #counselorClassesPopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Counselor Classes Data Entry</span>
        <button type="button" class="btn-close" (click)="resetVariables();modalRef.hide()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <!-- <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="usr">Look for</label>
                                <form class="example">
                                    <input type="text" class="border-rightToTxtBox" matInput
                                        (keyup)="applyClassFilter($event)" placeholder="Search.." />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-3 ">
                                <label for="usr">This Class by:</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Current Year</label>
                                <input type="text" class="form-control"
                                    [(ngModel)]="counselorClassListEnum.currentYear">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Class Period</label>
                                <input type="number" placeholder="0" class="form-control"
                                    [(ngModel)]="counselorClassListEnum.classPeriod">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Semester</label>
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4"
                                        [(ngModel)]="counselorClassListEnum.semester">
                                        <option value="null">Select</option>
                                        <option value="Fall">Fall</option>
                                        <option value="Spring">Spring</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Winter">Winter</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Meeting time
                                </label>
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4"
                                        [(ngModel)]="counselorClassListEnum.meetingTime">
                                        <option value="null">Select</option>
                                        <option>1:30 - 2:30</option>
                                        <option>2:30 - 3:30</option>
                                        <option>10:50 - 11:45</option>
                                        <option>8:00 - 8:50</option>
                                        <option>8:55 - 9:45</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Duration</label>
                                <input type="number" placeholder="0" class="form-control"
                                    [(ngModel)]="counselorClassListEnum.duration">
                                <h1 style="font-size: 12px"> in minutes</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="usr">Counselor name</label>
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4"
                                        [(ngModel)]="counselorClassListEnum.counselorName">
                                        <option value="null">Select</option>
                                        <option>Rock</option>
                                        <option>GoldBerg</option>
                                        <option>Brock</option>
                                        <option>Undertaker</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="usr">Days
                                </label>
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4"
                                        [(ngModel)]="counselorClassListEnum.days">
                                        <option value="null">Select</option>
                                        <option>M F</option>
                                        <option>M T W T F</option>
                                        <option>M W F</option>
                                        <option>T W T</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="usr">Max Limit
                                </label>
                                <input type="number" placeholder="0" class="form-control"
                                    [(ngModel)]="counselorClassListEnum.maxLimit">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Subject</label>
                                <span class="form-group">
                                    <select name="sel3" class="form-control" id="sel4"
                                        [(ngModel)]="counselorClassListEnum.subject">
                                        <option value="null">Select</option>
                                        <option>Economics</option>
                                        <option>English</option>
                                        <option>Geography</option>
                                        <option>History</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Room
                                </label>
                                <select name="sel3" class="form-control" id="sel4"
                                    [(ngModel)]="counselorClassListEnum.room">
                                    <option value="null">Select</option>
                                    <option>126</option>
                                    <option>215</option>
                                    <option>404</option>
                                    <option>500</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <label for="usr">Student Assigned
                                </label>
                                <input type="number" placeholder="0" class="form-control"
                                    [(ngModel)]="counselorClassListEnum.studentAssigned" readonly>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4 ">
                            <button type="button" class="btn btn-secondary" (click)="openStudentModal()">Assign
                                Student</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-secondary" (click)="editStudentGrade()">Edit Grade &
                                Notes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-secondary" (click)="removeSelectedStudent()">Remove
                                From
                                Class</button>

                        </div>
                        <div class="col-md-4">&nbsp;</div>

                    </div>

                    <div class="md-form form-group pink-textarea active-pink-textarea-2">
                        <!-- Spinner Start-->
                        <div class="spinner-container" *ngIf="isLoading1">
                            <mat-spinner id="spinner"></mat-spinner>
                        </div>
                        <!-- Spinner End-->

                        <!-- Data Table Start-->
                        <div class="mat-elevation-z8 data-table-height bgColorDT dt-max-height" *ngIf="!isLoading1">
                            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" matSort>
                                <ng-container matColumnDef="firstName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                                    <td mat-cell *matCellDef="let classStudentObj; let row = dataIndex;">
                                        {{classStudentObj.firstName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="lastName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
                                    <td mat-cell *matCellDef="let classStudentObj; let row = dataIndex;">
                                        {{classStudentObj.lastName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="grade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
                                    <td mat-cell *matCellDef="let classStudentObj; let row = dataIndex;">
                                        {{classStudentObj.grade }} </td>
                                </ng-container>
                                <ng-container matColumnDef="gradeNotes">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
                                    <td mat-cell *matCellDef="let classStudentObj; let row = dataIndex;">
                                        {{classStudentObj.gradeNotes}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
                                <tr mat-row *matRowDef="let row; let idx1 = index; columns: columnsToDisplay1;"
                                    [ngClass]="{'selected-row' : selectedStudentRowIndex == idx1}"
                                    (click)="setSelectedRowOfClassesStudent(row, idx1)">
                                </tr>
                            </table>
                            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                        </div>
                        <!-- Data Table End-->
                    </div>

                    <div class="md-form col-md-12 mb-4 mt-4 form-group pink-textarea active-pink-textarea-2">
                        <div class="row">
                            <label for="form23"> Notes:
                            </label>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                            <textarea id="form23" style="margin-left: 2%;" [(ngModel)]="counselorClassListEnum.notes"
                                class="md-textarea form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closePopup"
            (click)="isEdit = false; selectedStudentRowIndex = null;selectedClassesRowIndex = null; modalRef.hide()">Close</button>
        <button type="button" class="btn btn-v .primary" *ngIf="!isEdit" (click)="addCounselorClassesToList()">Save &
            Close</button>
        <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="updateCounselorClassesToList()">Update &
            Close</button>
    </div>
</ng-template>
<!-- counselor Classes Modal End-->

<!-- Student List Modal Start-->
<ng-template #studentListPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Select Students</span>
        <button type="button" class="btn-close" (click)="studentListModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row ">
                    <div class="col-md-6 mt-3 mb-3 ">
                        <form class="example">
                            <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                            <i class="fa fa-search search"></i>
                        </form>
                    </div>
                </div>
                <div class="mat-elevation-z8 data-table-height dt-max-height"
                    style="border:1px solid #1366A0;overflow-y: auto;">
                    <table mat-table [dataSource]="studentListDataSource" class="mat-elevation-z8"
                        [ngStyle]="{'width': '100%', 'padding': '0.5rem 0'}" matSort>
                        <ng-container matColumnDef="ssno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.S. No </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.ssno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.firstName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.lastName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.phoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fiscalYear">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fiscal Year </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.fiscalYear}} </td>
                        </ng-container>
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.active}} </td>
                        </ng-container>
                        <ng-container matColumnDef="served">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Served </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.served}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reported">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reported </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.reported}} </td>
                        </ng-container>
                        <ng-container matColumnDef="counselor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Counselor </th>
                            <td mat-cell *matCellDef="let entry"> {{entry?.graduatedInformation?.counselor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="standing">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Standing </th>
                            <td mat-cell *matCellDef="let entry"> {{entry.standing}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="studentListColumnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: studentListColumnsToDisplay;let i = index;"
                            (click)="getSelectedStudentRow(row, i)"
                            [ngClass]="{'selected-row' : this.selectedStudentRowIndex == i}"></tr>
                    </table>
                    <div *ngIf="spinner" class="spinner-container bg-colr-wht py-4">
                        <mat-progress-spinner class="center" [diameter]="50" color="default" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <div *ngIf="!spinner && studentsList?.length == 0" class="bg-colr-wht py-4">
                        <div class="center">
                            <h3>No Data Found</h3>
                        </div>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="sel1">Fiscal Year:</label>
                                <select class="form-control" id="sel1">
                                    <option>2021</option>
                                    <option>2021</option>
                                    <option>2021</option>
                                    <option>2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label> Served </label>
                            <div class="form-group mt-2">
                                <label class="radio-inline">
                                    <input class="ml-2" type="radio" name="optradio" value="Yes"> Yes </label>
                                <label class="radio-inline">
                                    <input class="ml-2" type="radio" name="optradio" value="No"> No
                                </label>
                                <label class="radio-inline">
                                    <input class="ml-2" type="radio" name="optradio" value="All"> All
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="sel1">Site Location:</label>
                                <select class="form-control" id="sel1">
                                    <option>All</option>
                                    <option>All</option>
                                    <option>All</option>
                                    <option>All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex">
                        <div class="col-md-4">
                            <label class="radio-inline"> Active:
                                <input class="ml-2" type="radio" name="optradio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input class="ml-2" type="radio" name="optradio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input class="ml-2" type="radio" name="optradio" value="All"> All
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline"> Reported:
                                <input class="ml-2" type="radio" name="optradio" value="Yes"> Yes </label>
                            <label class="radio-inline">
                                <input class="ml-2" type="radio" name="optradio" value="No"> No
                            </label>
                            <label class="radio-inline">
                                <input class="ml-2" type="radio" name="optradio" value="All"> All
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5; position:relative;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" (click)="resetSelectedStudentAndFilter()">Reset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="addSelectedStudentToClassGrid();">Select</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="modalRef.hide()">Cancel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="resetSelectedStudentAndFilter()">Reset</button>
        <button type="button" class="btn btn-v .primary" (click)="addSelectedStudentToClassGrid()">Select</button>
        <button type="button" class="btn btn-secondary"
            (click)="studentListModalRef.hide();selectedClassesStudentRow = null;">Cancel</button>
    </div>
</ng-template>
<!-- Counselor Classes Modal End-->

<!-- Student List Modal Start-->
<ng-template #classesGradeModalPopup>
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Classes Grade</span>
        <button type="button" class="btn-close" (click)="classesGradeModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">
                    <div class="col-md-12">
                        <span class="mt-3 mb-3">
                            <label class="gradeLable">Student's Name: &nbsp;&nbsp;&nbsp;</label>
                            <label class="gradeName">{{selectedClassesStudentRow.firstName}} &nbsp;
                                {{selectedClassesStudentRow.lastName}}</label>
                        </span>
                    </div>
                </div>
                <div class="row flex marg-top">
                    <div class="col-sm-2">
                        <label for="sel1">Grade:</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="usr" [(ngModel)]="grade">
                    </div>
                </div>
                <div class="row flex marg-top">
                    <div class="col-sm-2">
                        <label for="sel1">Notes:</label>
                    </div>
                    <div class="col-sm-10">
                        <textarea id="form23" [(ngModel)]="gradeNotes" class="md-textarea form-control"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="classesGradeModalRef.hide();">Cancel</button>
        <button type="button" class="btn btn-v .primary" (click)="updateStudentGrade()">Save</button>
    </div>
</ng-template>
<!-- Counselor Classes Modal End-->