<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Semester and GPA information</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <th scope="col">S.S.NO Semester</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Current Year</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Fiscal Year</th>
                    <th scope="col">Active</th>
                    <th scope="col">Served</th>
                    <th scope="col">Reported</th>
                    <th scope="col">Cumulative GPA</th>
                    <th scope="col">Cumulative Hrs Attempted</th>
                    <th scope="col">Cumulative Hrs Completed</th>
                    <th scope="col">Hrs Attempted</th>
                    <th scope="col">Hrs Completed</th>
                    <th scope="col">Hrs GPA</th>
                    <th scope="col">GPA Points</th>
                    <th scope="col">GPA</th>
                    <th scope="col">Standing</th>
                    <th scope="col">Notes</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="javascript:void(0);" data-bs-toggle="modal"
                    >Save&Close</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
