<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Semester</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <th scope="col">S.S.NO</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
                <tr>
                    <th scope="col"><input type="checkbox" name="chk"></th>
                    <td>265-85-9568</td>
                    <td>Craig</td>
                    <td>adams</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="javascript:void(0);" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Next</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information needed for the national student clearing house</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12 flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Account Type:</label>
                                    <select class="form-control" id="CFN">
                                        <option selected>Pune</option>
                                        <option>Mumbai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Institution Name:</label>
                                    <input type="text" class="form-control" id="serviceId"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Account number:</label>
                                    <input type="text" class="form-control" id="serviceId"> &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <h4>Step 1. Create student tracker research file to be uploaded</h4>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Creation date:</label>
                                    <select class="form-control" id="CFN">
                                        <option selected>Pune</option>
                                        <option>Mumbai</option>
                                    </select>
                        
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">Search begin date:</label>
                                    <select class="form-control" id="CFN">
                                        <option selected>Maharashtra</option>
                                        <option>Goa</option>
                                    </select>
                        
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <h4>Step 2. Upload student tracker research file to the nsch website</h4>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <h4>Step 3. Download the student tracker detail file from the nsch website</h4>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <h4>Step 4. Import data from student tracker detail file into bluemen</h4>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <h4>Step 5. Update APR fields from bluemen tracking data</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Previous</button>
            </div>
        </div>
    </div>
</div>
