
<div class="main-container">
    <div id="main-section" class="container-fluid ">
        <!-- Full Screen Loader Start -->
        <!-- Two Tabs Start-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)"
                    (click)="navigateToComponent('grade-group-list')" role="tab" aria-controls="home"
                    aria-selected="true">Grade/Standing Group List</a>
            </li>
            <li class="nav-item" id="GRADE_STANDING" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="javascript:void(0)"
                    (click)="navigateToComponent('grade-standing-list')" role="tab" aria-controls="profile"
                    aria-selected="false">Grade/Standing List</a>
            </li>
        </ul>
        <!-- Two Tabs Start-->
        <!-- Search Box Start-->
        <div class="row">
            <div class="col-md-6 mt-3 mb-3 ">
                <!-- <form class="example">
                    <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                    <i class="fa fa-search search"></i>
                </form> -->
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" #searchText nz-input placeholder="input search text"  (keyup)="applyFilter(searchText.value)"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
            </div>
            <div nz-row nzJustify="end" class="col-md-6 mt-3 mb-3 ">
                <nz-form-item class="search-filter-item">
                    <nz-form-control>
                        <button (click)="resetFields()" nz-button nzType="primary" class="search-filter-btn">
                           <span> New</span>
                        </button>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="search-filter-item print">
                    <nz-form-control>
                        <button (click)="print()" nz-button nzType="primary" class="search-filter-btn">
                            <i nz-icon nzType="printer" nzTheme="fill"></i>
                           <span> Print </span>
                        </button>
                    </nz-form-control>
                </nz-form-item>
             </div>
        </div>    
        <div class="mat-elevation-z8 data-table-height dt-max-height">
            <nz-table #gradeGroupDataTable [nzNoResult]="noResultTemplate" [nzLoading]="isLoading" [nzData]="gradeStandingListData">
                <ng-template #noResultTemplate>
                    <nz-empty [nzNotFoundContent]="'No Data Found'">
                    </nz-empty> 
                </ng-template>
                <thead>
                <tr>
                    <th>Grade/Standing ID <i  class="sort" (click)="sorting('id')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i  class="sort" (click)="sorting2('id')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                    <th>Grade/Standing Name <i  class="sort" (click)="sorting('gradingName')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i  class="sort" (click)="sorting2('gradingName')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                    <th>Group <i  class="sort" (click)="sorting('gradingGroupName')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i  class="sort" (click)="sorting2('gradingGroupName')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                    <th>Grade/Standing (next year) <i  class="sort" (click)="sorting('gradingFiscalYear')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i  class="sort" (click)="sorting2('gradingFiscalYear')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>    
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of gradeGroupDataTable.data;let idx = index;">
                    <td>{{ data.id }}</td>
                    <td>{{ data.gradingName }}</td>
                    <td>{{ data.gradingGroupName}}</td>
                    <td>{{ data.gradingFiscalYear}}</td>
                    <td class="edit-icon-div"> 
                        <i class="icon-pt" nz-icon nzType="edit" (click)="setValuesToUpdate(data, idx)" 
                            nzTheme="outline" nz-tooltip
                            nzTooltipTitle="Edit"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="export" nzTheme="outline" (click)="showMoveItemPopup(data, idx)" 
                            nz-tooltip
                            nzTooltipTitle="Move"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="merge-cells" nzTheme="outline"
                            (click)="showMergeItemPopup(data, idx)"
                            nz-tooltip
                            nzTooltipTitle="Merge"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                        <i class="icon-pt" nz-icon nzType="delete" nzTheme="outline"
                            (click)="deleteSelectedRow(data, idx)"
                            nz-tooltip
                            nzTooltipTitle="Delete"
                            nzTooltipPlacement="bottom" nz-button>
                        </i>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <!-- Buttons Start-->
  
</div>
<!-- Buttons End-->
<!-- Modal Start-->
<!-- <ng-template #gradeGroupListPopup> -->
<nz-modal [(nzVisible)]="gradeListPopupVisiblity" nzTitle={{gradeModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="gradeModalFooter" nzWidth="50%" [nzOkLoading]="isConfirmGradeLoading">
    <!-- Modal -->
    <ng-template #gradeModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" *ngIf="!isEdit" (click)="addGradeStanding();" [nzLoading]="isConfirmGradeLoading">Save &
                Close</button>
            <button nz-button nzType="primary" *ngIf="isEdit" (click)="updateSelectedRow();" [nzLoading]="isGradeLoading">Update &
                Close</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="formGroup" class="form">
                    <div class="row">
                        <div nz-row [nzGutter]="16" [nzSpan]="24">
                            <div class="form-group" nz-col [nzSpan]="12">
                                <div>
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24" class="lable-style">Grade/Standing ID*</nz-form-label>
                                        <nz-form-control nzErrorTip="Please Enter Grade/Standing Group ID">
                                          <input nz-input type="text" formControlName="id" placeholder="Enter Grade Id" readonly/>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <div>
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24" class="lable-style">Grade/Standing Name*</nz-form-label>
                                        <nz-form-control nzErrorTip="Please Enter Grade/Standing Name">
                                          <input nz-input type="text" formControlName="gradingName" placeholder="Enter grading name"  maxlength="100" required/>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style">Grading Group Name*</nz-form-label>
                                    <nz-form-control nzErrorTip="Please Enter Group Name">
                                        <nz-select nzShowSearch nzAllowClear formControlName="gradingGroupName" nzPlaceHolder="Enter grading group name">
                                            <nz-option *ngFor="let gName of ddlGroupList" [nzLabel]="gName.gradeGroupName" [nzValue]="gName.gradeGroupName">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style">New Grade/Standing for next Fiscal Year</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzAllowClear formControlName="gradingFiscalYear" nzPlaceHolder="Enter grading fiscal year">
                                            <nz-option *ngFor="let gFiscalYear of gradingFiscalYearList" [nzLabel]="gFiscalYear.longpullna" [nzValue]="gFiscalYear.longpullna">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style">Participant Status for next Fiscal Year</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzAllowClear formControlName="gradingParticipant" nzPlaceHolder="Enter grading participant">
                                            <nz-option *ngFor="let part of participantList" [nzLabel]="part.longpullna" [nzValue]="part.longpullna">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="form-group" nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="24" class="lable-style">End Status for current Fiscal Year</nz-form-label>
                                    <nz-form-control>
                                        <nz-select nzShowSearch nzAllowClear formControlName="gradingYearEnd" nzPlaceHolder="Enter Grading year end">
                                            <nz-option *ngFor="let esfy of yearEndFYList" [nzLabel]="esfy.longpullna" [nzValue]="esfy.longpullna">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>

<!-- Modal End-->
