<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <!-- Full Screen Loader Start -->
    <div id="loading"></div>
    <!-- Full Screen Loader End -->

    <!-- Header Start-->
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Grade/Standing List</h3>
        </div>
    </div>
    <!-- Header End-->

    <!-- Two Tabs Start-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('grade-group-list')" role="tab" aria-controls="home"
                aria-selected="true">Grade Group List</a>
        </li>
        <li class="nav-item" id="GRADE_STANDING" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('grade-standing-list')" role="tab" aria-controls="profile"
                aria-selected="false">Grade Standing List</a>
        </li>
    </ul>
    <!-- Two Tabs Start-->

    <!-- Search Box Start-->
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example">
                <input type="text" class="border-rightToTxtBox" matInput (keyup)="applyFilter($event)" placeholder="Search.." />
            </form>
        </div>
    </div>
    <!-- Search Box End-->

    <!-- Spinner Start-->
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner id="spinner"></mat-spinner>
    </div>
    <!-- Spinner End-->

    <!-- Data Table Start-->
    <div class="mat-elevation-z8 data-table-height dt-max-height" *ngIf="!isLoading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="gradingId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade/Standing ID </th>
                <td mat-cell *matCellDef="let gradeObj; let row = dataIndex;"> {{gradeObj.gradingId}} </td>
            </ng-container>

            <ng-container matColumnDef="gradingName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade/Standing Name</th>
                <td mat-cell *matCellDef="let gradeObj; let row = dataIndex;"> {{gradeObj.gradingName}} </td>
            </ng-container>
            <ng-container matColumnDef="gradingGroupName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                <td mat-cell *matCellDef="let gradeObj; let row = dataIndex;"> {{gradeObj.gradingGroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="gradingFiscalYear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade/Standing (next year) </th>
                <td mat-cell *matCellDef="let gradeObj; let row = dataIndex;"> {{gradeObj.gradingFiscalYear}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
                [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </div>
    <!-- Data Table End-->
</div>

<!-- Buttons Start-->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" (click)="resetFields()">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0);" (click)="setValuesToUpdate()">Edit</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0)" (click)="deleteSelectedRow()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Print</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<!-- Buttons End-->

<!-- Modal Start-->
<ng-template #gradeStandingListPopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">Customize Grade/Standing</span>
        <button type="button" class="btn-close" (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">Grade/Standing ID:</label>
                            <input type="text" class="form-control" id="stdId"
                                [(ngModel)]="gradeGroupStandingList.gradingId" readonly>
                        </div>

                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">Grade/Standing Name:</label>
                            <textarea type="text" class="form-control" cols="100" rows="5" id="gradeStdName"
                                [(ngModel)]="gradeGroupStandingList.gradingName"></textarea>
                        </div>


                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">Group Name:</label>
                            <select class="form-control" id="gradeStdGrpName"
                                [(ngModel)]="gradeGroupStandingList.gradingGroupName">
                                <option selected>Freshman | 1</option>
                                <option selected>Junior | 2</option>
                                <option selected>Senior | 3</option>
                                <option selected>Sophomore | 4</option>
                                <option selected>test | 5</option>
                            </select>
                        </div>

                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">New Grade/Standing for next Fiscal
                                Year:</label>
                            <select class="form-control" id="gradeFiscalYear"
                                [(ngModel)]="gradeGroupStandingList.gradingFiscalYear">
                                <option selected>Freshman | 1</option>
                                <option selected>Junior | 2</option>
                                <option selected>Senior | 3</option>
                                <option selected>Sophomore | 4</option>
                                <option selected>test | 5</option>
                            </select>
                        </div>

                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">Participant Status for next Fiscal
                                Year:</label>
                            <select class="form-control" id="gradeStdPStatus"
                                [(ngModel)]="gradeGroupStandingList.gradingParticipantStatus">
                                <option selected>Continuing Participant</option>
                                <option selected>New Participant</option>
                                <option selected>New Summer Participant</option>
                                <option selected>No Response / Unknown</option>
                                <option selected>Prior Year Participant</option>
                            </select>
                        </div>

                        <div class="form-group mt-3">
                            <label for="usr" class="lable-style">End Status for current Fiscal Year:</label>
                            <select class="form-control" id="gradeStdYearEndStatus"
                                [(ngModel)]="gradeGroupStandingList.gradingYearEnbStatus">
                                <option selected>No Reponse</option>
                                <option selected>Academic Dismissal</option>
                                <option selected>Continuing Student</option>
                                <option selected>Graduated</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closePopup"
            (click)="isEdit = false; selectedRowIndex = null; modalRef.hide();">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="!isEdit"
            (click)="addGradeStanding();">Save & Close</button>
        <button type="button" class="btn btn-primary" *ngIf="isEdit"
            (click)="updateSelectedRow();">Update & Close</button>
    </div>
</ng-template>
<!-- Modal End-->