<div class="container-fluid" style="background:#EFF4F8;">
    <!-- Two Tabs Start-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('college-list')" role="tab" aria-controls="home"
                aria-selected="true">College Names</a>
        </li>
        <li class="nav-item" id="SCHOOL_LIST" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('school-list')" role="tab" aria-controls="profile"
                aria-selected="false">School Names</a>
        </li>
    </ul>
    <!-- Two Tabs Start-->

    <!-- Search Box Start-->
    <!-- Search Box Start-->
    <div class="row">
        <div class="col-md-6 mt-3 mb-3 ">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" #searchText nz-input placeholder="input search text"  (keyup)="applyFilter(searchText.value)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            <!-- <form class="example">
                <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
                <i class="fa fa-search search"></i>
            </form> -->
        </div>
        <div nz-row nzJustify="end" class="col-md-6 mt-3 mb-3 ">
            <nz-form-item class="search-filter-item">
                <nz-form-control>
                    <button (click)="resetFields()" nz-button nzType="primary" class="search-filter-btn">
                        <span> New</span>
                    </button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="search-filter-item print">
                <nz-form-control>
                    <button (click)="print()" nz-button nzType="primary" class="search-filter-btn">
                        <i nz-icon nzType="printer" nzTheme="fill"></i>
                        <span> Print </span>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- Search Box End-->
    <!-- Data Table Start-->
    <div class="mat-elevation-z8 data-table-height dt-max-height" >
        <nz-table #schoolDataListTable [nzNoResult]="noResultTemplate" [nzLoading]="isLoading" [nzData]="schoolDataList">
            <ng-template #noResultTemplate>
                <nz-empty [nzNotFoundContent]="'No Data Found'">
                </nz-empty> 
            </ng-template>
            <thead>
            <tr>
                <th>School Name <i  class="sort" (click)="sorting('name')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                    <i  class="sort" (click)="sorting2('name')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                <th>In Pulldown <i  class="sort" (click)="sorting('inPullDown')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                    <i  class="sort" (click)="sorting2('inPullDown')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                <th>NCES ID <i  class="sort" (click)="sorting('ncesId')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                    <i  class="sort" (click)="sorting2('ncesId')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                <th>Country Name  <i  class="sort" (click)="sorting('country')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                    <i  class="sort" (click)="sorting2('country')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>
                <th>Phone 1 <i  class="sort" (click)="sorting('phone1')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i  class="sort" (click)="sorting2('phone1')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>  
                <th>Phone 2 <i  class="sort" (click)="sorting('phone2')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                            <i  class="sort" (click)="sorting2('phone2')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>    
                <th>Phone 3 <i  class="sort" (click)="sorting('phone3')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                                <i  class="sort" (click)="sorting2('phone3')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>    
                <th>FAX <i  class="sort" (click)="sorting('fax')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                                    <i  class="sort" (click)="sorting2('fax')" nz-icon nzType="caret-down" nzTheme="outline"></i></th>    
                <th>Action</th>
            </tr>
            </thead>
            
            <tbody>
            <tr *ngFor="let data of schoolDataListTable.data;let idx = index;">
                <td>{{ data.name }}</td>
                <td>{{ data.inPullDown ? 'YES' : 'NO'}}</td>
                <td>{{ data.ncesId}}</td>
                <td> {{data.country}} </td>
                <td> {{data.phone1 | phoneMask: '(000) 000-0000'}}</td>
                <td> {{data.phone2 | phoneMask: '(000) 000-0000'}}</td>
                <td> {{data.phone3 | phoneMask: '(000) 000-0000'}}</td>
                <td> {{data.fax | phoneMask: '(000) 000-0000'}}</td>
                <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus(data)"></td> -->
                <td class="edit-icon-div"> 
                    <i class="icon-pt" nz-icon nzType="edit" (click)="setValuesToUpdate(data, idx)" 
                        nzTheme="outline" nz-tooltip
                        nzTooltipTitle="Edit"
                        nzTooltipPlacement="bottom" nz-button>
                    </i>
                    <i class="icon-pt" nz-icon nzType="export" nzTheme="outline" (click)="showMoveItemPopup(data, idx)" 
                        nz-tooltip
                        nzTooltipTitle="Move"
                        nzTooltipPlacement="bottom" nz-button>
                    </i>
                    <i class="icon-pt" nz-icon nzType="merge-cells" nzTheme="outline"
                        (click)="showMergeItemPopup(data, idx)"
                        nz-tooltip
                        nzTooltipTitle="Merge"
                        nzTooltipPlacement="bottom" nz-button>
                    </i>
                    <i class="icon-pt" nz-icon nzType="delete" nzTheme="outline"
                        (click)="deleteSelectedRow(data, idx)"
                        nz-tooltip
                        nzTooltipTitle="Delete"
                        nzTooltipPlacement="bottom" nz-button>
                    </i>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- Modal Start-->
<ng-template #schoolNamePopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
        <span class="modal-title popHeader" id="exampleModalLabel">School Name</span>
        <button type="button" class="btn-close" (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="formGroup" class="form">
                <div class="row">
                    <div class="col-md-12 flex">
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Name</nz-form-label>
                                <nz-form-control nzErrorTip="Please Enter School Name">
                                    <input nz-input *ngIf="!isDisabled" placeholder="Enter Name" value="" formControlName="name" maxlength="50" required  (blur)="checkName($event)"/>
                                    <input nz-input *ngIf="isDisabled" placeholder="Enter Name" value="" formControlName="name" maxlength="50" readonly="{{isDisabled}}"/>
                                </nz-form-control>
                            </nz-form-item>
                            <label nz-checkbox formControlName="inPullDown" > In Pulldown List</label> 
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Codes</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Enter Codes" value="" formControlName="codes" maxlength ="50"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Title</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Enter Title" value="" formControlName="title" maxlength="50"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24" class="lable-style">Country</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzShowSearch nzAllowClear formControlName="country" nzPlaceHolder="Enter Country">
                                        <nz-option *ngFor="let countryObj of countryList" [nzLabel]="countryObj.longpullna" [nzValue]="countryObj.longpullna">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>    
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24" class="lable-style">State</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzShowSearch nzAllowClear formControlName="states" nzPlaceHolder="Enter State">
                                        <nz-option *ngFor="let stateObj of stateList" [nzLabel]="stateObj.longpullna" [nzValue]="stateObj.longpullna">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>    
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24" class="lable-style">City</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzShowSearch nzAllowClear formControlName="city" nzPlaceHolder="Enter City">
                                        <nz-option *ngFor="let cityObj of cityList" [nzLabel]="cityObj.longpullna" [nzValue]="cityObj.longpullna">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>    
                        </div>
                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-12">
                                Address:
                                <nz-form-item>
                                    <nz-form-control>
                                        <textarea nz-input placeholder="Enter Address"
                                        formControlName="address" maxlength="2000"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                        </div>
                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">NCES ID</nz-form-label>
                                <nz-form-control nzErrorTip="Please Enter NCES ID">
                                    <input nz-input placeholder="Enter NcesId" value="" formControlName="ncesId" maxlength="30" required/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Zip Code</nz-form-label>
                                <nz-form-control>
                                    <input nz-input  placeholder="Enter Zip Code" mask="00000-0000" value="" formControlName="zipcode" maxlength="20"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Fiscal Years</nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="number" placeholder="Enter Fiscal Years" value="" formControlName="fiscalYear" maxlength="50"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Phone 1</nz-form-label>
                                <nz-form-control>
                                    <input nz-input   placeholder="Enter Phone1" mask="(000)000-0000" value="" formControlName="phone1"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                       
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Phone 2</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Enter Phone2" mask="(000)000-0000" value="" formControlName="phone2" maxlength="30"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                       
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Phone 3</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Enter Phone3" mask="(000)000-0000" value="" formControlName="phone3" maxlength="30"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                      
                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Fax</nz-form-label>
                                <nz-form-control>
                                    <input nz-input  placeholder="Enter Fax" mask="(000)000-0000" value="" formControlName="fax" maxlength="30"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Web Site</nz-form-label>
                                <nz-form-control>
                                    <input nz-input  placeholder="Enter Web Site" formControlName="website" value="" maxlength="50"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="form-group col-md-4">
                            <nz-form-item>
                                <nz-form-label class="lable-style">Email</nz-form-label>
                                <nz-form-control>
                                    <input nz-input  placeholder="Enter Email" value="" formControlName="email" maxlength="50"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="col-md-12 form-group flex">
                        <div class="form-group col-md-12">
                            Notes:
                            <nz-form-item>
                                <nz-form-control>
                                    <textarea nz-input placeholder="Enter Notes" formControlName="notes" maxlength="2000"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!isEdit" (click)="addNewSchoolName();">Save
            & Close</button>
        <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="updateSelectedRow();">Update
            & Close</button>
        <button type="button" class="btn btn-secondary" id="closePopup"
            (click)="selectedRowIndex = null; modalRef.hide();selectedRow=null;">Cancel</button>
    </div>
</ng-template>
<!-- Modal End-->
