<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>College / School Names</h3>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('college-list')" role="tab" aria-controls="home"
                aria-selected="true">College Names</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="javascript:void(0)"
                (click)="navigateToComponent('school-list')" role="tab" aria-controls="profile"
                aria-selected="false">School Names</a>
        </li>
    </ul>

    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- <div class="col-md-6 mt-3 mb-3"><button type="button" class="btn btn-primary active float-end"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Staff Data Entry</button></div> -->
    </div>



    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col">School Name</th>
                    <th scope="col">In Pulldown</th>
                    <th scope="col">NCES ID</th>
                    <th scope="col">County Name</th>
                    <th scope="col">Phone 1</th>
                    <th scope="col">Phone 2</th>
                    <th scope="col">Phone 3</th>
                    <th scope="col">FAX</th>
                </tr>
            </thead>
            <tbody>
                <!-- <ng-template *ngIf="schoolDataList > 0"> -->
                    <tr *ngFor="let schoolData of schoolDataList; let idx = index;" (click)="setSelectedRow(schoolData)">
                        <td>{{schoolData.name}}</td>
                        <td>{{schoolData.orgType}}</td>
                        <td>{{schoolData.ncesId}}</td>
                        <td>{{schoolData.country}}</td>
                        <td>{{schoolData.phone1}}</td>
                        <td>{{schoolData.phone2}}</td>
                        <td>{{schoolData.phone3}}</td>
                        <td>{{schoolData.fax}}</td>
                    </tr>
                <!-- </ng-template> -->
                <tr *ngIf="schoolDataList.length === 0">
                    No Records Found !
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col-md-12 mt-3">

            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="resetFields()">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0);" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="setSelectedRowToUpdate()">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="javascript:void(0)" (click)="deleteSelectedRow()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Print</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">School Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12 flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Name:</label>
                                    <input type="text" [(ngModel)]="schoolListEnum.name" class="form-control" id="schoolName"> &nbsp;
                                    <!-- <input type="checkbox" class="form-control" id="serviceId">In Pulldown List -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">Codes:</label>
                                    <input type="text" class="form-control" [(ngModel)]="schoolListEnum.codes" id="codes"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Title:</label>
                                    <input type="text" class="form-control" [(ngModel)]="schoolListEnum.title" id="title"> &nbsp;
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">County:</label>
                                    <input type="text" class="form-control" [(ngModel)]="schoolListEnum.country" id="country"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Address:</label>
                                    <textarea type="text" class="form-control" id="address" [(ngModel)]="schoolListEnum.address"> </textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">NCES ID:</label>
                                    <input type="text" class="form-control" id="fafsaID" [(ngModel)]="schoolListEnum.ncesId"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">City:</label>
                                    <select class="form-control" id="city" [(ngModel)]="schoolListEnum.city">
                                        <option selected>Pune</option>
                                        <option>Mumbai</option>
                                    </select>
                        
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">State:</label>
                                    <select class="form-control" id="state" [(ngModel)]="schoolListEnum.states">
                                        <option selected>Maharashtra</option>
                                        <option>Goa</option>
                                    </select>
                        
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Zip Code:</label>
                                    <input type="text" class="form-control" id="zipcode" [(ngModel)]="schoolListEnum.zipcode"> &nbsp;
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">Fiscal Years:</label>
                                    <input type="text" class="form-control" id="fiscalYears" [(ngModel)]="schoolListEnum.fiscalYears"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Phone 1:</label>
                                    <input type="text" class="form-control" id="phone1" [(ngModel)]="schoolListEnum.phone1"> &nbsp;
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">Phone 2:</label>
                                    <input type="text" class="form-control" id="phone2" [(ngModel)]="schoolListEnum.phone2"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Phone 3:</label>
                                    <input type="text" class="form-control" id="phone3" [(ngModel)]="schoolListEnum.phone3"> &nbsp;
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">FAX:</label>
                                    <input type="text" class="form-control" id="fax" [(ngModel)]="schoolListEnum.fax"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group col-md-6">
                                    <label for="usr">Web Site:</label>
                                    <input type="text" class="form-control" id="website" [(ngModel)]="schoolListEnum.website"> &nbsp;
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usr">Email:</label>
                                    <input type="text" class="form-control" id="email" [(ngModel)]="schoolListEnum.email"> &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 form-group flex">
                                <div class="form-group">
                                    <label for="usr">Notes:</label>
                                    <textarea type="text" cols="100" rows="5" class="form-control" id="notes" [(ngModel)]="schoolListEnum.notes"> </textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closePopup" (click)="isEdit = false;" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="!isEdit" (click)="addNewSchoolName()">Save changes</button>
                <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="updateSelectedRow()">Update Changes</button>

            </div>
        </div>
    </div>
</div>
