<div nz-row>
    <div nz-col [nzSpan]="11">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" #searchText nz-input placeholder="Search.." class="search-input"
                (keyup)="applyFilter(searchText.value)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>
    <div nz-col [nzSpan]="4" nzOffset="9">
        <nz-form-item class="search-filter-item">
            <nz-form-control>
                <button nz-button nzType="primary" class="search-filter-btn" (click)="resetFields()">
                    <i nz-icon nzType="file-add" nzTheme="outline" class="search-filter-icon"></i>
                    New
                </button>
                <button nz-button nzType="primary" class="search-filter-btn" (click)="print()">
                    <i nz-icon nzType="printer" nzTheme="outline" class="search-filter-icon"></i>
                    Print
                </button>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>

<div nz-row>
    <div nz-col [nzSpan]="24">
        <nz-table #schoolDataListTable [nzNoResult]="noResultTemplate" [nzData]="schoolDataList" [nzPageSize]="8"
            [nzLoading]="isLoading " style="margin-top: 15px;">
            <ng-template #noResultTemplate>
                <nz-empty [nzNotFoundContent]="'No Data Found'">
                </nz-empty>
            </ng-template>
            <thead>
                <tr>
                    <th>School Name <i class="sort" (click)="sorting('name')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('name')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>In Pulldown <i class="sort" (click)="sorting('inPullDown')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('inPullDown')" nz-icon nzType="caret-down"
                            nzTheme="outline"></i>
                    </th>
                    <th>NCES ID <i class="sort" (click)="sorting('ncsIdFafsaId')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('ncsIdFafsaId')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>County Name <i class="sort" (click)="sorting('country')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('country')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Phone 1 <i class="sort" (click)="sorting('phone1')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('phone1')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Phone 2 <i class="sort" (click)="sorting('phone2')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('phone2')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Phone 3 <i class="sort" (click)="sorting('phone3')" nz-icon nzType="caret-up"
                            nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('phone3')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>FAX <i class="sort" (click)="sorting('fax')" nz-icon nzType="caret-up" nzTheme="outline"></i>
                        <i class="sort" (click)="sorting2('fax')" nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of schoolDataListTable.data;let idx = index;">
                    <td>{{ data.name }}</td>
                    <td>{{ data.inPullDown ? 'YES' : 'NO'}}</td>
                    <td>{{ data.ncsIdFafsaId}}</td>
                    <td> {{data.country}} </td>
                    <td> {{data.phone1 | phoneMask: '(000) 000-0000'}}</td>
                    <td> {{data.phone2 | phoneMask: '(000) 000-0000'}}</td>
                    <td> {{data.phone3 | phoneMask: '(000) 000-0000'}}</td>
                    <td> {{data.fax | phoneMask: '(000) 000-0000'}}</td>
                    <td class="edit-icon-div">
                        <i class="action-icon" nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTooltipTitle="Edit"
                            nzTooltipPlacement="bottom" nz-button (click)="setValuesToUpdate(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="export" nzTheme="outline" nz-tooltip
                            nzTooltipTitle="Move" nzTooltipPlacement="bottom" nz-button
                            (click)="showMoveItemPopup(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="merge-cells" nzTheme="outline" nz-tooltip
                            nzTooltipTitle="Merge" nzTooltipPlacement="bottom" nz-button
                            (click)="showMergeItemPopup(data, idx)">
                        </i>
                        <i class="action-icon" nz-icon nzType="delete" nzTheme="outline" nz-tooltip nz-popconfirm
                            nzPopconfirmTitle="Confirm Remove Record. Are you sure, you want to remove this record."
                            (nzOnConfirm)="deleteSelectedRow(data, idx)" (nzOnCancel)="cancelDelete()"
                            nzPopconfirmPlacement="bottom" nzOkText="Yes" nzCancelText="No"
                            nzTooltipTitle="Delete" nzTooltipPlacement="bottom" nz-button>
                        </i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!--Modal-->
<nz-modal [(nzVisible)]="schoolModalVisible" nzTitle={{schoolModalHeader}} (nzOnCancel)="handleCancel()"
    [nzFooter]="schoolModalFooter" nzWidth="75%" [nzOkLoading]="isConfirmSchoolLoading">
    <ng-template #schoolModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="handleCancel()">Cancel</a>
            <button nz-button nzType="primary" *ngIf="!isEdit" (click)="addNewSchoolName()"
                [nzLoading]="isConfirmSchoolLoading">SAVE</button>
            <button nz-button nzType="primary" *ngIf="isEdit" (click)="updateSelectedRow()"
                [nzLoading]="isConfirmSchoolLoading">UPDATE</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="formGroup.get('formLayout')?.value"
                    [formGroup]="formGroup">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label nzRequired [nzSpan]="24" class="lable-style"
                                                nzErrorTip="Please Enter School Name">
                                                Name</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter School Name">
                                                <input nz-input *ngIf="!isDisabled" placeholder="Enter Name" value=""
                                                    formControlName="name" maxlength="50" (blur)="checkName($event)" />
                                                <input nz-input *ngIf="isDisabled" placeholder="Enter Name" value=""
                                                    formControlName="name" maxlength="50" readonly="{{isDisabled}}" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <label nz-checkbox formControlName="inPullDown"> In Pulldown List</label>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Codes</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Codes" value=""
                                                    formControlName="codes" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Title</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Title" value=""
                                                    formControlName="title" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>

                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">County</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="County" value=""
                                                    formControlName="country" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">State</nz-form-label>
                                            <nz-form-control>
                                                <nz-select nzPlaceHolder="State" formControlName="states">
                                                    <nz-option *ngFor="let stateObj of stateList"
                                                        [nzLabel]="stateObj?.longpullna"
                                                        [nzValue]="stateObj?.longpullna"></nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">City</nz-form-label>
                                            <nz-form-control>
                                                <nz-select nzPlaceHolder="City" formControlName="city">
                                                    <nz-option *ngFor="let cityObj of cityList"
                                                        [nzLabel]="cityObj?.longpullna" [nzValue]="cityObj?.longpullna">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Address</nz-form-label>
                                            <nz-form-control>
                                                <textarea nz-input placeholder="Enter Address" formControlName="address"
                                                    maxlength="2000"></textarea>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>

                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">NCES ID
                                            </nz-form-label>
                                            <nz-form-control>
                                            <input nz-input placeholder="Enter NCES ID" value="" formControlName="ncsIdFafsaId" maxlength="30"/>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Zip Code</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Zip Code" mask="00000-0000" value=""
                                                    formControlName="zipcode" maxlength="20" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Fiscal Years
                                            </nz-form-label>
                                            <nz-form-control>
                                                <input nz-input type="number" placeholder="Enter Fiscal Years" value=""
                                                    formControlName="fiscalYear" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Phone 1</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Phone1" mask="(000)000-0000" value=""
                                                    formControlName="phone1" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Phone 2</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Phone2" mask="(000)000-0000" value=""
                                                    formControlName="phone2" maxlength="30" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Phone 3</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Phone3" mask="(000)000-0000" value=""
                                                    formControlName="phone3" maxlength="30" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Fax</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Fax" mask="(000)000-0000" value=""
                                                    formControlName="fax" maxlength="30" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Web Site</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Web Site" formControlName="website"
                                                    value="" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Email</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input placeholder="Enter Email" value=""
                                                    formControlName="email" maxlength="50" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="24" class="lable-style">Notes</nz-form-label>
                                            <nz-form-control>
                                                <textarea nz-input placeholder="Enter Notes" formControlName="notes"
                                                    maxlength="2000"></textarea>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!--Edit Modal End-->

<!--MoveItem Modal Start-->
<nz-modal [(nzVisible)]="moveModalVisible" nzTitle="School Name" (nzOnCancel)="moveHandleCancel()"
    [nzFooter]="moveItemModalFooter" nzWidth="30%" [nzOkLoading]="ismoveItemLoading">
    <ng-template #moveItemModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="moveHandleCancel()">Cancel</a>
            <button nz-button nzType="primary" (click)="onConfirm()" [nzLoading]="ismoveItemLoading">Move</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="moveItemForm.get('formLayout')?.value"
                    [formGroup]="moveItemForm">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label class="lable-style" nzRequired>Name To</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Enter School Name*">
                                                <input nz-input type="text" formControlName="collegeSchoolName"
                                                    placeholder="School Name*" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!--MoveItem MOdal End-->


<!--MergeItem Modal Start-->
<nz-modal [(nzVisible)]="mergeModalVisible" nzTitle="School Name" (nzOnCancel)="mergeHandleCancel()"
    [nzFooter]="mergeItemModalFooter" nzWidth="30%" [nzOkLoading]="ismergeItemLoading">
    <ng-template #mergeItemModalFooter>
        <div class="modal-footer-btn">
            <a nz-button nzType="link" (click)="mergeHandleCancel()">Cancel</a>
            <button nz-button nzType="primary" (click)="onMergeConfirm()"
                [nzLoading]="ismergeItemLoading">Merge</button>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <form nz-form class="staff-form" [nzLayout]="mergeFormGroup.get('formLayout')?.value"
                    [formGroup]="mergeFormGroup">
                    <div nz-row class="tabStyle">
                        <div nz-col [nzSpan]="24">
                            <div nz-row class="form_section">
                                <div nz-row [nzGutter]="24" class="form-width-container">
                                    <div nz-col [nzSpan]="24">
                                        <nz-form-item>
                                            <nz-form-label class="lable-style" nzRequired>Name To</nz-form-label>
                                            <nz-form-control nzErrorTip="Please Select School Name">
                                                <nz-select nzShowSearch formControlName="collegeSchoolName" nzAllowClear
                                                    nzPlaceHolder="School Name">
                                                    <nz-option *ngFor="let act of schoolDataMergeDropDownList"
                                                        [nzLabel]="act?.name+' | '+act?.collegeSchoolId"
                                                        [nzValue]="act.name">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</nz-modal>
<!--MoveItem MOdal End-->