<div id="Staff" class="tabcontent"><div class="col-md-12 ">
    <label for="usr"><input type="checkbox"> Use filters from this page</label>
</div>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">Semester</label>
            <span class="form-group">
                <select name="sel3" class="form-control" id="sel4">
                    <option>Fall</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
        </div>
        <div class="form-group mt-3">
            <label for="usr">Course Number</label>
            <span class="form-group">
                <select name="sel3" class="form-control" id="sel4">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </span>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                Course Completed
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> yes
                </label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> NO
                </label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> All
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                Dropped Courses</div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> yes
                </label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> NO
                </label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="optradio"> All
                </label>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">Year</label>
            <input type="text" class="form-control" placeholder="2017" id="usr">
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Course Name</label>
            <select class="form-control" id="sel1">
                <option>All</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">

                    <label for="sel1"> Course GPA</label>
                </div>
                <div class="form-group">
                    <select name="sel3" class="form-control" id="sel4">
                        <option>All</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="sel1"> </label>
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="2017" id="usr">

                </div>
            </div>

        </div>
    </div>
</div>
</div>