<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Config Settings</h3>
        </div>
    </div>

    <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">User:</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
    </div>

    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col">Config ID</th>
                    <th scope="col">Config Type</th>
                    <th scope="col">Config Value</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Close</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
