<div class="container-fluid mt-3" style="background:#EFF4F8;">

  <!-- Full Screen Loader Start -->
  <div id="loading"></div>
  <!-- Full Screen Loader End -->

  <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="sel1">User:</label>
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 mt-3 mb-3 ">
        <form class="example">
            <input type="text" placeholder="Search.." (keyup)="applyFilter($event)">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

  <!-- Spinner Start-->
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner id="spinner"></mat-spinner>
  </div>
  <!-- Spinner End-->

  <div class="mat-elevation-z8 data-table-height" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Config ID </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.id}} </td>
      </ng-container>

      <ng-container matColumnDef="configType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Config Type </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.configType}} </td>
      </ng-container>

      <ng-container matColumnDef="configValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Config Value </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.configValue}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.description}} </td>
      </ng-container>

      <ng-template [ngIf]="dataSource.data.length === 0">
        <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
      </ng-template>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
          [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)">
      </tr>
    </table>
  </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>



  <!--  <div class="table-responsive" style="border:1px solid #1366A0;">-->
  <!--    <table class="table table-hover" style="background:#fff; color: #8f8a8a;">-->
  <!--      <thead>-->
  <!--      <tr style="background: #F5F6FA;">-->
  <!--        <th scope="col">Config ID</th>-->
  <!--        <th scope="col">Config Type</th>-->
  <!--        <th scope="col">Config Value</th>-->
  <!--        <th scope="col">Description</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <ng-container *ngIf="!spinner">-->
  <!--        <tr *ngFor="let data of configSettingsList;let idx = index;"-->
  <!--            (click)="setSelectedRow(data, idx)" [ngClass]="{'selected-row' : this.selectedRowIndex == idx}">-->
  <!--          <th scope="row">{{data.id}}</th>-->
  <!--          <td>{{data.configType}}</td>-->
  <!--          <td>{{data.configValue}}</td>-->
  <!--          <td>{{data.description}}</td>-->
  <!--        </tr>-->
  <!--      </ng-container>-->
  <!--      <div class="no-record">-->
  <!--        <div *ngIf="spinner" class="spinner-border" role="status">-->
  <!--          <span class="visually-hidden">Loading...</span>-->
  <!--        </div>-->
  <!--        <div *ngIf="!spinner && configSettingsList.length == 0">-->
  <!--          <span>No Data Found</span>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->

  <div class="row">
    <div class="col-md-12 mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-right">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="javascript:void(0);" (click)="setSelectedRowToUpdate()">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Close</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Config Settings:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="form-group">
                <label for="sel1">Config ID: </label>
                {{id}}
              </div>
              <div class="form-group">
                <label for="sel1">Config Type: </label>
                {{configType}}
              </div>
              <div class="form-group">
                <label for="sel1">Config Value: </label>
                <input type="text" [(ngModel)]="configValue"/>
              </div>
              <div class="form-group">
                <label for="sel1">Description: </label>
                {{description}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <button type="button" class="btn btn-primary" *ngIf="isEdit"
                  (click)="updateSelectedRow()">Update & Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Modal Start-->
<ng-template #confiSettingPopup>
  <!-- Modal -->
  <div class="modal-header popHeaderBG">
      <span class="modal-title popHeader" id="exampleModalLabel">Edit Config Settings:</span>
      <button type="button" class="btn-close" (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()"
          aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="form-group">
                <label for="sel1">Config ID: </label>
                {{id}}
              </div>
              <div class="form-group">
                <label for="sel1">Config Type: </label>
                {{configType}}
              </div>
              <div class="form-group">
                <label for="sel1">Config Value: </label>
                <input type="text" [(ngModel)]="configValue"/>
              </div>
              <div class="form-group">
                <label for="sel1">Description: </label>
                {{description}}
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="closePopup"
          (click)="isEdit = false; selectedRowIndex = null;modalRef.hide()">Close</button>

      <button type="button" class="btn btn-primary" *ngIf="isEdit"
          (click)="updateSelectedRow();modalRef.hide()">Update &
          Close</button>
  </div>
</ng-template>
<!-- Modal End-->
