<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Custom Fields</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="sel1" class="lable-style">Custom Fields Name Type:</label>
        </div>
        <div class="col-md-4">
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="customID" class="form-control" id="CFN">
                <option value="1" selected>1 - Best time to call</option>
                <option value="2">T-shirt size</option>
            </select>
        </div>
    </div>
    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!spinner">
                    <tr *ngFor="let item of customFields; let i = index" (click)="getSelectedRow(item, i)" [ngClass]="{'selected-row' : this.selectedRow == i}">
                        <th scope="row">{{item.customId}}</th>
                        <td>{{item.pullDownName}}</td>
                    </tr>
                </ng-container>
                <div class="no-record">
                    <div *ngIf="spinner" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div *ngIf="customFields.length == 0">
                        <span>No Data Found</span>
                    </div>
                </div>
            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col-md-12 mt-3">

            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Reset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('New')" data-bs-toggle="modal" data-bs-target="#exampleModal">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Edit')" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Rename')">Rename</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Move')">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Merge')">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="deleteCustomFieldNameType()">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Print')">Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getSelectedOption('Submit')">Submit</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Custom Fields</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="customFieldsForm" class="modal-body">
                <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mt-3">
                                    <label for="usr" class="lable-style">Enter Pulldown Name:</label>
                                    <input type="text" formControlName="pullDownName" class="form-control" id="usr">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="handleMethodToCall()">{{selectedOption === 'Edit' ? 'Update & Close' : 'Save & Close'}}</button>
            </div>
        </div>
    </div>
</div>