.example-full-width {
    width: 100% !important;
}

.buttonAlign{
margin-left: 96%;
}

/* .search {
    position: relative;
    float: right;
    top: -1.5rem;
    color: #777777;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 !important;
} */