<div class="container-fluid mt-3" style="background:#EFF4F8;">
    <div class="row bg-white">
        <div class="col-md-12">
            <h3>Counselor Data Filter</h3>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-6 mt-3 mb-3 ">
            <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="table-responsive" style="border:1px solid #1366A0;">
        <table class="table table-hover" style="background:#fff; color: #8f8a8a;">
            <thead>
                <tr style="background: #F5F6FA;">
                    <th scope="col">Staff ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Active</th>
                    <th scope="col">Counselor</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Lab</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Hire Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
                <tr>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <td>(832)654-6546</td>
                    <td>01/11/2021</td>
                    <td>95.00</td>
                    <td>NO</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                    <th scope="row">Craig</th>
                    <td>Adams</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-right">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row" style="margin-left: 0px!important; margin-right: 0px!important; margin-bottom: 50px;">
    <div class="col-md-12">
        <div class="bg-white" style="padding: 20px;">
            <div  role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex">
                    <div class="col-md-12 ">
                        <h5 class="mt-3 mb-3">Select a value for the fields to set the filters</h5>
                    </div>
                </div>

                <div class="row " style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-6 flex">
                        <div class="form-group">
                            <label for="sel1">Hire Date From: </label>
                            <input type="text" class="form-control" id="usr">
                        </div>&nbsp;&nbsp;&nbsp;
                        <div class="form-group">
                            <label for="sel1">To: </label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <label class="radio-inline"> Active:
                            <input type="radio" name="optradio" checked> Yes </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio"> NO
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio"> All
                        </label>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Codes:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px!important; margin-right: 0px!important;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Zip Code:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Reset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Rename</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Move</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Submit</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Counselor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="sel1">Enter the counselor name: </label>
                                    <input type="text" class="form-control" id="usr">
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>