<div class="container-fluid mt-3" style="background:#EFF4F8;">
  <!-- Full Screen Loader Start -->
  <div id="loading"></div>
  <!-- Full Screen Loader End -->

  <div class="row bg-white">
    <div class="col-md-12">
      <h3>Staff Data Filter</h3>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-6 mt-3 mb-3 ">
      <form class="example">
        <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Search.." />
      </form>
    </div>
  </div>

  <!-- Spinner Start-->
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner id="spinner"></mat-spinner>
  </div>
  <!-- Spinner End-->

  <!-- Data Table Start-->
  <div class="mat-elevation-z8 data-table-height" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Id </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.id}} </td>
      </ng-container>

      <ng-container matColumnDef="staffName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffName}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="staffActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffActive?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffCounselor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Counselor</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffCounselor?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffTutor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutor</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTutor?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffTeacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTeacher?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffBolt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bolt</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffBolt?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staff?'Yes':'No'}} </td>
      </ng-container>


      <ng-container matColumnDef="staffLab">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lab</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffLab?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffPhoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffPhoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="staffHireDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hire Date</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffHireDate}} </td>
      </ng-container>

      <ng-template [ngIf]="dataSource.data.length === 0">
        <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
      </ng-template>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
          [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)">
      </tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  </div>


  <div class="no-record">
    <div *ngIf="spinner" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="!spinner && staffMembersList.length == 0">
      <span>No Data Found</span>
    </div>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Reset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('New')" data-bs-toggle="modal" data-bs-target="#exampleModal">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Edit')" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Rename')">Rename</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Move')">Move</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Merge')">Merge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="deleteStaffMembers()">Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Print')">Print</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Submit')">Submit</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>


  <!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Staff Data Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


              <div class="row">

                <div class="col-md-4">
                  <div class="form-group ">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="staffName" id="usr">
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="title"   id="usr">
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">SS.No</label>
                    <input type="text" class="form-control" [(ngModel)]="ssn"  id="usr">
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Codes</label>
                    <select class="form-control" id="sel1" [(ngModel)]="codes">
                      <option>111</option>
                      <option>222</option>

                    </select>


                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Spouse Name</label>
                    <input type="text" class="form-control" id="usr" [(ngModel)]="spouse" >
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Driver License#</label>
                    <input type="text" class="form-control" id="usr" [(ngModel)]="license" >
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Custom Field 1</label>
                    <select class="form-control" id="sel1" [(ngModel)]="customField1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Custom Field 2</label>
                    <select class="form-control" id="sel1" [(ngModel)]="customField2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="usr">Notes</label>
                    <input type="text" class="form-control" id="usr" [(ngModel)]="notes">
                  </div>




                </div>




                <div class="col-md-4 mt-3"><div class="form-group">
                  <label for="sel1">Staff ID</label>
                  <input type="text" disabled class="form-control" value="130" id="usr" [(ngModel)]="id">
                </div>
                  <div class="row mt-3">
                    <div class="col-md-3" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffActive"> Active
                      </label>
                    </div>
                    <div class="col-md-3" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffTutor"> Tutor
                      </label>
                    </div>
                    <div class="col-md-3" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffBolt"> Bolt
                      </label>
                    </div>
                    <div class="col-md-3" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staff"> Staff
                      </label>
                    </div>

                  </div>

                  <div class="row mt-3">

                    <div class="col-md-4" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffCounselor"> Counselor
                      </label>
                    </div>
                    <div class="col-md-4" >
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffTeacher"> Teacher
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffLab"> Lab
                      </label>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <label for="sel1">Date of Birth</label>
                    <div class="form-group">
                      <input type=date  class="form-control" [(ngModel)]="dob" required>
                    </div></div>
                  <div class="form-group mt-3">
                    <label for="sel1">Hire Date </label>
                    <div class="form-group">
                      <input type=date  class="form-control" [(ngModel)]="staffHireDate" required>
                    </div></div>

                  <div class="form-group mt-3">
                    <label for="usr">Termination Date</label>
                    <input type=date  class="form-control" [(ngModel)]="terminationDate" required>

                  </div>

                  <div class="form-group mt-3">
                    <label for="usr">Custome field 3</label>
                    <select class="form-control" id="sel1" [(ngModel)]="customField3">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                  <div class="form-group mt-3">
                    <label for="usr">Custome field 4</label>
                    <select class="form-control" id="sel1" [(ngModel)]="customField4">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>

                </div>

                <div class="col-md-4">

                  <div class="container">
                    <div class="col-md-12 text-center"><img src="images/photo.png"></div>
                    <div class="col-md-12 text-center">
                      <input type="submit" value="Upload Files" class="btn btn-sm btn-primary text-center mt-3" [(ngModel)]="picture" />

                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </div>


              </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">sdfdsafdsaf</div>
            <div >

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <button type="button" class="btn btn-v .primary" *ngIf="!isEdit" data-bs-dismiss="modal" (click)="addStaffMembers();modalRef.hide()">Save & Close</button>
          <button type="button" class="btn btn-primary" *ngIf="isEdit" data-bs-dismiss="modal" (click)="updateSelectedRow();modalRef.hide()">Update &
            Close</button>

        </div>
      </div>
    </div>
  </div>
