<div class="container-fluid mt-3" style="background:#EFF4F8;">
  <!-- Full Screen Loader Start -->
  <div id="loading"></div>
  <!-- Full Screen Loader End -->

  <div class="row bg-white">
    <div class="col-md-12">
      <h3>Staff Data Filter</h3>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-6 mt-3 mb-3 ">
      <form class="example">
        <input class="search-input" type="text" placeholder="Search.." (keyup)="applyFilter($event)">
        <i class="fa fa-search search"></i>
      </form>
    </div>
  </div>

  <!-- Spinner Start-->
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner id="spinner"></mat-spinner>
  </div>
  <!-- Spinner End-->

  <!-- Data Table Start-->
  <div class="mat-elevation-z8 data-table-height" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Id </th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.id}} </td>
      </ng-container>

      <ng-container matColumnDef="staffName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffName}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="staffActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffActive?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffCounselor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Counselor</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffCounselor?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffTutor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutor</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTutor?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffTeacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffTeacher?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffBolt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bolt</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffBolt?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staff?'Yes':'No'}} </td>
      </ng-container>


      <ng-container matColumnDef="staffLab">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lab</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffLab?'Yes':'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="staffPhoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffPhoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="staffHireDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hire Date</th>
        <td mat-cell *matCellDef="let groupObj; let row = dataIndex;"> {{groupObj.staffHireDate}} </td>
      </ng-container>

      <!-- <ng-template [ngIf]="dataSource.data.length === 0">
        <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
      </ng-template> -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; let idx = index; columns: columnsToDisplay;"
          [ngClass]="{'selected-row' : selectedRowIndex == idx}" (click)="setSelectedRow(row, idx)">
      </tr>
    </table>
  </div>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>


  <div class="no-record">
    <div *ngIf="spinner" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="!spinner && staffMembersList.length == 0">
      <span>No Data Found</span>
    </div>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d7e8f5;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Reset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('New')">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Edit')">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Rename</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Move</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Merge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="deleteStaffMembers()">Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Print</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getSelectedOption('Submit')">Submit</a>
          </li>
        </ul>

      </div>
    </div>

  </nav>

  <!-- Modal Start-->
  <ng-template #staffDataEntryPopup>
    <!-- Modal -->
    <div class="modal-header popHeaderBG">
      <span class="modal-title popHeader" id="exampleModalLabel">Staff Data Entry</span>
      <button type="button" class="btn-close" (click)="selectedRowIndex = null; selectedRow = null; modalRef.hide()"
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="tab-content bg-white" id="myTabContent" style="padding: 20px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form [formGroup]="formGroup" class="form">
            <div class="row flex">
              <div class="col-md-12 flex">
                <div class="col-md-10 flex">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Name</mat-label>
                          <input matInput value="" formControlName="staffName" minlength="3" required>
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Title</mat-label>
                          <input matInput value="" formControlName="title">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group mt-3">
                  <label for="usr">Title</label>
                  <input type="text" class="form-control" [(ngModel)]="title" id="usr">
                </div> -->
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>SS.No</mat-label>
                          <input matInput value="" formControlName="ssn" minlength="3" required>
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group mt-3">
                  <label for="usr">SS.No</label>
                  <input type="text" class="form-control" [(ngModel)]="ssn" id="usr">
                </div> -->
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Codes</mat-label>
                          <input matInput list="codeList" value="" formControlName="codes" minlength="3" required>
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                        <datalist id="codeList">
                          <option *ngFor="let code of codeListArray" [ngValue]="code.name">
                            {{code.name}}</option>
                        </datalist>
                      </div>
                      <!-- <div class="form-group mt-3">
                  <label for="usr">Codes</label>
                  <select class="form-control" id="sel1" [(ngModel)]="codes">
                    <option>111</option>
                    <option>222</option>
                  </select>
                </div> -->
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Spouse Name</mat-label>
                          <input matInput value="" formControlName="spouse">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group mt-3">
                  <label for="usr">Spouse Name</label>
                  <input type="text" class="form-control" id="usr" [(ngModel)]="spouse">
                </div> -->
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Notes</mat-label>
                          <input matInput value="" formControlName="notes">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>

                      <!-- <div class="form-group">
                  <label for="usr">Notes</label>
                  <input type="text" class="form-control" id="usr" [(ngModel)]="notes">
                </div>
              </div> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Custom Field 1</mat-label>
                          <input matInput list="customFieldList1" value="" formControlName="customField1">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                        <datalist id="customFieldList1">
                          <option *ngFor="let code of customFieldListArray1" [ngValue]="code.name">
                            {{code.name}}</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Custom Field 2</mat-label>
                          <input matInput list="customFieldList2" value="" formControlName="customField2">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                        <datalist id="customFieldList2">
                          <option *ngFor="let code of customFieldListArray2" [ngValue]="code.name">
                            {{code.name}}</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Custom Field 3</mat-label>
                          <input matInput list="customFieldList3" value="" formControlName="customField3">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                        <datalist id="customFieldList3">
                          <option *ngFor="let code of customFieldListArray3" [ngValue]="code.name">
                            {{code.name}}</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Custom Field 4</mat-label>
                          <input matInput list="customFieldList4" value="" formControlName="customField4">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                        <datalist id="customFieldList4">
                          <option *ngFor="let code of customFieldListArray4" [ngValue]="code.name">
                            {{code.name}}</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Driver License#</mat-label>
                          <input matInput value="" formControlName="license">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <mat-form-field class="mb-m-6 example-full-width" appearance="fill">
                          <mat-label>Phone Number</mat-label>
                          <input matInput value="" formControlName="staffPhoneNumber">
                          <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                          {{getError('gradeGroupName')}}
                      </mat-error> -->
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Staff ID</mat-label>
                        <input matInput value="" formControlName="id" readonly>
                        <!-- <mat-error *ngIf="formGroup.controls['gradeGroupName'].invalid">
                        {{getError('gradeGroupName')}}
                    </mat-error> -->
                      </mat-form-field>
                    </div>
                    <!-- <div class="form-group">
                <label for="sel1">Staff ID</label>
                <input type="text" disabled class="form-control" value="130" id="usr" [(ngModel)]="id">
              </div> -->
                    <div class="form-group">
                      <div class="row mt-3">
                        <div class="col-md-3">
                          <section class="example-section">
                            <mat-checkbox formControlName="staffActive" class="example-margin">
                              Active
                            </mat-checkbox>
                          </section>
                          <!-- <section class="example-section">
                        <mat-checkbox formControlName="staffActive" class="example-margin">
                          Active
                        </mat-checkbox>
                      </section> -->
                          <!-- <label class="radio-inline">
                    <input type="checkbox" name="optradio" [(ngModel)]="staffActive"> Active
                  </label> -->
                        </div>
                        <div class="col-md-3">
                          <section class="example-section">
                            <mat-checkbox formControlName="staffTutor" class="example-margin">
                              Tutor
                            </mat-checkbox>
                          </section>
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffTutor"> Tutor
                      </label> -->
                        </div>
                        <div class="col-md-3">
                          <section class="example-section">
                            <mat-checkbox formControlName="staffBolt" class="example-margin">
                              Bolt
                            </mat-checkbox>
                          </section>
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffBolt"> Bolt
                      </label> -->
                        </div>
                        <div class="col-md-3">
                          <section class="example-section">
                            <mat-checkbox formControlName="staff" class="example-margin">
                              Staff
                            </mat-checkbox>
                          </section>
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staff"> Staff
                      </label> -->
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffCounselor"> Counselor
                      </label> -->
                          <section class="example-section">
                            <mat-checkbox formControlName="staffCounselor" class="example-margin">
                              Counselor
                            </mat-checkbox>
                          </section>
                        </div>
                        <div class="col-md-4">
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffTeacher"> Teacher
                      </label> -->
                          <section class="example-section">
                            <mat-checkbox formControlName="staffTeacher" class="example-margin">
                              Teacher
                            </mat-checkbox>
                          </section>
                        </div>
                        <div class="col-md-4">
                          <!-- <label class="radio-inline">
                        <input type="checkbox" name="optradio" [(ngModel)]="staffLab"> Lab
                      </label> -->
                          <section class="example-section">
                            <mat-checkbox formControlName="staffLab" class="example-margin">
                              Lab
                            </mat-checkbox>
                          </section>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <label for="sel1">Date of Birth</label>
                      <div class="form-group">
                        <input type=date class="form-control" formControlName="dob" required>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <label for="sel1">Hire Date </label>
                      <div class="form-group">
                        <input type=date class="form-control" formControlName="staffHireDate" required>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <label for="usr">Termination Date</label>
                      <input type=date class="form-control" formControlName="terminationDate" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row text-center"><img src="../../../../../assets/img/photo.png"></div>
                  <!-- <div class="col-md-12 text-center">
                      <input type="submit" value="Upload Files" class="btn btn-sm btn-primary text-center mt-3"
                        formControlName="picture" />
                    </div> -->
                  <div class="row">
                    <button type="button" class="btn btn-v .primary">Upload Profile</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-v .primary" *ngIf="!isEdit" (click)="addStaffMembers();">Save
        &
        Close</button>
      <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="updateSelectedRow();">Update
        &
        Close</button>
      <button type="button" class="btn btn-secondary" id="closePopup"
              (click)="isEdit = false; selectedRowIndex = null;selectedRow = null;modalRef.hide()">Cancel</button>
    </div>
  </ng-template>
  <!-- Modal End-->
</div>
