
<div class="custom-body">
  <div nz-row  class="page-alignment">
    <div nz-col [nzSpan]="10">
      <form nz-form class="staff-form" [nzLayout]="changePasswordForm.get('formLayout')?.value"
        [formGroup]="changePasswordForm">
        <div nz-row [nzGutter]="24" >
          <div nz-col [nzSpan]="24">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="22">
                <nz-form-item class="search-filter-item">
                  <nz-form-control>
                    <input nz-input type="text"  formControlName="email" placeholder="User Email"
                      [(ngModel)]="userName" />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="22">
                <nz-form-item class="form-item search-filter-item">
                  <nz-form-control  nzErrorTip="Input Current Password">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Current Password"
                      formControlName="password" [(ngModel)]="password" />
                    </nz-input-group>
                  </nz-form-control>
                  <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                      (click)="passwordVisible = !passwordVisible"></i>
                  </ng-template>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="22">
                <nz-form-item class="form-item search-filter-item">
                  <nz-form-control  nzValidatingTip="validating..." nzHasFeedback  [nzErrorTip]="passwordErrorTpl">
                    <nz-input-group nzCompact [nzSuffix]="suffixTemplate">
                      <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input placeholder="New Password"
                      formControlName="newPassword" [(ngModel)]="newPassword"/>
                    </nz-input-group>
                  </nz-form-control>

                  <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your new password!</ng-container>
                    <ng-container *ngIf="control.hasError('weak')">Password Requirement Not Met!</ng-container>
                    <ng-container *ngIf="control.hasError('duplicate')">New password can't be same as current password</ng-container>
                  </ng-template>

                  <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                      (click)="newPasswordVisible = !newPasswordVisible"></i>
                  </ng-template>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="22">
                <nz-form-item class="form-item search-filter-item">
                  <nz-form-control   nzValidatingTip="matching..." nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input [type]="confPasswordVisible ? 'text' : 'password'" nz-input placeholder="Confirm Password"
                        [(ngModel)]="confPassword" formControlName="confPassword" (input)="validateConfirmPassword()" />
                    </nz-input-group>
                  </nz-form-control>

                  <ng-template #confirmPasswordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                    <ng-container *ngIf="control.hasError('error')">Password mismatch</ng-container>
                  </ng-template>

                  <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                      (click)="confPasswordVisible = !confPasswordVisible"></i>
                  </ng-template>
                </nz-form-item>

              </div>
            </div>
            <div nz-row *ngIf="!areSecurityQuestionsVisible"  [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
              <nz-form-item class="search-filter-item">
                <nz-form-control>
                  <button nz-button nzType="primary" class="search-filter-btn"  [disabled]="!changePasswordForm.valid" (click)="onPasswordSubmit()">
                    <i nz-icon nzType="save" class="search-filter-icon"></i>
                    Save
                  </button>
                </nz-form-control>
              </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item class="search-filter-item">
                  <nz-form-control>
                    <button nz-button nzType="primary" class="search-filter-btn"  (click)="cancelClick()">
                      <i nz-icon nzType="save" class="search-filter-icon"></i>
                      Cancel
                    </button>
                  </nz-form-control>
                </nz-form-item>
                </div>
                </div>
            </div>
          </div>

          </div>
        </div>
      </form>
      <form nz-form class="staff-form" [nzLayout]="changeSecuiryQuestionsForm.get('formLayout')?.value"
      [formGroup]="changeSecuiryQuestionsForm">
      <div nz-row [nzGutter]="24" >
        <div nz-col [nzSpan]="24">
          <div *ngIf="areSecurityQuestionsVisible" >
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="22">
              <nz-form-item class="search-filter-item">
                <nz-form-control nzErrorTip="Please Select Security Question #1">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Security Question #1" [(ngModel)]="securityQues1"
                    formControlName="securityQues1">
                    <nz-option *ngFor="let sq of securityQuesLst1" [nzLabel]="sq.name" [nzValue]="sq.name">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="22">
              <nz-form-item class="search-filter-item">
                <nz-form-control nzErrorTip="Provide Answer 1">
                  <input nz-input type="text" formControlName="answer1" placeholder="Answer #1" [(ngModel)]="answer1" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="22">
              <nz-form-item class="search-filter-item">
                <nz-form-control nzErrorTip="Select Security Question #2">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Security Question #2" [(ngModel)]="securityQues2"
                    formControlName="securityQues2">
                    <nz-option *ngFor="let sq of securityQuesLst2" [nzLabel]="sq.name" [nzValue]="sq.name">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="22">
              <nz-form-item class="search-filter-item">
                <nz-form-control nzErrorTip="Provide Answer 2">
                  <input nz-input type="text" formControlName="answer2" placeholder="Answer" [(ngModel)]="answer2" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>  
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8">
              <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
            <nz-form-item class="search-filter-item">
              <nz-form-control>
                <button nz-button nzType="primary" class="search-filter-btn"  [disabled]="!changeSecuiryQuestionsForm.valid" (click)="onSecurityQuestionsSubmit()">
                  <i nz-icon nzType="save" class="search-filter-icon"></i>
                  Save
                </button>
              </nz-form-control>
            </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item class="search-filter-item">
                <nz-form-control>
                  <button nz-button nzType="primary" class="search-filter-btn"  (click)="cancelClick()">
                    <i nz-icon nzType="save" class="search-filter-icon"></i>
                    Cancel
                  </button>
                </nz-form-control>
              </nz-form-item>
              </div>
              </div>
          </div>
        </div>

        </div>
      </div>
      </div>
    </form>
    </div>
    <div nz-col [nzSpan]="14">
      <div style="flex: 1;">
        <div class="col-8">
          <h1>Password Requirement</h1>
          <p><strong><i [class]="passwordLength" aria-hidden="true"></i></strong> Must Atleast 12 character (50)
          </p>
          <p><strong><i [class]="isUppercase" aria-hidden="true"></i></strong> Must have an upper case letter (A
            -Z)
          </p>
          <p><strong><i [class]="isLowercase" aria-hidden="true"></i></strong> Must have an upper lower letter (a
            -
            z)</p>
          <p><strong> <i [class]="isNumber" aria-hidden="true"></i></strong> Must have a number (0 - 9)</p>
          <p><strong><i [class]="isSpecialChar" aria-hidden="true"></i></strong> Must have a special
            character/symbol </p>
        </div>
      </div>
    </div>
  </div>
</div>
