.custom-body {
    padding: 2rem;
}

.page-alignment {
    padding: 15px 30px 30px 30px;
    background: white;
    border: 1px solid #1366a0;
}

.form-item {
    border: 1px solid black;
    color: black;
}
.staff-form .lable-style {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.staff-form input[type='text'], .staff-form .ant-select, .staff-form textarea {
    border: 1px solid black;
    color: black;
}

