<div class="container-fluid mt-3" style="background:#EFF4F8;">
  <!-- Full Screen Loader Start -->
  <div id="loading"></div>

  <div class="row bg-white">
    <div class="col-md-12">
      <h3>Change Password</h3>
    </div>
  </div>

<br/>
  <mat-card style="border:2px solid grey;">
    <mat-card-content>

        <p>Change Password</p>

        <div style="display: flex;">
          <div style="flex: 0 0 65%;">
        <div class="form-group first">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="User" [(ngModel)]="userName" disabled style="color:black" required>
          </mat-form-field>
        </div>

        <div class="form-group first">
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Current Password" [(ngModel)]="password" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your password
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group first">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="New Password" (input)="validatePassword()" [(ngModel)]="newPassword" required>
            <mat-error *ngIf="isFieldInvalid('confPassword')">
              Please inform your user name
            </mat-error>
          </mat-form-field>
        </div>


          </div>
        </div>
      <div style="flex: 1;">
        <div class="col-6"> <h1>Password Requirement</h1>
          <p><strong><i [class]="passwordLength" aria-hidden="true"></i></strong> Must Atleast 12 character (50)</p>
          <p><strong><i [class]="isUppercase" aria-hidden="true"></i></strong> Must have an upper case letter (A -Z)</p>
          <p><strong><i [class]="isLowercase" aria-hidden="true"></i></strong> Must have an upper lower letter (a - z)</p>
          <p><strong> <i [class]="isNumber" aria-hidden="true"></i></strong> Must have a number (0 - 9)</p>
          <p><strong><i [class]="isSpecialChar" aria-hidden="true"></i></strong> Must have a special character/symbol </p>
        </div>

      </div>

      <div class="form-group first">
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confirm Password" (input)="passwordMatchCompare()" [(ngModel)]="confPassword" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your password
          </mat-error>

        </mat-form-field>
        <p><strong><i [class]="passwordMatch" aria-hidden="true"></i></strong> Password Matched</p>

      </div>

      <div class="form-group first">
        <mat-form-field class="mat-select-width">
          <mat-select placeholder="Select Security Question" name="securityQues1" [(ngModel)]="securityQues1">
            <mat-option *ngFor="let securityQus1 of securityQuesLst1" [value]="securityQus1">{{ securityQus1 }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <div class="form-group first">
          <mat-form-field class="mat-select-width">
            <input matInput type="text" placeholder="Answer"  [(ngModel)]="answer1" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your password
            </mat-error>
          </mat-form-field>
        </div>


      <div class="form-group first">
        <mat-form-field class="mat-select-width">
          <mat-select placeholder="Select Security Question" name="securityQues2" [(ngModel)]="securityQues2">
            <mat-option *ngFor="let securityQus2 of securityQuesLst2" [value]="securityQus2">{{ securityQus2 }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


        <div class="form-group first">
          <mat-form-field class="mat-select-width">
            <input matInput type="text" placeholder="Answer" [(ngModel)]="answer2" required>
            <mat-error *ngIf="isFieldInvalid('answer2')">
              Please inform your password
            </mat-error>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-v .primary" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-secondary" id="closePopup">Close</button>
        </div>

    </mat-card-content>
  </mat-card>
  <br/><br/>
</div>
